0109---pontuando-sem-cadastro-29F872ZMliPgUIzl.json
{"createdAt":"2025-09-01T14:33:06.476Z","updatedAt":"2025-09-02T16:35:02.000Z","id":"29F872ZMliPgUIzl","name":"0109 - Pontuando Sem Cadastro","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"2be89e87-e9c5-4d50-ab8f-4289a4b0dd34","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,384]},{"parameters":{"documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit#gid=0"},"options":{}},"id":"8f0b6252-fbb0-4f04-a87c-3df660cfe1ba","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,384],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"2e3ce4fe-2ec6-4b55-aab0-231c3ac8efc3","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1888,240]},{"parameters":{},"id":"81e675d7-c15c-4b60-9174-cf04d483d712","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,384]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"7842282c-065f-4764-936b-f17294a47078","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2704,112],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"c3f0a0e5-0840-4b6e-9c11-353c5e091717","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,272]},{"parameters":{"amount":"=1"},"id":"1ce9b35f-2171-4032-bbf5-5dda050a1eb3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2528,112],"webhookId":"9d2747aa-6e06-4dea-9c70-0b0c82357e65"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"0109_pontuando_sem_cadastro\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"image\",\n                        \"image\": {\n                            \"link\": \"https://mobilevet.blob.core.windows.net/arquivos/card0109.jpg\"\n                        }\n                    }\n                ]\n            },\n            {\n                \"type\": \"body\",\n                \"parameters\": []\n\n            }\n        ]\n    }\n}","options":{}},"id":"a3925468-955d-461c-8a04-85e5ea419f51","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,112],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":13}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,208],"id":"94d458cc-4e96-4019-8716-2196f6f539a2","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cb3b267c-4829-46c7-b0f8-5782657d3935","triggerCount":1,"shared":[{"createdAt":"2025-09-01T14:33:06.491Z","updatedAt":"2025-09-01T14:33:06.491Z","role":"workflow:owner","workflowId":"29F872ZMliPgUIzl","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}