03---modelo-lista-fria-KMov6t04PblbtPyH.json
{"createdAt":"2025-06-16T12:22:53.585Z","updatedAt":"2025-06-16T12:23:09.000Z","id":"KMov6t04PblbtPyH","name":"03 - Modelo Lista Fria","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"2d8fc3f3-6b8c-4fd6-9431-c3ea435722a2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,380]},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit?usp=drivesdk","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"options":{}},"id":"e1c86655-2188-488a-bd53-0c0171661ad9","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"aae85302-70d2-4f64-b79b-f31139673d05","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,240]},{"parameters":{},"id":"0bc4d1f2-658a-453e-ae61-fd010dc49377","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3300,460]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I","mode":"list","cachedResultName":"Planilha HD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Loop Over Items').item.json.Telefone }}","Enviado":"SIM"},"matchingColumns":["Telefone"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"2a78bcd6-f4b1-44d8-96bd-55dfe1a5d024","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2880,-40],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10) + 25) }}","path":"39a8d0a1-0907-4ec2-9bdf-0f96206c1f24"},"id":"b5d0c5ff-5693-4234-ac90-29bdbdc3cf4d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,460],"webhookId":"39a8d0a1-0907-4ec2-9bdf-0f96206c1f24"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"38811a4b-38c2-46cc-9dd2-d4ee2589dd61","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,260]},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/talent2025%20(1).mp4","caption":"Há 23 anos, O Talent Hunter Douglas acredita que as melhores conexões nascem de momentos compartilhados. O Talent 2025 mudou para oferecer experiências exclusivas, networking com profissionais de todo o Brasil e conteúdos que impulsionam seu crescimento profissional. Este é o programa para quem desenha o futuro da arquitetura e decoração. Para participar, acesse a nossa plataforma e conheça todas as formas de pontuar para atingir suas metas e viver experiências especiais. Cadastre-se pelo botão abaixo: IMPORTANTE: Para os profissionais já cadastrados no Talent, são necessários os seguintes passos: Clique em “Entrar” Clique em “Não tenho cadastro” Insira seu e-mail cadastrado no Talent e crie uma nova senha Seus dados serão carregados automaticamente. Verifique as informações e finalize o acesso.","options_message":{"delay":1200}},"id":"61433cf0-30a1-4d31-bfe8-c2bf24eb05c9","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}","path":"564914a7-865b-431f-89ef-6c866013b6c4"},"id":"9a56fa94-1704-4c2a-8a70-503f030e8cf4","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,-40],"webhookId":"564914a7-865b-431f-89ef-6c866013b6c4"},{"parameters":{"resource":"messages-api","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"Clique aqui e Cadastre-se: https://talent.hunterdouglas.com.br/auth/signup","options_message":{}},"id":"a580395d-2508-4d1d-8873-f50896f13b3f","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c1f713-0f6d-4c9a-8af9-6aa2b279b684","leftValue":"={{ $('Google Sheets').item.json.row_number % 2 === 0 }}","rightValue":"0","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,100],"id":"4fbe43e4-d884-4289-bf1e-309b7032ea6e","name":"If1"},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"Talent 2025 Chip 2","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/talent2025%20(1).mp4","caption":"Há 23 anos, O Talent Hunter Douglas acredita que as melhores conexões nascem de momentos compartilhados. O Talent 2025 mudou para oferecer experiências exclusivas, networking com profissionais de todo o Brasil e conteúdos que impulsionam seu crescimento profissional. Este é o programa para quem desenha o futuro da arquitetura e decoração. Para participar, acesse a nossa plataforma e conheça todas as formas de pontuar para atingir suas metas e viver experiências especiais. Cadastre-se pelo botão abaixo: IMPORTANTE: Para os profissionais já cadastrados no Talent, são necessários os seguintes passos: Clique em “Entrar” Clique em “Não tenho cadastro” Insira seu e-mail cadastrado no Talent e crie uma nova senha Seus dados serão carregados automaticamente. Verifique as informações e finalize o acesso.","options_message":{"delay":1200}},"id":"f85c9698-053a-4058-9f31-bc78702682df","name":"Evolution API2","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}","path":"b40995e3-fc2e-4e38-af7d-f1a89e7b0c62"},"id":"15e42f4f-8f0d-4e05-ab20-d3fc61f12c35","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,180],"webhookId":"b40995e3-fc2e-4e38-af7d-f1a89e7b0c62"},{"parameters":{"resource":"messages-api","instanceName":"Talent 2025 Chip 2","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"Clique aqui e Cadastre-se: https://talent.hunterdouglas.com.br/auth/signup","options_message":{}},"id":"9361c2d1-e08e-4fee-a0e4-6b242f239689","name":"Evolution API3","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2bc4f87-44dc-46e7-b649-31280b2fdbe3","triggerCount":0,"shared":[{"createdAt":"2025-06-16T12:22:53.588Z","updatedAt":"2025-06-16T12:22:53.588Z","role":"workflow:owner","workflowId":"KMov6t04PblbtPyH","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}