0407---cadastrados-1Sl7KVPeYgFD1Ocn.json
{"createdAt":"2025-07-04T11:25:28.943Z","updatedAt":"2025-07-04T15:38:37.000Z","id":"1Sl7KVPeYgFD1Ocn","name":"0407 - Cadastrados","active":false,"nodes":[{"parameters":{},"id":"e1d697b2-47b0-428d-9d4d-e0640242f5b8","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,380]},{"parameters":{"documentId":{"__rl":true,"value":"1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng","mode":"list","cachedResultName":"2106-Cadastrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng/edit#gid=0"},"options":{}},"id":"ea6eca77-d0cf-4b6c-a076-f285d67d0900","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"09a3431d-d902-4dff-bce7-27d9acb48bc4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,240]},{"parameters":{},"id":"a1ba8e6a-066e-4c0e-9a0b-81d9c0c2b8bf","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2920,380]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng","mode":"list","cachedResultName":"2106-Cadastrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"0135d2f2-39a5-46d7-bf5f-c750c41c2716","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2700,100],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"50434531-2250-49e5-977c-bc8f4170f406","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,260]},{"parameters":{"amount":"=1"},"id":"18701827-2d86-4eca-936c-47386aedf083","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2520,100],"webhookId":"c0109061-83be-4611-9f6f-80503277d7d0"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"3006_cadastrados\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"image\",\n                        \"image\": {\n                            \"link\": \"https://mobilevet.blob.core.windows.net/arquivos/card-casacor-v2.jpg\"\n                        }\n                    }\n                ]\n            },\n            {\n                \"type\": \"body\",\n                \"parameters\": []\n\n            }\n        ]\n    }\n}","options":{}},"id":"b477ab48-9b63-4aa9-957f-e10611c695d4","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2340,100],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e891e7b-f55b-43d2-a7e6-12cff9a7b8b0","triggerCount":1,"tags":[]}