1405_slide1-QwkaXPByxQxQ85sP.json
{"createdAt":"2025-05-14T17:07:51.895Z","updatedAt":"2025-05-28T12:04:02.000Z","id":"QwkaXPByxQxQ85sP","name":"1405_Slide1","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e9953cf3-8a1a-44f9-9b7d-abc19819f921","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,380]},{"parameters":{"documentId":{"__rl":true,"value":"1iK24mR_ocdqmbXHguulqVjtpzmgNeMnMnPDtzL_WlJY","mode":"list","cachedResultName":"1405_Duette","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iK24mR_ocdqmbXHguulqVjtpzmgNeMnMnPDtzL_WlJY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iK24mR_ocdqmbXHguulqVjtpzmgNeMnMnPDtzL_WlJY/edit#gid=0"},"options":{}},"id":"d8ed06fa-055c-4372-ab52-5aedc3382f13","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"6b707314-a771-4c20-a1af-d0540ea785a7","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,240]},{"parameters":{},"id":"eaa898f2-0b15-47db-974e-613d6a23ad6e","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2920,380]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1iK24mR_ocdqmbXHguulqVjtpzmgNeMnMnPDtzL_WlJY","mode":"list","cachedResultName":"1405_Duette","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iK24mR_ocdqmbXHguulqVjtpzmgNeMnMnPDtzL_WlJY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"c9e84f3b-72b7-41fc-9dca-4fd5df903e0f","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2700,100],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"fbbebce4-1d07-4361-bda3-a3a8105be1f1","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,260]},{"parameters":{"amount":"=1"},"id":"e767f2d7-516c-42d8-b5c7-e672fd224e5d","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2520,100],"webhookId":"5a48800c-5207-49cc-938e-0b75d8495d4b"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"1405_duette\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"image\",\n                        \"image\": {\n                            \"link\": \"https://mobilevet.blob.core.windows.net/arquivos/Disparo_14_05.jpg\"\n                        }\n                    }\n                ]\n            },\n            {\n                \"type\": \"body\",\n                \"parameters\": []\n\n            }\n        ]\n    }\n}","options":{}},"id":"81a87048-5c51-4564-841d-e58e5fee3a4c","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2340,100],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2983bda-9ce0-447f-add4-a5ed6c48e7de","triggerCount":0,"shared":[{"createdAt":"2025-05-14T17:07:51.904Z","updatedAt":"2025-05-14T17:07:51.904Z","role":"workflow:owner","workflowId":"QwkaXPByxQxQ85sP","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}