1507---pesquisa-destino-3241ZMIKe7XGbElG.json
{"createdAt":"2025-07-14T18:55:01.484Z","updatedAt":"2025-07-18T11:22:03.000Z","id":"3241ZMIKe7XGbElG","name":"1507 - Pesquisa Destino","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"989f0559-d990-4d69-a7f0-ccdf5840059c","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,380]},{"parameters":{"documentId":{"__rl":true,"value":"1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng","mode":"list","cachedResultName":"2106-Cadastrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng/edit#gid=0"},"options":{}},"id":"c293f2e5-a8dd-40b9-aee1-d4443e80b9e8","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"eb7ed134-681f-4020-b345-d7ed0b805a06","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,240]},{"parameters":{},"id":"7643cad5-0501-4a67-9e38-a12952a228de","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2920,380]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng","mode":"list","cachedResultName":"2106-Cadastrados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QOI3rOrprtYoQHZ97FnJbodV_cY4fIEIFt_9Xirjgng/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"78a5edc5-4f16-47d3-bbd1-6875be415316","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2700,100],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"776e2fcc-f849-4315-a1b0-59ae631e1f09","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,260]},{"parameters":{"amount":"=1"},"id":"49e9cf95-f5e1-4e63-994b-d109e7a70462","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2520,100],"webhookId":"59616449-fea3-4574-b944-4ea855df4ee6"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"1507_pesquisa_destino\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"video\",\n                        \"video\": {\n                            \"link\": \"https://mobilevet.blob.core.windows.net/arquivos/video_pesquisa_destino.mp4\"\n                        }\n                    }\n                ]\n            },\n            {\n                \"type\": \"body\",\n                \"parameters\": []\n            }\n        ]\n    }\n}","options":{}},"id":"eeb9116e-c25a-41ec-8970-8b8b7d9b3de3","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2340,100],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,200],"id":"39e85b53-2963-4fd1-8261-329e72ef2e9a","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1b898aa5-7caa-4679-a42a-56694d6ec1fb","triggerCount":1,"shared":[{"createdAt":"2025-07-14T18:55:01.493Z","updatedAt":"2025-07-14T18:55:01.493Z","role":"workflow:owner","workflowId":"3241ZMIKe7XGbElG","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}