1709---ette-BSXeb1t9lMssPmKI.json
{"createdAt":"2025-09-16T20:25:25.007Z","updatedAt":"2025-09-17T20:28:43.000Z","id":"BSXeb1t9lMssPmKI","name":"1709 - Ette","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"ceac9914-17cc-4225-b2d4-9429c8cef3ff","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,384]},{"parameters":{"documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit#gid=0"},"options":{}},"id":"39ee4e4a-8cb8-407a-bc6d-a3da96ecc458","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,384],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"e321c020-cb7d-4cca-85fa-bcffed8c8b3d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1888,240]},{"parameters":{},"id":"cc8268a8-470e-4b7b-a9a5-f712c5eb33a0","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,384]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"85b48db5-0579-40a5-a76a-7c976c6e51df","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2704,112],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"a361966b-d96d-408b-bb97-d3fb7fd801cb","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,272]},{"parameters":{"amount":"=1"},"id":"a382852e-d7bb-412a-a529-8846ae9d5e5c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2528,112],"webhookId":"520420fc-09eb-4cd2-bdac-04c7f226658a"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"1709_ette_cadastrados\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"image\",\n                        \"image\": {\n                            \"link\": \"https://mobilevet.blob.core.windows.net/arquivos/card-ette.jpg\"\n                        }\n                    }\n                ]\n            }\n        ]\n    }\n}","options":{}},"id":"fb1867d9-8717-47bf-8eff-2333c5b672c3","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,112],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,208],"id":"6fabddb3-fa27-408d-9c51-566cc69db0a5","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ad07979-3792-48f9-b73b-73be91474fa1","triggerCount":1,"shared":[{"createdAt":"2025-09-16T20:25:25.020Z","updatedAt":"2025-09-16T20:25:25.020Z","role":"workflow:owner","workflowId":"BSXeb1t9lMssPmKI","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}