2010---highlights-rj-HtW7PDzYS8fkRrik.json
{"updatedAt":"2025-10-20T12:50:14.000Z","createdAt":"2025-10-20T12:45:07.474Z","id":"HtW7PDzYS8fkRrik","name":"2010 - Highlights RJ","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a9c0b5cd-83d0-458e-8f3e-05d91c3b4204","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,384]},{"parameters":{"documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit#gid=0"},"options":{}},"id":"fe46e5d6-efd1-4411-9f79-29a9286022bb","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,384],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"7acc7235-967b-43e3-9fc3-d80f8ccf9898","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1888,240]},{"parameters":{},"id":"3a2f3f52-4c72-4a97-9959-79f895ccbd35","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,384]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"1970d89c-94b5-42ea-8adf-47981fb0f501","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2704,112],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"947e00d8-981e-4c3f-9d2d-8ffd39012beb","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,272]},{"parameters":{"amount":"=1"},"id":"79974ed3-c03c-4726-b408-570a754c54b3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2528,112],"webhookId":"af51309b-a539-448e-88ab-25cda0c91078"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"2010_highligths_rj\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"video\",\n                        \"video\": {\n                            \"https://mobilevet.blob.core.windows.net/arquivos/talent_vertical_2.mp4\"\n                        }\n                    }\n                ]\n            }\n        ]\n    }\n}","options":{}},"id":"c6d5395e-a5f8-4838-b8f9-4878934d6b09","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,112],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,208],"id":"6330387f-9f23-47d9-adea-ef97057237f0","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b09d36c4-6bc5-43d9-b8f9-b4bbbec064eb","triggerCount":1,"shared":[{"updatedAt":"2025-10-20T12:45:07.481Z","createdAt":"2025-10-20T12:45:07.481Z","role":"workflow:owner","workflowId":"HtW7PDzYS8fkRrik","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}