2207---beneficios-1-XhFRfeWtaVsTK4oR.json
{"createdAt":"2025-07-22T10:34:10.973Z","updatedAt":"2025-07-25T11:33:54.000Z","id":"XhFRfeWtaVsTK4oR","name":"2207 - Beneficios 1","active":false,"nodes":[{"parameters":{},"id":"b8970789-a485-487e-be1b-70f8b6f2bdf6","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,380]},{"parameters":{"documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit#gid=0"},"options":{}},"id":"c7f5d8f8-78ae-4846-b35f-15c7088246f6","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"9ac5ccd7-185d-4a90-99d0-e2bc1390127c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,240]},{"parameters":{},"id":"144b0916-1e2c-43ec-b74b-5ad9b74c1c81","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2920,380]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"b57fd5fb-14e1-4acd-abc8-90fbaf128f08","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2700,100],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"ef57a6a4-9391-4b96-93d2-a67e559a0bc6","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,260]},{"parameters":{"amount":"=1"},"id":"b69688f7-1d34-408b-b03a-653d515e1abe","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2520,100],"webhookId":"16cc11e5-9440-44a1-9799-39829d8bc56b"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"2207_beneficios1_cadastrados\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [            \n            {\n                \"type\": \"body\",\n                \"parameters\": [\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"{{ $('Google Sheets').item.json.Nome }}\"\n                    }\n                ]\n\n            }\n        ]\n    }\n}","options":{}},"id":"6a6beded-f79d-43fe-82ea-7ea00cf98500","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2340,100],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,200],"id":"97d47c23-ad83-414d-8209-0087c370d463","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5bbd7ac3-571e-4bbd-bca1-14c72402e26d","triggerCount":1,"tags":[]}