2405_slide1_com_nome-nfdmj7QbZi3ejD4m.json
{"createdAt":"2025-05-23T17:16:03.485Z","updatedAt":"2025-05-28T12:03:23.000Z","id":"nfdmj7QbZi3ejD4m","name":"2405_Slide1_Com_Nome","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1f03a0a3-98a8-461a-a0d2-967dc7997d42","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1360,380]},{"parameters":{"documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit#gid=0"},"options":{}},"id":"5b34e317-af15-468b-b94b-d83846f6a166","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"94e02af7-69ff-46ea-b31e-cc6b1afae9d9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,240]},{"parameters":{},"id":"a770e6d5-c4e6-4f5e-9feb-43b52dea4a0b","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2920,380]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc","mode":"list","cachedResultName":"Planilha HD - Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jk-yWMnM96Xx22dIVsG8kPpyuCiHLsj3QCVB3P9K884/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"=+551151989942"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"fc95fb12-205e-469f-acb3-e802809abc73","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2700,100],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"8c717fe5-303a-4dd8-95d1-59ecc7b9e8db","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,260]},{"parameters":{"amount":"=1"},"id":"118bd8a1-8b7f-4e66-9f30-04bda178e655","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2520,100],"webhookId":"ea7dd86e-b241-43cf-b9a5-f742d8d049e3"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/576678365532139/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"+55{{ $('Google Sheets').item.json.Telefone }}\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"2405_slide1\",\n        \"language\": {\n            \"code\": \"pt_BR\"\n        },\n        \"components\": [\n            {\n                \"type\": \"header\",\n                \"parameters\": [\n                    {\n                        \"type\": \"image\",\n                        \"image\": {\n                            \"link\": \"https://mobilevet.blob.core.windows.net/arquivos/disparo_24_05_card.png\"\n                        }\n                    }\n                ]\n            },\n            {\n                \"type\": \"body\",\n                \"parameters\": [\n                    {\n                        \"type\": \"text\",\n                        \"text\": \"{{ $('Google Sheets').item.json.Nome }}\"\n                    }\n                ]\n\n            }\n        ]\n    }\n}","options":{}},"id":"93685325-ec62-4f1d-9e4b-1f69fef30da2","name":"Registrar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2340,100],"credentials":{"whatsAppApi":{"id":"l3nIWHvQlOpPbtAx","name":"WhatsApp account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Registrar","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Registrar":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"51a0e67f-20e2-44e8-a72e-2f8efc3cf773","triggerCount":0,"shared":[{"createdAt":"2025-05-23T17:16:03.501Z","updatedAt":"2025-05-23T17:16:03.501Z","role":"workflow:owner","workflowId":"nfdmj7QbZi3ejD4m","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}