[ig]-carousel-on-ig-q77q9HyEHINGPBSw.json
{"updatedAt":"2025-12-09T18:37:07.268Z","createdAt":"2025-12-09T18:37:07.268Z","id":"q77q9HyEHINGPBSw","name":"[IG] Carousel on IG","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","queryString":"=","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"url","value":"={{ $('Get Execution for Carousel').item.json.Folder }}"}},"options":{"fields":["id","name","thumbnailLink","webViewLink"]}},"id":"fbf653a4-275c-41c9-9596-9159329c8ff5","name":"Get image list from a Google Drive folder1","type":"n8n-nodes-base.googleDrive","position":[-1952,288],"typeVersion":3},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g/edit?usp=drivesdk","cachedResultName":"0004_Master"},"sheetName":{"__rl":true,"mode":"list","value":1315784118,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g/edit#gid=1315784118","cachedResultName":"Execute "},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"ToDo"},{"lookupColumn":"Type","lookupValue":"Carousel"}]},"options":{}},"id":"6fcc42d9-7eb3-4044-be05-79e0438bc97a","name":"Get Execution for Carousel","type":"n8n-nodes-base.googleSheets","position":[-2368,288],"typeVersion":4.6},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"c4f26570-3bde-4e08-b158-bde708103e7b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2624,288],"typeVersion":1.2},{"parameters":{"content":"## 📸 Instagram Carousel Automation Flow (Simplified)\n\n### 🧩 Overview\n\n#### This n8n workflow automatically creates and publishes **Instagram Carousel posts** using data from a Google Sheet. It checks for content scheduled to be posted (marked by user as \"ToDo\"). The flow is scheduled to check the Google Sheet every 5 minutes.\n#### Once eligible content is found, the flow uploads images from the Google Drive folder to Cloudinary, prepares media containers via the Instagram Graph API, and publishes the carousel post.\n---\n## Preparation\n- Google Sheet file - [Sample](https://docs.google.com/spreadsheets/d/1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g/edit?usp=sharing)\n- Cloudinary account: How to set up Cloudinary - [Link](https://docs.google.com/document/d/1_KUPrmX0Df_WhsRvGvauWDkn5c__OLib/edit)\n- Instagram: access_token and ig_business_id\n\n\n## 🔁 Flow Steps\n#### 0. Preparation \n- Upload images to a Google Drive folder ([Sample](https://drive.google.com/drive/u/1/folders/1QYYlHaSXNj7pTV0gNhKVKPPhImrZAy84))\n- On the Google Sheet - Master file ([Sample](https://docs.google.com/spreadsheets/d/1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g/edit?usp=sharing)): Add a new record - input the folder link and IG contents \n- Change the status to \"ToDo\" for the Trigger\n\n#### 1. 🕒 Trigger (Scheduled)\n- **Node**: Schedule Trigger\n- **Runs**: Every 5 minutes (or any chosen interval)\n\n---\n\n#### 2. 📄 Read Google Sheet\n- **Node**: Google Sheets ([Sample](https://docs.google.com/spreadsheets/d/1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g/edit?usp=sharing))\n- **Operation**: Read all rows\n- **Columns Used**:\n  - `ExecuteId`\n  - `Folder` ([Google Drive folder URL](https://drive.google.com/drive/u/1/folders/1ZdlOczJHCTGcvWuzJ4CvzAa_9r0cXf5n))\n  - `Expected content` (used as caption)\n  - `Status` (must be `\"ToDo\"`)\n  - `Type` (should be `\"Carousel\"`)\n\n---\n\n### 3. ⏰ Filter Rows by Schedule\n- **Node**: Function\n- **Goal**: Keep only rows where:\n  - `Status` is `\"ToDo\"`","height":1074,"width":904},"id":"72e70d67-33c0-4e2f-8c12-1940e4091bc8","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-3632,-48],"typeVersion":1},{"parameters":{"content":"After creating account and folder on Cloudinary, make sure to update the following:\n<your-cloud-name>\n<your_upload_preset>\nto match your settings\n","height":354,"width":304},"id":"1222e753-10bf-4287-bb6c-6aba3640c111","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1312,128],"typeVersion":1},{"parameters":{"content":"The Google Drive folder needs to be shared publicly (Anyone with the link can view)","height":354,"width":284},"id":"0d17323c-3d9e-40ca-be5c-a72933073fa3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2032,144],"typeVersion":1},{"parameters":{"content":"Update your instagram information below\n<your-instagram-access-token>\n<your-ig_user_id>","height":354,"width":304},"id":"e07abb90-af22-498f-a306-f7d624e8e1ae","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-928,128],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/<your-cloud-name>/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"upload_preset","value":"<your_upload_preset>"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"ed294a51-e804-47d1-83d4-82292cb3f0fb","name":"Upload images to Cloudinary","type":"n8n-nodes-base.httpRequest","position":[-1184,288],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"5b2dad43-2ec9-4bc0-8427-c9bab6a5fc2c","name":"access_token","type":"string","value":"<your-instagram-access-token>"},{"id":"55b08009-fd62-44b8-b21e-6dde6aa9594f","name":"ig_user_id","type":"string","value":"<your-ig_user_id>"},{"id":"53127a63-5583-4a5b-84bf-d2efd439af2b","name":"image_url","type":"string","value":"={{ $json.url }}"},{"id":"90a680ca-49c2-4b83-bbf4-45614e882c01","name":"caption","type":"string","value":"={{ $('Get Execution for Carousel').item.json['Expected content'] }}"}]},"options":{}},"id":"57fcac98-763d-4711-81de-c17cf535a1c7","name":"Setup for Instagram (access token, ig_business_id)","type":"n8n-nodes-base.set","position":[-832,288],"typeVersion":3.4},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $json.id }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"id":"1866cb84-d916-43b4-9d77-a818b3df97c5","name":"Download Image from Google Drive (Carousel)","type":"n8n-nodes-base.httpRequest","position":[-1536,288],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.ig_user_id }}/media","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $json.image_url }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"access_token","value":"={{ $json.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"3d8f5124-b985-46ed-b578-29feaa5b14b1","name":"Create Media Container (Image)","type":"n8n-nodes-base.httpRequest","position":[-512,288],"typeVersion":4.2},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"body.id"}]},"options":{"mergeLists":true}},"id":"30cfc148-b4e2-4003-b4d1-5d842fe2dbd9","name":"Combine Instagram media containers","type":"n8n-nodes-base.aggregate","position":[-224,288],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Setup for Instagram (access token, ig_business_id)').first().json.ig_user_id }}/media","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"caption","value":"={{ $('Get Execution for Carousel').item.json['Expected content'] }}"},{"name":"media_type","value":"=CAROUSEL"},{"name":"children","value":"={{ $json.id }}"},{"name":"access_token","value":"={{ $('Setup for Instagram (access token, ig_business_id)').first().json.access_token }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"24b161c2-e86c-4de7-ae4d-7551d8f674e7","name":"Create Media Container (Carousel)","type":"n8n-nodes-base.httpRequest","position":[96,288],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Setup for Instagram (access token, ig_business_id)').first().json.ig_user_id }}/media_publish","sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.body.id }}"},{"name":"access_token","value":"={{ $('Setup for Instagram (access token, ig_business_id)').first().json.access_token }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"d2b18ebf-2b38-4127-afdb-c5f2e2c610c7","name":"Publish Instagram Carousel","type":"n8n-nodes-base.httpRequest","position":[416,288],"typeVersion":4.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g/edit?usp=drivesdk","cachedResultName":"0004_Master"},"sheetName":{"__rl":true,"mode":"list","value":1315784118,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WEUHeQXFMYsWVAW3DykWwpANxxD3DxH-S6c0i06dW1g/edit#gid=1315784118","cachedResultName":"Execute "},"columns":{"value":{"Status":"Processed","ExecuteId":"={{ $('Get Execution for Carousel').item.json.ExecuteId }}"},"schema":[{"id":"ExecuteId","type":"string","display":true,"removed":false,"required":false,"displayName":"ExecuteId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Folder","type":"string","display":true,"removed":true,"required":false,"displayName":"Folder","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Expected content","type":"string","display":true,"removed":true,"required":false,"displayName":"Expected content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Language","type":"string","display":true,"removed":true,"required":false,"displayName":"Language","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Type","type":"string","display":true,"removed":true,"required":false,"displayName":"Type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Schedule_at","type":"string","display":true,"removed":false,"required":false,"displayName":"Schedule_at","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["ExecuteId"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e774750f-ce9c-48ef-89c0-b63ea1b7fda2","name":"Update Execute to \"Processed\"","type":"n8n-nodes-base.googleSheets","position":[672,288],"typeVersion":4.6}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Execution for Carousel","type":"main","index":0}]]},"Get Execution for Carousel":{"main":[[{"node":"Get image list from a Google Drive folder1","type":"main","index":0}]]},"Publish Instagram Carousel":{"main":[[{"node":"Update Execute to \"Processed\"","type":"main","index":0}]]},"Upload images to Cloudinary":{"main":[[{"node":"Setup for Instagram (access token, ig_business_id)","type":"main","index":0}]]},"Create Media Container (Image)":{"main":[[{"node":"Combine Instagram media containers","type":"main","index":0}]]},"Create Media Container (Carousel)":{"main":[[{"node":"Publish Instagram Carousel","type":"main","index":0}]]},"Combine Instagram media containers":{"main":[[{"node":"Create Media Container (Carousel)","type":"main","index":0}]]},"Get image list from a Google Drive folder1":{"main":[[{"node":"Download Image from Google Drive (Carousel)","type":"main","index":0}]]},"Download Image from Google Drive (Carousel)":{"main":[[{"node":"Upload images to Cloudinary","type":"main","index":0}]]},"Setup for Instagram (access token, ig_business_id)":{"main":[[{"node":"Create Media Container (Image)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"259295c7-f06d-44c7-8f39-80e7bf6cdf21","triggerCount":0,"shared":[{"updatedAt":"2025-12-09T18:37:07.272Z","createdAt":"2025-12-09T18:37:07.272Z","role":"workflow:owner","workflowId":"q77q9HyEHINGPBSw","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}