analise-setores-alvo-VpFMcXWaChXn1Zuo.json
{"createdAt":"2025-06-26T01:38:12.653Z","updatedAt":"2025-06-26T01:53:40.000Z","id":"VpFMcXWaChXn1Zuo","name":"Analise Setores Alvo","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ab708788-0d18-464e-9593-fe0f9cd5a99d","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,-80],"id":"c99ceaad-e589-4dbc-aa25-d83933812009","name":"Webhook","webhookId":"ab708788-0d18-464e-9593-fe0f9cd5a99d"},{"parameters":{"promptType":"define","text":"=Você é um(a) analista de inteligência competitiva e marketing B2B.\n\n\n\nReceberá **duas listas** na entrada:\n\n1. `Setores` – segmentos que a empresa atende.  \n\n2. `Websites` – URLs de clientes, cada uma associada a um dos setores.\n\n\n\nEntregue um **único objeto JSON** conforme o SCHEMA DE SAÍDA a seguir.\n\n\n\n══════════════════════════════════════════════════════════════════\n\nSCHEMA DE SAÍDA\n\n{\n\n  \"Analises\": [\n\n    {\n\n      \"Setor\": {\n\n        \"Nome\": \"\",\n\n        \"VisaoGeral\": \"\",                     // 1–2 frases\n\n        \"PrincipaisTendencias\": [],           // até 5 itens\n\n        \"OportunidadesEstrategicas\": [],      // até 5 itens\n\n        \"Ameacas\": [],                        // até 5 itens\n\n        \"BenchmarkCompetitivo\": []            // até 5 concorrentes (nome + 1 frase)\n\n      },\n\n\n\n      \"Website\": {\n\n        \"URL\": \"\",\n\n        \"Empresa\": \"\",                        // Se identificável; senão \"Indisponível\"\n\n        \"PropostaDeValor\": \"\",                // 1–2 frases\n\n        \"Forcas\": [],                         // até 5 itens\n\n        \"Fraquezas\": []                       // até 5 itens\n\n      },\n\n\n\n      \"PersonasAtores\": [                    // Somente papéis internos do setor/empresa\n\n        {\n\n          \"NomePersona\": \"\",                 // Ex.: “Gestor de TI”, “Comprador Sênior”\n\n          \"PapelOrganizacional\": \"\",         // Cargo ou função\n\n          \"Departamento\": \"\",                // Área (TI, Compras, Operações…)\n\n          \"NivelDecisao\": \"\",                // Ex.: “Decisor”, “Influenciador”, “Usuário”\n\n          \"Resumo\": \"\",                      // 1 frase-síntese\n\n          \"Objetivos\": [],                   // até 4 itens\n\n          \"Desafios\": [],                    // até 4 itens\n\n          \"Motivacoes\": [],                  // até 4 itens\n\n          \"MensagemChave\": \"\"                // 1 frase de comunicação\n\n        }\n\n        // até 3 personas-atores por website\n\n      ],\n\n\n\n      \"InsightsEspecificos\": [               // Recomendações acionáveis (máx. 5)\n\n        // …\n\n      ],\n\n\n\n      \"Referencias\": []                      // Fontes externas abreviadas\n\n    }\n\n    // Repita para cada combinação setor-site\n\n  ],\n\n\n\n  \"SumarioPorSetor\": [\n\n    {\n\n      \"Nome\": \"\",\n\n      \"InsightsMacro\": [],                   // até 5 oportunidades & riscos\n\n      \"TotalEmpresasAnalisadas\": 0\n\n    }\n\n    // 1 entrada por setor\n\n  ],\n\n\n\n  \"InsightsGerais\": [                        // Recomendações transversais (até 10)\n\n    // …\n\n  ]\n\n}\n\n══════════════════════════════════════════════════════════════════\n\n\n\nREGRAS DE GERAÇÃO\n\n1. **Saída exclusivamente JSON** – sem texto extra.  \n\n2. Respeite os limites de frases e itens.  \n\n3. Use \"Indisponível\" se não puder determinar algo.  \n\n4. Cite URLs/nomes de fonte em `\"Referencias\"`.  \n\n5. Todo o conteúdo em português brasileiro.\n\n\n\nENTRADA (exemplo – substitua pelos seus dados)\n\n{\n\n  \"Setores\": {{ $json.setores }},\n\n  \"Websites\": {{ $json.sites_clientes }}\n\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-20,-80],"id":"a85b1ba6-32c7-4a9a-85cf-dbd462440f6e","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[340,-80],"id":"0425489a-7a6e-4bdc-acb6-cfb5c8892164","name":"Respond to Webhook"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-80,120],"id":"005b507f-3894-4ced-afda-3637952c52eb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zK1vgAmgjH5oZvXs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f9278ff-8b41-4a03-b6eb-d52e62fd8fb8","name":"setores","value":"={{ $json.body.setores }}","type":"string"},{"id":"4e7f66f1-a629-4373-9670-c8cefc499aa4","name":"sites_clientes","value":"={{ $json.body.sites }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-80],"id":"7533cc8f-4d74-4294-bd4a-16ab040040bf","name":"Parametros"}],"connections":{"Webhook":{"main":[[{"node":"Parametros","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Parametros":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.rasystem.com.br","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"65","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","origin":"http://localhost:8080","priority":"u=1, i","referer":"http://localhost:8080/","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"187.10.63.101","x-forwarded-host":"n8n.rasystem.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d86866f6c973","x-real-ip":"187.10.63.101"},"params":{},"query":{},"body":{"setores":["Marketing"],"sites":["https://www.riseretail.com/"]},"webhookUrl":"https://n8n.rasystem.com.br/webhook-test/ab708788-0d18-464e-9593-fe0f9cd5a99d","executionMode":"test"}}]},"versionId":"4605d4aa-62fc-4f0a-8a20-c2fa6a58a144","triggerCount":1,"tags":[]}