balanceador-disparos-whatsapp-YJnP4hiWT0obkY2k.json
{"createdAt":"2025-06-16T19:34:30.717Z","updatedAt":"2025-06-22T14:38:46.000Z","id":"YJnP4hiWT0obkY2k","name":"Balanceador Disparos Whatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"saida\": \"a string\",\n  \"lista_instancia\": [],\n  \"ultimo_disparo\" : 1\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"573cd19c-6d1c-4b8b-b708-0882bd2e2a2c","name":"When Executed by Another Workflow"},{"parameters":{"language":"python","pythonCode":"# Importa a tipagem para melhor clareza, embora seja opcional no n8n.\nfrom typing import List\n\n# --------------------------------------------------------------------\n# 1. FUNÇÃO MODIFICADA (retorna o índice)\n# --------------------------------------------------------------------\ndef definir_indice_instancia(\n    saida: str,\n    lista_instancia: List[str],\n    ultimo_disparo: int\n) -> int:\n    \"\"\"\n    Define o ÍNDICE do item a ser retornado com base em uma lista e no último índice.\n    \"\"\"\n    # Se a lista estiver vazia, não há índice válido.\n    if not lista_instancia:\n        return None\n\n    # Caso 1: Se a lista tem um único item, o índice é sempre 0.\n    if len(lista_instancia) == 1:\n        return 0\n\n    # Caso 2: Se 'saida' não for vazia e estiver na lista, retorna o índice de 'saida'.\n    if saida and saida in lista_instancia:\n        return lista_instancia.index(saida)\n\n    # Caso 3: 'saida' é vazia ou não está na lista.\n    # Calcula e retorna o próximo índice de forma circular.\n    proximo_indice = (ultimo_disparo + 1) % len(lista_instancia)\n    return proximo_indice\n\n\n# --------------------------------------------------------------------\n# 2. CÓDIGO DE EXECUÇÃO DO N8N\n# --------------------------------------------------------------------\n# O n8n passa os dados de entrada na variável 'items'.\n# Vamos processar cada item que chega ao nó.\n\nnovos_itens = []\n\nfor item in items:\n    # Pega os parâmetros do JSON de cada item de entrada.\n    saida_input = item.json.get(\"saida\", \"\")\n    lista_input = item.json.get(\"lista_instancia\", [])\n    ultimo_disparo_input = item.json.get(\"ultimo_disparo\", 0)\n\n    # Executa a função principal para obter o ÍNDICE.\n    indice_final = definir_indice_instancia(\n        saida=saida_input,\n        lista_instancia=lista_input,\n        ultimo_disparo=ultimo_disparo_input\n    )\n\n    # Adiciona o resultado (o índice) em um novo campo chamado 'indice_definido'.\n    item.json['indice_definido'] = indice_final\n\n    # Adiciona o item modificado à lista de novos itens.\n    novos_itens.append(item)\n\n# Retorna a lista de itens processados para o próximo nó do workflow.\nreturn novos_itens"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[420,0],"id":"018d00ce-1f03-42ae-821a-57b875f94c1b","name":"Code"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"saida\": \"{{ $json.saida }}\",\n  \"lista_instancia\": {{ $json.lista_instancia }},\n  \"ultimo_disparo\": {{ $json.ultimo_disparo }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"ed8e0e32-94f4-4481-8b0a-50ba1c497227","name":"items"},{"parameters":{"assignments":{"assignments":[{"id":"1a9fc17c-5a95-4272-aa73-ef6e49975fab","name":"result","value":"={{ $json.indice_definido }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,0],"id":"314131ec-0465-42b7-841e-29ce700f2167","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"items":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"saida":"","lista_instancia":["Chip3","Chip5","Chip6"],"ultimo_disparo":1}}]},"versionId":"b912003e-077d-4d81-9cb1-4ec4759035d2","triggerCount":0,"shared":[{"createdAt":"2025-06-16T19:34:30.727Z","updatedAt":"2025-06-16T19:34:30.727Z","role":"workflow:owner","workflowId":"YJnP4hiWT0obkY2k","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}