bom-dia-1RE08zUSrdztBrHr.json
{"updatedAt":"2026-01-30T15:20:16.000Z","createdAt":"2025-02-28T00:12:48.162Z","id":"1RE08zUSrdztBrHr","name":"Bom dia","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"6beb0cca-492e-47e9-a24c-07d0e96c99be","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[352,352]},{"parameters":{"resource":"messages-api","instanceName":"Wilson Andrade","remoteJid":"5511974128119@s.whatsapp.net","messageText":"={{ $json.mensagem }}","options_message":{}},"id":"525df786-a45e-40c2-acfb-c6d8ccc03f36","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1024,352],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (60) + 5) }}","unit":"minutes"},"id":"9b0bfb22-d5ae-4539-92ef-d08b9a784065","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[560,352],"webhookId":"d94df7a1-d30b-4046-88e2-7db17eea6c87"},{"parameters":{"assignments":{"assignments":[{"id":"e3e7ce62-52b8-4996-aec2-c14b333b333d","name":"mensagem","value":"={{['Bom dia mãe, tudo bem com a senhora e o pai?','Bom dia mãe tudo bem com a senhora?','Bom dia mãe, tudo bem por ai?'][Math.floor(Math.random()*3)]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,352],"id":"b3ec090e-3e79-4313-9038-fdeef745c6f0","name":"Edit Fields"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ba854e1f-7515-4f22-87e2-949050e24e68","triggerCount":1,"shared":[{"updatedAt":"2025-02-28T00:12:48.166Z","createdAt":"2025-02-28T00:12:48.166Z","role":"workflow:owner","workflowId":"1RE08zUSrdztBrHr","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}