campanha-rabbitmq-envio-R0W4xlRu9KsViJMd.json
{"updatedAt":"2025-11-26T15:18:10.000Z","createdAt":"2025-11-02T13:56:51.843Z","id":"R0W4xlRu9KsViJMd","name":"Campanha RabbitMQ Envio","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"eccCampanha","options":{"acknowledge":"executionFinishesSuccessfully"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-736,-48],"id":"48a43d5f-45ec-4a61-9eec-79441f988a82","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"LGE1L7jwZgFOFZou","name":"RabbitMQ account VPS"}}},{"parameters":{"assignments":{"assignments":[{"id":"fefa4999-0b51-4828-ae20-b49d23fb3192","name":"contentParsed","value":"={{ JSON.parse($json[\"content\"]) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-48],"id":"c412e54c-1d96-4d13-8d26-150debe17387","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b5811ff-814d-4312-ac8f-b9812de6ef59","leftValue":"={{ $json.contentParsed.body.Oficial }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,-48],"id":"cd367e09-5d0d-4062-80d8-0ad0f71f8cb6","name":"If Oficial"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/804952052707181/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.contentParsed.body.payload) }}","options":{}},"id":"73c05077-d9cb-4f60-9b53-70259d125bfc","name":"Envio Oficial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-176],"credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/{{ $json.contentParsed.body.instancia }}/token/{{ $json.contentParsed.body.token }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"Fc2c0b34bf59d44348fa3e00102494523S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.contentParsed.body.payload) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,32],"id":"1997ca33-34d5-4193-9feb-36ba99129261","name":"Envio Z-Api"},{"parameters":{"amount":0.3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-352,-48],"id":"913bfd87-a6d0-47bf-a412-ea42946d29dc","name":"Wait","webhookId":"6935ff35-0234-43e1-8241-01ed5dba4bf8"}],"connections":{"Edit Fields1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If Oficial":{"main":[[{"node":"Envio Oficial","type":"main","index":0}],[{"node":"Envio Z-Api","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If Oficial","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RabbitMQ Trigger":[{"json":{"fields":{"consumerTag":"amq.ctag-MQyfatXqtW_lPVLOn0L80A","deliveryTag":71908,"redelivered":true,"exchange":"","routingKey":"eccCampanha"},"properties":{"headers":{"x-delivery-count":70048}},"content":"{\"body\":{\"messaging_product\":\"whatsapp\",\"to\":\"5511998590806\",\"type\":\"template\",\"template\":{\"name\":\"251025ultimo_video\",\"language\":{\"code\":\"pt_BR\"},\"components\":[{\"type\":\"HEADER\",\"parameters\":[{\"type\":\"video\",\"video\":{\"link\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/20251102T125031104.mp4\"}}]}]}}}"}}]},"versionId":"a01f9048-f6cc-49f1-9a9e-f927c5f70338","triggerCount":1,"shared":[{"updatedAt":"2025-11-02T13:56:51.849Z","createdAt":"2025-11-02T13:56:51.849Z","role":"workflow:owner","workflowId":"R0W4xlRu9KsViJMd","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}