campanha-rabbitmq-recebimento-lote-qxBRA6DaFFG8sxbY.json
{"updatedAt":"2025-11-14T00:15:32.000Z","createdAt":"2025-11-11T23:49:14.875Z","id":"qxBRA6DaFFG8sxbY","name":"Campanha RabbitMQ Recebimento Lote","active":true,"isArchived":false,"nodes":[{"parameters":{"queue":"eccLote","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[352,-64],"id":"35f51789-4578-4ecb-a288-3306b0ca8db8","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"LGE1L7jwZgFOFZou","name":"RabbitMQ account VPS"}}},{"parameters":{"httpMethod":"POST","path":"rabbitmq/send-lote","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-64],"id":"a8355def-95c8-466a-a3d7-2f58ece5f6b7","name":"Webhook","webhookId":"bb152a87-d793-4867-9ee3-ce540572d5de"},{"parameters":{"assignments":{"assignments":[{"id":"470b6d11-613f-48ed-a8eb-d2c6ec891fd3","name":"body","value":"={{ $json.body }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-64],"id":"83507889-b9dd-4960-ae26-337f299543ef","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"=body","options":{"destinationFieldName":"Message"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[112,-64],"id":"ebfeca5e-16b6-474e-b23c-628d4754a421","name":"Split Out","alwaysOutputData":false},{"parameters":{"queue":"eccLote","options":{"acknowledge":"immediately"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-80,-320],"id":"fd57c3bc-2876-4067-afe5-e8ce956ab5d6","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"LGE1L7jwZgFOFZou","name":"RabbitMQ account VPS"}},"disabled":true}],"connections":{"RabbitMQ":{"main":[[]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.rasystem.com.br","content-length":"325","content-type":"application/json; charset=utf-8","request-context":"appId=cid-v1:9ebe8575-3f6a-42a0-bf77-0d339e423428","request-id":"|0676e2cada904187b6b4f32b4d55cb7c.982e0eca62370f40.","traceparent":"00-0676e2cada904187b6b4f32b4d55cb7c-982e0eca62370f40-01","x-forwarded-for":"191.254.199.209","x-forwarded-host":"n8n.rasystem.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0a02a8eab2cb","x-real-ip":"191.254.199.209","accept-encoding":"gzip"},"params":{},"query":{},"body":[{"message":"TEste Thiago Não oficial","phone":"5511998590806","Oficial":false,"instancia":"38A22F34FF5CB064713192F007724DE2","token":"3ADDC235D79D6367ED07D18F"},{"message":"TEste Paloma Não oficial","phone":"5511993060453","Oficial":false,"instancia":"38A22F34FF5CB064713192F007724DE2","token":"3ADDC235D79D6367ED07D18F"}],"webhookUrl":"https://n8n.rasystem.com.br/webhook-test/rabbitmq/send-lote","executionMode":"test"}}]},"versionId":"a8deba3d-a766-48b6-85a2-c42f215e03e9","triggerCount":1,"shared":[{"updatedAt":"2025-11-11T23:49:14.885Z","createdAt":"2025-11-11T23:49:14.885Z","role":"workflow:owner","workflowId":"qxBRA6DaFFG8sxbY","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}