campanha-rabbitmq-recebimento-HyykQE3y4Z5JV5s1.json
{"createdAt":"2025-10-31T14:54:27.803Z","updatedAt":"2025-11-26T15:07:03.000Z","id":"HyykQE3y4Z5JV5s1","name":"Campanha RabbitMQ Recebimento","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"eccCampanha","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[128,-64],"id":"dc34ab58-185f-45a6-a5a1-adbc1719d810","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"LGE1L7jwZgFOFZou","name":"RabbitMQ account VPS"}}},{"parameters":{"httpMethod":"POST","path":"rabbitmq/send","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-64],"id":"82929f69-892c-497d-9243-dccf113dd3d0","name":"Webhook","webhookId":"161fe73f-74c4-4017-8044-4f45e6123efe"},{"parameters":{"assignments":{"assignments":[{"id":"470b6d11-613f-48ed-a8eb-d2c6ec891fd3","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,-64],"id":"a8d458bf-c7ab-4003-92e5-4093e1b85428","name":"Edit Fields"}],"connections":{"RabbitMQ":{"main":[[]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.rasystem.com.br","content-length":"306","content-type":"application/json; charset=utf-8","request-context":"appId=cid-v1:9ebe8575-3f6a-42a0-bf77-0d339e423428","request-id":"|0262e63a1def4cb583b664b8fee401a7.b6c1189225ce7945.","traceparent":"00-0262e63a1def4cb583b664b8fee401a7-b6c1189225ce7945-01","x-forwarded-for":"191.254.199.200","x-forwarded-host":"n8n.rasystem.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"550769188db1","x-real-ip":"191.254.199.200","accept-encoding":"gzip"},"params":{},"query":{},"body":{"messaging_product":"whatsapp","to":"5511998590806","type":"template","template":{"name":"251025ultimo_video","language":{"code":"pt_BR"},"components":[{"type":"HEADER","parameters":[{"type":"video","video":{"link":"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/20251102T125031104.mp4"}}]}]}},"webhookUrl":"https://n8n.rasystem.com.br/webhook-test/rabbitmq/send","executionMode":"test"}}]},"versionId":"e0cf3d73-ab8b-4b3a-bd97-c51e500a4918","triggerCount":1,"shared":[{"createdAt":"2025-10-31T14:54:27.815Z","updatedAt":"2025-10-31T14:54:27.815Z","role":"workflow:owner","workflowId":"HyykQE3y4Z5JV5s1","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}