campanha-rabbitmq-envio-lote-eQmdDXAi7Qavio20.json
{"createdAt":"2025-11-13T22:43:47.779Z","updatedAt":"2025-11-14T00:15:24.000Z","id":"eQmdDXAi7Qavio20","name":"Campanha RabbitMQ Envio Lote","active":true,"isArchived":false,"nodes":[{"parameters":{"queue":"eccLote","options":{"acknowledge":"executionFinishesSuccessfully"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-736,-48],"id":"70653f88-9a02-452e-9977-ec995593998f","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"LGE1L7jwZgFOFZou","name":"RabbitMQ account VPS"}}},{"parameters":{"assignments":{"assignments":[{"id":"fefa4999-0b51-4828-ae20-b49d23fb3192","name":"contentParsed","value":"={{ JSON.parse($json[\"content\"]) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-48],"id":"cee3e0b4-9066-450d-b3ff-a4e971ca1e2f","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b5811ff-814d-4312-ac8f-b9812de6ef59","leftValue":"={{ $json.contentParsed.Message.Oficial }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,-48],"id":"96400126-b025-4173-800d-1df5138e6cd4","name":"If Oficial"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/804952052707181/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.contentParsed.Message) }}","options":{}},"id":"2edb86f8-e48f-46af-9aa3-d59262727ce5","name":"Envio Oficial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-176],"credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/{{ $json.contentParsed.Message.instancia }}/token/{{ $json.contentParsed.Message.token }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"Fc2c0b34bf59d44348fa3e00102494523S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\":\"{{ $json.contentParsed.Message.phone }}\",\n\"message\":\"{{ $json.contentParsed.Message.message }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,32],"id":"b0f86649-3bb9-4c76-8418-9b4bbe4d21b4","name":"Envio Z-Api"},{"parameters":{"amount":0.3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-352,-48],"id":"d9597094-79a1-4402-9c7d-1f1aca9f3c90","name":"Wait","webhookId":"8e2865ac-e8cd-4b72-81a7-53c68b735d22"}],"connections":{"Edit Fields1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If Oficial":{"main":[[{"node":"Envio Oficial","type":"main","index":0}],[{"node":"Envio Z-Api","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If Oficial","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RabbitMQ Trigger":[{"json":{"fields":{"consumerTag":"amq.ctag-7PAqFkGDfZpDcD_IAxtKNw","deliveryTag":1,"redelivered":false,"exchange":"","routingKey":"eccLote"},"properties":{"headers":{}},"content":"{\"Message\":{\"message\":\"TEste Thiago Não oficial\",\"phone\":\"5511998590806\",\"Oficial\":false,\"instancia\":\"38A22F34FF5CB064713192F007724DE2\",\"token\":\"3ADDC235D79D6367ED07D18F\"}}"}}]},"versionId":"fa08322b-0ae4-44a4-8286-3b0beffcbd5c","triggerCount":1,"shared":[{"createdAt":"2025-11-13T22:43:47.788Z","updatedAt":"2025-11-13T22:43:47.788Z","role":"workflow:owner","workflowId":"eQmdDXAi7Qavio20","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}