enviar-mensagem-do-whatsapp-vCODx7djc502zcE3.json
{"updatedAt":"2025-05-28T12:05:36.000Z","createdAt":"2025-02-28T12:09:56.352Z","id":"vCODx7djc502zcE3","name":"Enviar Mensagem do WhatsApp","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"60f36d14-0dd5-4b1c-aceb-27bc83bb5092","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,380]},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit?usp=drivesdk","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"options":{}},"id":"6509f094-9540-4703-82e1-37a9c3f9123a","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"0e6873d2-c637-4877-a033-54e871658f6a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,240]},{"parameters":{},"id":"a28db718-c6ad-4eb1-8ffe-5569cb4c0748","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3300,460]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I","mode":"list","cachedResultName":"Planilha HD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Loop Over Items').item.json.Telefone }}","Enviado":"SIM"},"matchingColumns":["Telefone"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"f9c02f67-7562-4570-aff5-89e29d3d3f83","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2880,-40],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10) + 25) }}"},"id":"b4f0530c-2914-47b0-986a-664541c33111","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,460],"webhookId":"1963f0f0-d85d-47c8-b1b5-224d27801540"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"ea7aebc9-59ec-418e-b8ff-10cb27ef1c89","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,260]},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/talent2025%20(1).mp4","caption":"Há 23 anos, O Talent Hunter Douglas acredita que as melhores conexões nascem de momentos compartilhados. O Talent 2025 mudou para oferecer experiências exclusivas, networking com profissionais de todo o Brasil e conteúdos que impulsionam seu crescimento profissional. Este é o programa para quem desenha o futuro da arquitetura e decoração. Para participar, acesse a nossa plataforma e conheça todas as formas de pontuar para atingir suas metas e viver experiências especiais. Cadastre-se pelo botão abaixo: IMPORTANTE: Para os profissionais já cadastrados no Talent, são necessários os seguintes passos: Clique em “Entrar” Clique em “Não tenho cadastro” Insira seu e-mail cadastrado no Talent e crie uma nova senha Seus dados serão carregados automaticamente. Verifique as informações e finalize o acesso.","options_message":{"delay":1200}},"id":"4d08d8e7-447c-4840-99d2-2d29dfb4f5e5","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"f293bf1e-f214-471d-a1dd-bc21ada7b624","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,-40],"webhookId":"ae8e97e4-83c7-492b-acd5-4397fb6d4ccf"},{"parameters":{"resource":"messages-api","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"Clique aqui e Cadastre-se: https://talent.hunterdouglas.com.br/auth/signup","options_message":{}},"id":"943ca969-a0aa-49bb-b6b8-ec8ee3e31f55","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c1f713-0f6d-4c9a-8af9-6aa2b279b684","leftValue":"={{ $('Google Sheets').item.json.row_number % 2 === 0 }}","rightValue":"0","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,100],"id":"1a942c14-49c5-4838-85ef-f9333ff411c5","name":"If1"},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"Talent 2025 Chip 2","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/talent2025%20(1).mp4","caption":"Há 23 anos, O Talent Hunter Douglas acredita que as melhores conexões nascem de momentos compartilhados. O Talent 2025 mudou para oferecer experiências exclusivas, networking com profissionais de todo o Brasil e conteúdos que impulsionam seu crescimento profissional. Este é o programa para quem desenha o futuro da arquitetura e decoração. Para participar, acesse a nossa plataforma e conheça todas as formas de pontuar para atingir suas metas e viver experiências especiais. Cadastre-se pelo botão abaixo: IMPORTANTE: Para os profissionais já cadastrados no Talent, são necessários os seguintes passos: Clique em “Entrar” Clique em “Não tenho cadastro” Insira seu e-mail cadastrado no Talent e crie uma nova senha Seus dados serão carregados automaticamente. Verifique as informações e finalize o acesso.","options_message":{"delay":1200}},"id":"a7597f16-f415-46e7-b6dd-4fa3f967d94e","name":"Evolution API2","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"23b95ae7-0e36-4d2b-8802-f2f6428f1969","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,180],"webhookId":"d576cd92-d034-4854-a0a7-d6cf1cfcf219"},{"parameters":{"resource":"messages-api","instanceName":"Talent 2025 Chip 2","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"Clique aqui e Cadastre-se: https://talent.hunterdouglas.com.br/auth/signup","options_message":{}},"id":"bd4c9a95-a803-4156-b8ea-5cc25f59f6d3","name":"Evolution API3","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"897031c7-fb9e-488f-8d13-554176872e3d","triggerCount":0,"shared":[{"updatedAt":"2025-02-28T12:09:56.355Z","createdAt":"2025-02-28T12:09:56.355Z","role":"workflow:owner","workflowId":"vCODx7djc502zcE3","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}