enviar-mensagem-do-whatsapp-campanha-2---cluster1-McyUknD0hz9dsCa6.json
{"createdAt":"2025-03-12T14:43:53.569Z","updatedAt":"2025-05-01T21:37:31.000Z","id":"McyUknD0hz9dsCa6","name":"Enviar Mensagem do WhatsApp Campanha 2 - Cluster1","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"229aec08-ec89-468e-8e9a-5c92715c879f","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,380]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1vbDGqkq2mJkvMyXez55aOLXWndft9vDhw6MusjdrQ1M/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vbDGqkq2mJkvMyXez55aOLXWndft9vDhw6MusjdrQ1M/edit#gid=0"},"options":{}},"id":"2ac8fa48-38dc-4b90-8902-24e011d4525c","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"a09d7440-76a0-475c-89b0-261940520ef6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,240]},{"parameters":{},"id":"656a63df-9cd4-41c6-b3dd-8d230a4d2361","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3300,460]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1vbDGqkq2mJkvMyXez55aOLXWndft9vDhw6MusjdrQ1M","mode":"list","cachedResultName":"Planilha HD - Com Pontuação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vbDGqkq2mJkvMyXez55aOLXWndft9vDhw6MusjdrQ1M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Loop Over Items').item.json.Telefone }}","Enviado":"SIM"},"matchingColumns":["Telefone"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"047aec16-7b5f-4a3b-8e74-3fe75d023f59","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2880,-40],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10) + 15) }}"},"id":"10a3a953-4b52-4728-943c-91991f4436dc","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,460],"webhookId":"55e6bc91-61ac-4856-98f4-fbbca1c0d4dc"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"dfde0053-e891-44f2-90fc-7bb1b6a19e4a","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,260]},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/Card_Cluster1.jpg","caption":"Seu talento sempre fez parte do TALENT. Agora, chegou a hora de voltar e desfrutar de novos benefícios e mais experiências exclusivas que centenas de arquitetos de destaque já estão aproveitando. \nCadastre-se no link abaixo:","options_message":{}},"id":"39a2e39f-71df-4782-8094-7eaaa5677912","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"811cbf5d-a8d4-4169-9df7-3bf58ac99981","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,-40],"webhookId":"54f864c4-b6c5-4be1-9c26-9f5ef2110920"},{"parameters":{"resource":"messages-api","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"https://bit.ly/41JOopJ","options_message":{}},"id":"783eb3e8-295a-48dd-9255-d2f58fac845e","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c1f713-0f6d-4c9a-8af9-6aa2b279b684","leftValue":"={{ $('Google Sheets').item.json.row_number % 2 === 0 }}","rightValue":"0","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,100],"id":"788ec3bc-1090-4c56-a31c-c89883408794","name":"If1"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Talent 2025 Chip 4","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/Card_Cluster1.jpg","caption":"Seu talento sempre fez parte do TALENT. Agora, chegou a hora de voltar e desfrutar de novos benefícios e mais experiências exclusivas que centenas de arquitetos de destaque já estão aproveitando. \nCadastre-se no link abaixo:","options_message":{}},"id":"e0832717-efa7-48d0-a9b4-e7634dff5127","name":"Evolution API2","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"5109c6f2-b31c-47d5-9610-ba75d24c1959","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,180],"webhookId":"cec42aab-b093-4360-8340-43371b91af2c"},{"parameters":{"resource":"messages-api","instanceName":"Talent 2025 Chip 4","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"https://bit.ly/41JOopJ","options_message":{}},"id":"fbbebf64-72c2-484d-8d32-c2ab209de3bb","name":"Evolution API3","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60834235-10a1-4408-ad64-dc424ba95b53","triggerCount":0,"shared":[{"createdAt":"2025-03-12T14:43:53.575Z","updatedAt":"2025-03-12T14:43:53.575Z","role":"workflow:owner","workflowId":"McyUknD0hz9dsCa6","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}