enviar-mensagem-do-whatsapp-campanha-2---cluster1-copy-WfSvZnAPjEbiH2Ut.json
{"createdAt":"2025-03-12T19:48:56.906Z","updatedAt":"2025-05-01T21:37:18.000Z","id":"WfSvZnAPjEbiH2Ut","name":"Enviar Mensagem do WhatsApp Campanha 2 - Cluster1 copy","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8f385f39-2e59-4422-a5dc-5b00b5291639","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1420,380]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I/edit#gid=0"},"options":{}},"id":"6e11ebcf-e206-4598-a921-9574ff9c6332","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"950458d7-3e34-472a-9812-461e6ca2e20c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1880,240]},{"parameters":{},"id":"fb9054a7-78c2-479d-9a55-8050c41a0e66","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1240,-220]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I","mode":"list","cachedResultName":"Planilha HD - Grupo 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ovG3gkqWLcZi7cO91-gtrtPItF0HY05QTtz097q7Yqc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets').item.json.row_number }}","Enviado":"SIM","Saída":"={{ $('Edit Fields').item.json.instancia_saida }}"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"d4d0b2ff-fcb6-461e-8a36-88d6f5023ad0","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3900,-60],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (30) + 100) }}"},"id":"f0f7cb1c-b871-4c61-8f47-b67566b42d81","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4080,-300],"webhookId":"9e3dedd9-9239-48f0-b2a2-325f7a39f82b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"06b769a2-173d-4cc3-9a9e-ce5691bdda30","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2180,280]},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $json.instancia_saida }}","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/Card_Cluster1.jpg","caption":"Seu talento sempre fez parte do TALENT. Agora, chegou a hora de voltar e desfrutar de novos benefícios e mais experiências exclusivas que centenas de arquitetos de destaque já estão aproveitando. \nCadastre-se no link abaixo:","options_message":{}},"id":"4ae7701c-370a-4a4e-8b99-3045d70e67b2","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3260,-60],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (7) + 5) }}"},"id":"ef3eaf52-41ba-49a1-ba3d-de50175ee217","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3480,-60],"webhookId":"a9c0b54c-6dab-47f5-959f-74aa84031e77"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.instancia_saida }}","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"https://bit.ly/41JOopJ","options_message":{}},"id":"52131911-fc7d-40a5-b4ef-a85c91ef77bb","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3700,-60],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.row_number % 2}}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfc33736-b051-422f-942d-8ac155031a8a","leftValue":"={{ $json.row_number % 2}}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20caaafb-23c6-455f-a659-18f755d04ca6","leftValue":"={{ $json.row_number % 2}}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2380,60],"id":"58fb7028-67ed-47fc-93ed-6a76143a6b9a","name":"Switch"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw","mode":"list","cachedResultName":"Instancia_Saida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Id":"1","Valor":"Talent 2025 Chip 4"},"matchingColumns":["Id"],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2600,-60],"id":"6c51b607-07cf-4f2d-b6a5-d321f00a53de","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw","mode":"list","cachedResultName":"Instancia_Saida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Id":"1","Valor":"Talent 2025 Chip 5"},"matchingColumns":["Id"],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2600,100],"id":"653c66b1-4a70-4e90-9091-1f13a9c4fbc7","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw","mode":"list","cachedResultName":"Instancia_Saida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Id":"1","Valor":"Talent Chip 6"},"matchingColumns":["Id"],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2600,260],"id":"e387954f-eb1a-448d-9627-a7a5b1bbea72","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw","mode":"list","cachedResultName":"Instancia_Saida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RfiWKwog_FZZPRHG0cDcV2VXmHSCZssiStd8K7RBzBw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Id","lookupValue":"1"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2820,-60],"id":"c0d02d9d-b7eb-4620-9058-5600acfb9eab","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91a1d075-446a-4421-be50-bcd6d0e5d76e","name":"instancia_saida","value":"={{ $json.Valor }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,-60],"id":"d4259d83-f622-4220-8337-8ce9acded280","name":"Edit Fields"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Sheets3","type":"main","index":0}],[{"node":"Google Sheets4","type":"main","index":0}],[]]},"Google Sheets2":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bd06ab3f-8989-4d36-8157-f0485df53460","triggerCount":0,"shared":[{"createdAt":"2025-03-12T19:48:56.918Z","updatedAt":"2025-03-12T19:48:56.918Z","role":"workflow:owner","workflowId":"WfSvZnAPjEbiH2Ut","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}