enviar-mensagem-do-whatsapp-campanha-agradecimento---evento---b-1zJYvT8NsuIifn0Q.json
{"updatedAt":"2025-05-01T21:37:39.000Z","createdAt":"2025-03-14T13:49:48.148Z","id":"1zJYvT8NsuIifn0Q","name":"Enviar Mensagem do WhatsApp Campanha Agradecimento - Evento - B","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"c87a45a9-bdf3-4387-a2a2-cf1f205cba24","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,380]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1bvBZiOmhYI1FFDCtvVBpo0ZWxOITKNCHeD4ve0OtxQs/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bvBZiOmhYI1FFDCtvVBpo0ZWxOITKNCHeD4ve0OtxQs/edit#gid=0"},"options":{}},"id":"2a9533c2-ed38-47da-a23f-a885a946cb78","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"08bf914e-545b-43c4-bd03-2386d81533ca","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,240]},{"parameters":{},"id":"a513633b-0e3a-43f8-acf5-10c171c7732b","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3300,460]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1bvBZiOmhYI1FFDCtvVBpo0ZWxOITKNCHeD4ve0OtxQs","mode":"list","cachedResultName":"Planilha HD - Agradecimento Evento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bvBZiOmhYI1FFDCtvVBpo0ZWxOITKNCHeD4ve0OtxQs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Loop Over Items').item.json.Telefone }}","Enviado":"SIM"},"matchingColumns":["Telefone"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"a2f1db66-ae40-4729-89fa-fa8ec0ac9426","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2880,-40],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10) + 15) }}"},"id":"5e24b1e2-7294-4fa2-85e8-0c13fcb38d43","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,460],"webhookId":"e60f2da6-6959-4823-b046-55375d771d5d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"a6567c05-a807-44b7-a08f-1def38e5a58c","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,260]},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/Card_agradecimento_14_03.jpg","caption":"O próximo grande projeto começa agora! Atualize seu cadastro no Talent e continue fazendo parte dessa história. \nAcesse pelo link abaixo:","options_message":{}},"id":"8b86f042-a615-4335-9bf6-f2c4d16f2d4d","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"6d7ab2aa-a08d-4660-a870-a8cca6ce2ca3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,-40],"webhookId":"2f2908bf-7ea0-4bcd-9bab-132116c29cee"},{"parameters":{"resource":"messages-api","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"https://bit.ly/3DF9EFg","options_message":{}},"id":"ae50c11e-6c7c-4f21-b6bc-698766ad6960","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c1f713-0f6d-4c9a-8af9-6aa2b279b684","leftValue":"={{ $('Google Sheets').item.json.row_number % 2 === 0 }}","rightValue":"0","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,100],"id":"635d0f41-e890-4575-b53a-821ed8ef7ae7","name":"If1"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Talent 2025 Chip 4","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/Card_Cluster1.jpg","caption":"Seu talento sempre fez parte do TALENT. Agora, chegou a hora de voltar e desfrutar de novos benefícios e mais experiências exclusivas que centenas de arquitetos de destaque já estão aproveitando. \nCadastre-se no link abaixo:","options_message":{}},"id":"6223aa67-f99d-4ae9-9025-f2745503789b","name":"Evolution API2","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"ad22ba16-5012-45ea-b8db-f8efb305e9a6","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,180],"webhookId":"249265e8-5af0-4ed3-813f-9b0b45ad3d55"},{"parameters":{"resource":"messages-api","instanceName":"Talent 2025 Chip 4","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"https://bit.ly/41JOopJ","options_message":{}},"id":"88f61f3b-937c-48ca-a1a7-af8521f7ab6a","name":"Evolution API3","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a45c2f98-0ad2-4540-b1a6-b37eeb8f75cc","triggerCount":0,"shared":[{"updatedAt":"2025-03-14T13:49:48.154Z","createdAt":"2025-03-14T13:49:48.154Z","role":"workflow:owner","workflowId":"1zJYvT8NsuIifn0Q","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}