enviar-mensagem-do-whatsapp-campanha-2---cluster2-hHlEF5ATioQHbYNN.json
{"createdAt":"2025-03-12T15:10:53.502Z","updatedAt":"2025-05-01T21:37:25.000Z","id":"hHlEF5ATioQHbYNN","name":"Enviar Mensagem do WhatsApp Campanha 2 - Cluster2","active":false,"nodes":[{"parameters":{},"id":"c5e3b001-74b6-4b81-84c5-4b510e57e619","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,380]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I/edit#gid=0"},"options":{}},"id":"58fed819-071c-4a3d-abdd-51fbc134e0ce","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"68d1251b-051c-47ed-8956-d38f1110352f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,240]},{"parameters":{},"id":"49199578-8b2a-4dfa-b7e0-9da661301c0e","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3300,460]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I","mode":"list","cachedResultName":"Planilha HD - Grupo 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zF-vBIz0zN5JJarNWfQOP_InlpNKRSeNZKjppvB9G-I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Loop Over Items').item.json.Telefone }}","Enviado":"SIM"},"matchingColumns":["Telefone"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"f74023e6-1bb4-4c4b-b39b-f0491a390954","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2880,-40],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10) + 15) }}"},"id":"2c3c1613-7d65-4683-8bcb-b6a8d95b4d06","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,460],"webhookId":"fa56cd34-02d8-40c0-9dd1-dacc90b294d6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"a1417336-275e-4511-aa0e-7e133fcb26f3","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,260]},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/Card_Cluster2.jpg","caption":"Faça parte do programa que conecta os melhores talentos do mercado. Centenas de arquitetos de destaque já estão aproveitando benefícios. \nCadastre-se no link abaixo:","options_message":{}},"id":"1dc9fbf5-b1da-4e4b-9715-8c384a22c47b","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"a95a1df8-4581-443a-8fcf-a20ef2d5590a","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,-40],"webhookId":"7d535ddc-0bec-4c22-9668-4af0d6612a99"},{"parameters":{"resource":"messages-api","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"https://bit.ly/41JOopJ","options_message":{}},"id":"6566bb17-973e-42f2-b7cb-e3d813a0b6ae","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c1f713-0f6d-4c9a-8af9-6aa2b279b684","leftValue":"={{ $('Google Sheets').item.json.row_number % 2 === 0 }}","rightValue":"0","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,100],"id":"f53652b6-ba43-4491-a9c3-3b92b4b35818","name":"If1"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Talent Chip 6","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/Card_Cluster2.jpg","caption":"Faça parte do programa que conecta os melhores talentos do mercado. Centenas de arquitetos de destaque já estão aproveitando benefícios. \nCadastre-se no link abaixo:","options_message":{}},"id":"2fff63f5-1cba-4393-bbe4-99237f50af23","name":"Evolution API2","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}"},"id":"0d7f3219-daad-4338-bf40-698efc7ed891","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,180],"webhookId":"6e1728c5-67e3-48a5-bf31-8e60fc87118d"},{"parameters":{"resource":"messages-api","instanceName":"Talent Chip 6","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"https://bit.ly/41JOopJ","options_message":{}},"id":"1fe0afea-004d-41c1-9e21-349fa12ae2bb","name":"Evolution API3","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0aa9ce10-54c7-4d54-9f2c-6dfa1be02f81","triggerCount":0,"tags":[]}