existe-whatsapp-Ec83xKzUmkGF1Mr2.json
{"createdAt":"2025-07-19T17:51:02.237Z","updatedAt":"2025-07-19T18:31:33.000Z","id":"Ec83xKzUmkGF1Mr2","name":"Existe Whatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefone","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"46643e0d-82ab-4d68-a688-ffdbf6690207","name":"When Executed by Another Workflow"},{"parameters":{"resource":"chat-api","instanceName":"Chip3","numbers":"=55{{ $json.telefone }}"},"id":"76438da5-3630-454d-a98c-9e8cf042e3cd","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[220,0],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f8733521-6767-40a6-a7e6-ba23e6366abe","name":"response","value":"={{ $json.data[0].exists }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"4174c8a8-21a0-456f-836e-0b68fbe92e47","name":"Edit Fields"}],"connections":{"Evolution API":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"telefone":"119923857"}}]},"versionId":"420da084-5ff4-4953-bcf1-528eab153014","triggerCount":0,"shared":[{"createdAt":"2025-07-19T17:51:02.244Z","updatedAt":"2025-07-19T17:51:02.244Z","role":"workflow:owner","workflowId":"Ec83xKzUmkGF1Mr2","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}