fluxo-de-envio-de-mensagens-no-whatsapp-rfiDCYr20Ke5Qy2v.json
{"createdAt":"2025-05-01T21:38:58.230Z","updatedAt":"2025-05-01T21:39:17.000Z","id":"rfiDCYr20Ke5Qy2v","name":"Fluxo de Envio de Mensagens no WhatsApp","active":false,"nodes":[{"parameters":{},"id":"47c452ea-cd67-4585-9a3d-e4a68ce0cf32","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,380]},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit?usp=drivesdk","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"options":{}},"id":"16daf221-924c-4557-b9cb-e82244faee29","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"7d45b033-0acf-460f-abc1-e8fb36bb41c4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,240]},{"parameters":{},"id":"4eceb577-76b7-4e37-8a30-ed6668bee723","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3300,460]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I","mode":"list","cachedResultName":"Planilha HD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Loop Over Items').item.json.Telefone }}","Enviado":"SIM"},"matchingColumns":["Telefone"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Enviado","displayName":"Enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"432d6aa5-f985-4a1c-a59a-d4ec65335b6a","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2880,-40],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10) + 25) }}","path":"3dc56c98-2b88-4851-a9aa-cd20a2e14ec2"},"id":"ae04545b-262a-49ef-9b98-383fa6ad91fe","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,460],"webhookId":"3dc56c98-2b88-4851-a9aa-cd20a2e14ec2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $('Google Sheets').item.json.Enviado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3b33695b-8df7-4e6a-bd5f-a7428399c7cd","leftValue":"={{ $('Google Sheets').item.json.Existe }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"9cd063e0-e8f3-43b6-b226-213cc76a938e","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,260]},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/talent2025%20(1).mp4","caption":"Há 23 anos, O Talent Hunter Douglas acredita que as melhores conexões nascem de momentos compartilhados. O Talent 2025 mudou para oferecer experiências exclusivas, networking com profissionais de todo o Brasil e conteúdos que impulsionam seu crescimento profissional. Este é o programa para quem desenha o futuro da arquitetura e decoração. Para participar, acesse a nossa plataforma e conheça todas as formas de pontuar para atingir suas metas e viver experiências especiais. Cadastre-se pelo botão abaixo: IMPORTANTE: Para os profissionais já cadastrados no Talent, são necessários os seguintes passos: Clique em “Entrar” Clique em “Não tenho cadastro” Insira seu e-mail cadastrado no Talent e crie uma nova senha Seus dados serão carregados automaticamente. Verifique as informações e finalize o acesso.","options_message":{"delay":1200}},"id":"75a152f7-d64d-4894-9484-db870af539f4","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}","path":"aca2a0c8-b38a-4844-a543-96b571987a04"},"id":"16ff08ea-2cea-4542-9823-ce8d274a13b5","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,-40],"webhookId":"aca2a0c8-b38a-4844-a543-96b571987a04"},{"parameters":{"resource":"messages-api","instanceName":"Talent","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"Clique aqui e Cadastre-se: https://talent.hunterdouglas.com.br/auth/signup","options_message":{}},"id":"0c54687d-9c1e-4da1-90cb-94c75d48b451","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,-40],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c1f713-0f6d-4c9a-8af9-6aa2b279b684","leftValue":"={{ $('Google Sheets').item.json.row_number % 2 === 0 }}","rightValue":"0","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,100],"id":"33b3317d-8607-4f28-9d8a-ce2eab182975","name":"If1"},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"Talent 2025 Chip 2","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/talent2025%20(1).mp4","caption":"Há 23 anos, O Talent Hunter Douglas acredita que as melhores conexões nascem de momentos compartilhados. O Talent 2025 mudou para oferecer experiências exclusivas, networking com profissionais de todo o Brasil e conteúdos que impulsionam seu crescimento profissional. Este é o programa para quem desenha o futuro da arquitetura e decoração. Para participar, acesse a nossa plataforma e conheça todas as formas de pontuar para atingir suas metas e viver experiências especiais. Cadastre-se pelo botão abaixo: IMPORTANTE: Para os profissionais já cadastrados no Talent, são necessários os seguintes passos: Clique em “Entrar” Clique em “Não tenho cadastro” Insira seu e-mail cadastrado no Talent e crie uma nova senha Seus dados serão carregados automaticamente. Verifique as informações e finalize o acesso.","options_message":{"delay":1200}},"id":"fd2358fe-164b-4498-8da2-073ca72f57d2","name":"Evolution API2","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (6) + 5) }}","path":"cd2ea8c9-c735-4828-956a-85be42743db5"},"id":"b33c6280-6b9e-47a9-8cb4-fcd75d89d622","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,180],"webhookId":"cd2ea8c9-c735-4828-956a-85be42743db5"},{"parameters":{"resource":"messages-api","instanceName":"Talent 2025 Chip 2","remoteJid":"=55{{ $('Google Sheets').item.json.Telefone }}@s.whatsapp.net","messageText":"Clique aqui e Cadastre-se: https://talent.hunterdouglas.com.br/auth/signup","options_message":{}},"id":"4c0ff9f9-709e-4d67-98a3-d2f34cf22c69","name":"Evolution API3","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2660,180],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b847991-9786-4df9-bfdc-8b5a956a3eb6","triggerCount":0,"tags":[]}