formularios-site-JE62nT9Ai943oZsE.json
{"createdAt":"2025-10-10T23:32:56.047Z","updatedAt":"2025-10-17T18:23:11.000Z","id":"JE62nT9Ai943oZsE","name":"Formularios Site","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"35498d0d-2005-48b0-9827-051e94315df1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8913d3f6-ee36-4f6d-a606-07675b211854","name":"Webhook","webhookId":"35498d0d-2005-48b0-9827-051e94315df1"},{"parameters":{"assignments":{"assignments":[{"id":"38fff1fa-714c-40f1-9745-10c415e400cc","name":"body.nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"5fb65f14-716a-458c-add6-c2555dacf801","name":"body.conheceu","value":"={{ $json.body.conheceu }}","type":"string"},{"id":"dea5cd67-92c5-4665-b6c9-97fe3b5204f3","name":"body.data","value":"={{ $json.body.data }}","type":"string"},{"id":"4efc3798-714e-42b4-8eda-557ec57dcac3","name":"body.email","value":"={{ $json.body.email }}","type":"string"},{"id":"ed906cb6-f10f-4ee3-8c1a-41efa304f313","name":"body.origem","value":"={{ $json.body.origem }}","type":"string"},{"id":"b27f3c08-7d38-481b-906a-bf2da4847f81","name":"body.telefone","value":"={{ $json.body.telefone }}","type":"string"},{"id":"641a4573-8273-4f51-99b4-d1d7bf6ca77f","name":"body.unidades","value":"={{ $json.body.unidades }}","type":"string"},{"id":"4ae5088b-8bb1-4008-b3fc-055daa354d77","name":"body.cep","value":"={{ $json.body.cep }}","type":"string"},{"id":"c6f85744-bb3b-4d48-a08c-60a4294ab08e","name":"body.gclid","value":"={{ $json.body.gclid }}","type":"string"},{"id":"1e4a36f1-7d36-466a-bcb9-23ef480b0e24","name":"body.gclid","value":"={{ $json.body.gclid }}","type":"string"},{"id":"0fc31aab-91d4-45f2-bcc1-dbc727c01e74","name":"body.tipoAula","value":"={{ $json.body.tipoAula }}","type":"string"},{"id":"9ce31ad4-5b69-4d9c-9233-f5244020591f","name":"body.qtdeAulas1","value":"={{ $json.body.qtdeAulas1 ?? \"\"}}","type":"string"},{"id":"1e8104fb-b924-4508-b802-38a72efca555","name":"body.qtdeAulas2","value":"={{ $json.body.qtdeAulas2 ?? \"\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"f6030df1-49b0-4510-9f5a-0fa61362ac04","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://gerencial-homolog.ecconline.com.br/api/WhatsApp/EnviarMensagemFormularioSite","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.body.nome }}"},{"name":"conheceu","value":"={{ $json.body.conheceu }}"},{"name":"data","value":"={{ $json.body.data }}"},{"name":"=email","value":"={{ $json.body.email }}"},{"name":"origem","value":"={{ $json.body.origem }}"},{"name":"telefone","value":"={{ $json.body.telefone }}"},{"name":"unidades","value":"={{ $json.body.unidades }}"},{"name":"cep","value":"={{ $json.body.cep }}"},{"name":"gclid","value":"={{ $json.body.gclid }}"},{"name":"tipoAula","value":"={{ $json.body.tipoAula }}"},{"name":"qtdeAulas1","value":"={{ $json.body.qtdeAulas1 }}"},{"name":"qtdeAulas2","value":"={{ $json.body.qtdeAulas2 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"dcf6d2b1-4d25-4ce1-a5d0-b310155ded45","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.rasystem.com.br","user-agent":"PostmanRuntime/7.48.0","content-length":"321","accept":"*/*","accept-encoding":"gzip, deflate, br","cache-control":"no-cache","content-type":"application/json","postman-token":"bdedfe97-afe9-4a0b-9a38-4a74560845d1","x-forwarded-for":"177.16.191.131","x-forwarded-host":"n8n.rasystem.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"550769188db1","x-real-ip":"177.16.191.131"},"params":{},"query":{},"body":{"nome":"Kelly Teste - 2 postman","conheceu":"Google","data":"2025-10-16 21:39","email":"kelly.cmps@gmail.com","origem":"Simulador de preços","telefone":"11998628457","unidades":"Santo André","cep":"09241-070","gclid":"","tipoAula":"Individual","qtdeAulas1":"2"},"webhookUrl":"https://n8n.rasystem.com.br/webhook-test/35498d0d-2005-48b0-9827-051e94315df1","executionMode":"test"}}]},"versionId":"48eb3507-7453-4b25-ae55-50eb1dd953c7","triggerCount":1,"shared":[{"createdAt":"2025-10-10T23:32:56.057Z","updatedAt":"2025-10-10T23:32:56.057Z","role":"workflow:owner","workflowId":"JE62nT9Ai943oZsE","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}