formularios-site-processamento-GlYULBEChDyvoCRT.json
{"createdAt":"2025-10-24T12:28:57.104Z","updatedAt":"2025-11-26T13:31:53.000Z","id":"GlYULBEChDyvoCRT","name":"Formularios Site Processamento","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://gerencial.ecconline.com.br/api/WhatsApp/EnviarMensagemFormularioSite","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.contetParsed.body.nome }}"},{"name":"conheceu","value":"={{ $json.contetParsed.body.conheceu }}"},{"name":"data","value":"={{ $json.contetParsed.body.data }}"},{"name":"=email","value":"={{ $json.contetParsed.body.email }}"},{"name":"origem","value":"={{ $json.contetParsed.body.origem }}"},{"name":"telefone","value":"={{ $json.contetParsed.body.telefone }}"},{"name":"unidades","value":"={{ $json.contetParsed.body.unidades }}"},{"name":"cep","value":"={{ $json.contetParsed.body.cep }}"},{"name":"gclid","value":"={{ $json.contetParsed.body.gclid }}"},{"name":"tipoAula","value":"={{ $json.contetParsed.body.tipoAula }}"},{"name":"qtdeAulas1","value":"={{ $json.contetParsed.body.qtdeAulas1 }}"},{"name":"qtdeAulas2","value":"={{ $json.contetParsed.body.qtdeAulas2 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,16],"id":"34576471-2cc6-4614-bd6e-9693d83c7b3d","name":"HTTP Request"},{"parameters":{"queue":"ECC_Formularios","options":{"acknowledge":"executionFinishesSuccessfully","parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-240,16],"id":"f8088077-7c6c-4ccc-9606-630ff8424e8a","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"LGE1L7jwZgFOFZou","name":"RabbitMQ account VPS"}}},{"parameters":{"assignments":{"assignments":[{"id":"fefa4999-0b51-4828-ae20-b49d23fb3192","name":"contetParsed","value":"={{ JSON.parse($json[\"content\"]) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,16],"id":"b90658c5-3481-4ba4-bc3d-11a87deffca7","name":"Edit Fields1"}],"connections":{"RabbitMQ Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"25f9f3a8-eb2c-4a56-b834-2f2ce60dce4d","triggerCount":1,"shared":[{"createdAt":"2025-10-24T12:28:57.111Z","updatedAt":"2025-10-24T12:28:57.111Z","role":"workflow:owner","workflowId":"GlYULBEChDyvoCRT","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}