formulario-promoponto-pBVYG5vULO4zXC8T.json
{"updatedAt":"2025-06-16T15:31:24.000Z","createdAt":"2025-05-02T14:10:37.228Z","id":"pBVYG5vULO4zXC8T","name":"Formulario Promoponto","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"715a19a4-819b-4949-85ea-762cee50eff9","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"5b0f2c91-09d5-4b38-bf98-25fdce5a577a","name":"Webhook","webhookId":"715a19a4-819b-4949-85ea-762cee50eff9"},{"parameters":{"assignments":{"assignments":[{"id":"4207fc6e-7fd3-4f5e-aae0-5fbc35b08fe9","name":"body.foco","value":"={{ $json.body.foco }}","type":"string"},{"id":"89f17dbb-71c6-4f20-aadc-a0aea4da6324","name":"body.nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"58286af3-4109-4871-97b5-6b7354930189","name":"body.email","value":"={{ $json.body.email }}","type":"string"},{"id":"f7a9b4f2-2aa6-4a80-8ad1-75cbacf3f1fe","name":"body.mensagem","value":"={{ $json.body.mensagem }}","type":"string"},{"id":"2cc0fc64-2b2e-4127-a9d0-64ad04b9c6c1","name":"body.consent","value":"={{ $json.body.consent }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"be82b16c-f3fb-411a-b623-c52cf6571cb2","name":"Edit Fields"},{"parameters":{"fromEmail":"promoponto@hyou.com.br","toEmail":"promoponto@promoponto.com.br","subject":"Contato Site","html":"=<p><strong>Foco de interesse:</strong> {{ $json.body.foco }}</p>\n                <p><strong>Nome:</strong> {{ $json.body.nome }}</p>\n                <p><strong>E-mail:</strong> {{ $json.body.email }}</p>\n                <p><strong>Mensagem:</strong><br/> {{ $json.body.mensagem }}</p>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[440,0],"id":"2fd53a23-5f4e-4215-a643-259d920d9162","name":"Send Email","webhookId":"09125fe9-4539-4230-aae4-a928f302d881","credentials":{"smtp":{"id":"TfC3369B47edbZDI","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d666567e-b428-4733-a72b-61061b36edd4","triggerCount":1,"shared":[{"updatedAt":"2025-05-02T14:10:37.242Z","createdAt":"2025-05-02T14:10:37.242Z","role":"workflow:owner","workflowId":"pBVYG5vULO4zXC8T","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}