hookwilsonevolution-pees5BLaLOS7ZY2e.json
{"createdAt":"2025-05-03T11:57:35.189Z","updatedAt":"2025-05-05T00:57:57.000Z","id":"pees5BLaLOS7ZY2e","name":"HookWilsonEvolution","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"recebimentomensagenswhatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-260,-140],"id":"a40dc28a-06a0-4b97-b8a5-e62ea4a8945d","name":"Webhook","webhookId":"b6377995-d55e-495e-a492-77ef36c4d61d"},{"parameters":{"promptType":"define","text":"=Quero que você atue como um especialista pesquisador de conteúdos.\nVocê poderá receber diversos tipos de conteúdo o primeiro passo é definir qual fonte de dado.\n\nAbaixo esta a fonte de informação para a analise\n{{ $json.body.data.message.conversation }}\n\n\n\nComo saída quero apenas me traga qual o canal que devo utilizar para analise no formato json abaixo:\n\n{\n  \"url\" : \"\",\n  \"canal\" : \"youtube\"\n}\n\nurl deve receber a url obtida na fonte da informação.\n\nOs canais podem ser youtube, facebook, instagram, site, etc...","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[140,-140],"id":"90400830-a6a1-4f60-bad9-57d53f28be0d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,80],"id":"3b2fa8e6-7491-4ef8-9c40-7c984e2d8c44","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zK1vgAmgjH5oZvXs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-140],"id":"7f33af9f-cb61-4a28-8986-3064a2db5250","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"1a7273e1-d59a-46f3-993f-b68513b97ad2","name":"body.data.key.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"66575a4d-e27c-4235-a858-58eb9896aebe","name":"body.data.messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"08df8f6e-aa43-43ce-add8-6e5d74999530","name":"body.data.message.conversation","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-140],"id":"84eee30d-3b8d-4947-aade-eeef5714124f","name":"Edit Fields1"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f17ecbae-3002-4f8c-9a19-187e1679ec07","triggerCount":0,"tags":[]}