hookwilsonevolution-pees5BLaLOS7ZY2e.json
{"createdAt":"2025-05-03T11:57:35.189Z","updatedAt":"2025-06-22T15:55:01.000Z","id":"pees5BLaLOS7ZY2e","name":"HookWilsonEvolution","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"recebimentomensagenswhatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,-160],"id":"a40dc28a-06a0-4b97-b8a5-e62ea4a8945d","name":"Webhook","webhookId":"b6377995-d55e-495e-a492-77ef36c4d61d"},{"parameters":{"promptType":"define","text":"=FUNÇÃO DO AGENTE\nVocê é um Content Insight Bot que lê a URL recebida, identifica a essência do material e devolve um relatório conciso, organizado e padronizado.\n\nINPUT\nURL_DO_CONTEÚDO ={{ $json.body.data.message.conversation }}.\n\nPASSO A PASSO (siga exatamente nesta ordem):\n\nColeta e filtragem\n\nAcesse apenas o conteúdo principal (título, corpo do texto, descrição do vídeo, transcrição ou agenda do evento).\n\nIgnore anúncios, comentários, pop-ups, barras laterais e menções de cookies.\n\nSe a página exigir login ou não estiver disponível, gere a saída com “Conteúdo indisponível” em cada campo e marque a categoria como Indefinido.\n\nResumo (máx. 3 frases)\n\nExplique a mensagem central, o propósito e o público-alvo do link.\n\nUse sempre voz ativa e linguagem simples.\n\nPrincipais informações (bullet points)\n\nListe de 3 a 6 tópicos objetivos — cada bullet deve caber em 1 linha.\n\nPriorize dados, conclusões práticas ou recomendações presentes no conteúdo.\n\nCategorização\n\nCategoria (obrigatória): escolha exatamente um dos seguintes termos:\nTecnologia, Negócios, Carreira, Educação, Marketing, Finanças, Notícias, Entretenimento, Estilo de Vida\n\nSubcategoria (obrigatória): crie um rótulo mais específico em até 3 palavras (ex.: IA Generativa, Gestão de Carreira, Tendências de RH).\n\nSe nada se encaixar, use Indefinido em ambos.\n\nValidação de consistência\n\nVerifique se todos os campos estão preenchidos e se a categoria pertence à lista.\n\nConfirme que o formato de saída está idêntico ao modelo abaixo.\n\nFORMATO DE SAÍDA (não altere):\n\nAnálise do Link: {{ $json.body.data.message.conversation }}\n• Resumo: <parágrafo de 2-3 frases>\n• Principais Informações:\n • <bullet 1>\n • <bullet 2>\n • <bullet 3>\n• Categoria: <uma das categorias permitidas>\n• Subcategoria: <subcategoria específica>\n\nIdioma da resposta: sempre em Português.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[440,-360],"id":"90400830-a6a1-4f60-bad9-57d53f28be0d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[420,-180],"id":"3b2fa8e6-7491-4ef8-9c40-7c984e2d8c44","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zK1vgAmgjH5oZvXs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,-360],"id":"7f33af9f-cb61-4a28-8986-3064a2db5250","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"1a7273e1-d59a-46f3-993f-b68513b97ad2","name":"body.data.key.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"66575a4d-e27c-4235-a858-58eb9896aebe","name":"body.data.messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"08df8f6e-aa43-43ce-add8-6e5d74999530","name":"body.data.message.conversation","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-160],"id":"84eee30d-3b8d-4947-aade-eeef5714124f","name":"Edit Fields1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"992385778","operator":{"type":"string","operation":"contains"},"id":"2ed90ffa-1d66-47be-810f-9758aa4be840"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7c4cab2-59e5-426d-bdbe-48664c766f23","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"998590806","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-120,-160],"id":"fb74798f-ecef-4cae-b349-beb1daef0c53","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"www.instagram.com/reel","operator":{"type":"string","operation":"contains"},"id":"1a393a7a-23af-4e83-ba43-ea3d98006ce7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bba7415-5fc6-4c28-975e-eead5f70bef5","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"youtube.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Youtube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"873f0a69-ba65-47ff-ac1f-43537813fd71","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"linkedin.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedin"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[100,-160],"id":"5b588569-e821-4df2-8f51-44d8a43d332b","name":"Switch1"},{"parameters":{"name":"Analise de Reels"},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[600,-160],"id":"204d3b38-4202-4b01-8041-5b987d798722","name":"Call n8n Workflow Tool"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Switch1","type":"main","index":0}],[]]},"Switch1":{"main":[[],[],[]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38878069-672d-41cb-8f96-d2626427a442","triggerCount":0,"tags":[]}