mcp-server-youttube-jaRA4YUaFssGYu9J.json
{"createdAt":"2025-05-05T01:41:22.892Z","updatedAt":"2025-05-05T01:41:22.000Z","id":"jaRA4YUaFssGYu9J","name":"MCP Server YoutTube","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"operation"},{"name":"query"},{"name":"urls"}]}},"id":"330b6ed1-2d75-489b-8dca-9347df9821e5","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1360,620],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"81b134bc-d671-4493-b3ad-8df9be3f49a6","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.operation }}","rightValue":"youtube_search"}]},"renameOutput":true,"outputKey":"Youtube Search"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8d57914f-6587-4fb3-88e0-aa1de6ba56c1","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.operation }}","rightValue":"youtube_transcripts"}]},"renameOutput":true,"outputKey":"Youtube Transcripts"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7c38f238-213a-46ec-aefe-22e0bcb8dffc","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.operation }}","rightValue":"usage_metrics"}]},"renameOutput":true,"outputKey":"Usage Metrics"}]},"options":{}},"id":"f9e262b0-7e3f-4447-a26f-5894a4493180","name":"Operation","type":"n8n-nodes-base.switch","position":[1600,620],"typeVersion":3.2},{"parameters":{"content":"## 1. Set up an MCP Server Trigger\n[Read more about the MCP Server Trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.mcptrigger)","height":660,"width":680,"color":7},"id":"5b7a00a6-9a2f-46a7-aae4-30ff44db35cc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[580,220],"typeVersion":1},{"parameters":{"content":"## 2. [APIFY.com](https://www.apify.com?fpr=414q6) for Easy Youtube Search and Transcripts\n[Sign up for Apify.com using 20JIMLEUK for 20% discount](https://www.apify.com?fpr=414q6)\n\nI've used Apify's Youtube scrapers a couple of times already and I find them quite fast and dependable for production use-cases.\nI particularly like that my workflows don't break when I inevitably hit the official Youtube rate limits which are quite low.\nFor this MCP server, I'm using the following youtube scraper for search and downloading transcripts: [https://apify.com/streamers/youtube-scraper](https://apify.com/streamers/youtube-scraper?fpr=414q6)","height":820,"width":1240,"color":7},"id":"25216409-1b6a-4eb9-8feb-0ae1a18d2cc0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1280,220],"typeVersion":1},{"parameters":{"content":"### Always Authenticate Your Server!\nBefore going to production, it's always advised to enable authentication on your MCP server trigger.","height":100,"width":380,"color":5},"id":"29cc6959-1c12-4889-b91c-7b74787e0743","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[580,100],"typeVersion":1},{"parameters":{"name":"youtube_transcripts","description":"Fetch the transcript from a youtube video using the youtube video url.","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{"urls":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls', ``, 'string') }}","query":"null","operation":"youtube_transcripts"},"schema":[{"id":"operation","type":"string","display":true,"removed":false,"required":false,"displayName":"operation","defaultMatch":false,"canBeUsedToMatch":true},{"id":"query","type":"string","display":true,"removed":false,"required":false,"displayName":"query","defaultMatch":false,"canBeUsedToMatch":true},{"id":"urls","type":"string","display":true,"removed":false,"required":false,"displayName":"urls","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"2068e014-a3fe-495f-bc81-b900349d6ceb","name":"Youtube Transcripts","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[1020,600],"typeVersion":2.1},{"parameters":{"name":"websearch_contents","description":"Performs a youtube search and retrieves relevant videos with metadata only.","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{"urls":"null","query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","operation":"youtube_search"},"schema":[{"id":"operation","type":"string","display":true,"removed":false,"required":false,"displayName":"operation","defaultMatch":false,"canBeUsedToMatch":true},{"id":"query","type":"string","display":true,"removed":false,"required":false,"displayName":"query","defaultMatch":false,"canBeUsedToMatch":true},{"id":"urls","type":"string","display":true,"removed":false,"required":false,"displayName":"urls","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"b9aff7a6-7985-4a37-9ca5-a580acaa9c94","name":"Youtube Search","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[740,600],"typeVersion":2.1},{"parameters":{"url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"searchQueries\": [$json.query],\n  \"maxResultStreams\": 0,\n  \"maxResults\": 5\n}\n}}","options":{}},"id":"3261c227-84ee-4eeb-a54d-5a0ade2aaaa8","name":"Apify Youtube Search","type":"n8n-nodes-base.httpRequest","position":[1880,420],"executeOnce":true,"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"9d1db837-e256-4124-80d1-8b103dbbefbb","name":"channelName","type":"string","value":"={{ $json.channelName }}"},{"id":"94cebccb-b499-4fab-a1ff-187179dcd5ce","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"cc68698a-221a-49b8-a349-d16ad4fa746c","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"de8ae3e0-685d-4e40-839f-13c798d4e5e2","name":"description","type":"string","value":"={{ $json.text.substr(0,2_000) }}"},{"id":"e933cbca-486c-45c9-8ed0-89a3d1efe003","name":"viewCount","type":"number","value":"={{ $json.viewCount }}"},{"id":"417846bb-5e8c-42af-b1dc-8b1de9fa426c","name":"likes","type":"number","value":"={{ $json.likes }}"}]},"options":{}},"id":"35a4e031-31ce-4aa8-8190-578c5cee91ae","name":"Simplify Search Results","type":"n8n-nodes-base.set","position":[2080,420],"typeVersion":3.4},{"parameters":{"url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"downloadSubtitles\": true,\n  \"hasCC\": false,\n  \"hasLocation\": false,\n  \"hasSubtitles\": false,\n  \"is360\": false,\n  \"is3D\": false,\n  \"is4K\": false,\n  \"isBought\": false,\n  \"isHD\": false,\n  \"isHDR\": false,\n  \"isLive\": false,\n  \"isVR180\": false,\n  \"maxResultStreams\": 0,\n  \"maxResults\": 1,\n  \"maxResultsShorts\": 0,\n  \"preferAutoGeneratedSubtitles\": false,\n  \"saveSubsToKVS\": false,\n  \"startUrls\": $json.urls.split(',').map(url => ({\n    \"url\": url,\n    \"method\": \"GET\"\n  })),\n  \"subtitlesFormat\": \"plaintext\",\n  \"subtitlesLanguage\": \"en\"\n}\n}}","options":{}},"id":"81a1e4a1-4ea2-42ac-a017-8dbd462cc644","name":"Apify Youtube Transcripts","type":"n8n-nodes-base.httpRequest","maxTries":2,"position":[1880,620],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"94cebccb-b499-4fab-a1ff-187179dcd5ce","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"cc68698a-221a-49b8-a349-d16ad4fa746c","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"7501fe60-f43d-42fe-9087-6f70a1cf12af","name":"transcript","type":"string","value":"={{ $json.subtitles[0].plaintext }}"}]},"options":{}},"id":"f840a08d-25b4-4c68-aaf1-33ab07d0f81e","name":"Simplify Transcript Results","type":"n8n-nodes-base.set","position":[2080,620],"typeVersion":3.4},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"fa8b981a-c450-43ac-a2b3-421b57b1610b","name":"Aggregate Search Results","type":"n8n-nodes-base.aggregate","position":[2280,420],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"6da6532a-bb13-4ba8-b060-f636cdfd5558","name":"Aggregate Transcript Results","type":"n8n-nodes-base.aggregate","position":[2280,620],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ff43aa98-4e32-478d-9e43-619b7b808948","name":"monthlyUsageCycle_startAt","type":"string","value":"={{ $json.data.monthlyUsageCycle.startAt }}"},{"id":"145eefd3-5248-40e9-a988-9e0e578d930a","name":"monthlyUsageCycle_endAt","type":"string","value":"={{ $json.data.monthlyUsageCycle.endAt }}"},{"id":"020d1e4f-d7ec-4d69-b9be-b6c4ba5971eb","name":"monthlyUsageUsd","type":"string","value":"={{ $json.data.current.monthlyUsageUsd.toFixed(2) }} of {{ $json.data.limits.maxMonthlyUsageUsd.toFixed(2) }}"},{"id":"112fb245-b35b-45ce-ad29-e05d0f352010","name":"ACTOR_COMPUTE_UNITS","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.ACTOR_COMPUTE_UNITS.amountAfterVolumeDiscountUsd }}"},{"id":"4b451afb-eba7-49c6-8c3c-7279fb315ec6","name":"DATASET_READS","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.DATASET_READS.amountAfterVolumeDiscountUsd }}"},{"id":"c002234c-955e-41f4-a27f-7f031ae6111e","name":"DATASET_TIMED_STORAGE_GBYTE_HOURS","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.DATASET_TIMED_STORAGE_GBYTE_HOURS.amountAfterVolumeDiscountUsd }}"},{"id":"0108085d-1bb4-44c5-bc3b-845a7206abfe","name":"DATASET_WRITES","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.DATASET_WRITES.amountAfterVolumeDiscountUsd }}"},{"id":"df993499-7410-450c-b5b1-50052e6d061e","name":"DATA_TRANSFER_EXTERNAL_GBYTES","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.DATA_TRANSFER_EXTERNAL_GBYTES.amountAfterVolumeDiscountUsd }}"},{"id":"1627a2dd-15a6-4b69-b480-4e1b792c403d","name":"DATA_TRANSFER_INTERNAL_GBYTES","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.DATA_TRANSFER_INTERNAL_GBYTES.amountAfterVolumeDiscountUsd }}"},{"id":"73037e97-e43d-4ecd-bb7e-6c5ce4740e4d","name":"KEY_VALUE_STORE_READS","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.KEY_VALUE_STORE_READS.amountAfterVolumeDiscountUsd }}"},{"id":"5de9ba3b-bf62-4525-9cd9-5008bafe73c5","name":"KEY_VALUE_STORE_TIMED_STORAGE_GBYTE_HOURS","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.KEY_VALUE_STORE_TIMED_STORAGE_GBYTE_HOURS.amountAfterVolumeDiscountUsd }}"},{"id":"6d1997f2-46c0-468b-b50f-fc37512417d2","name":"KEY_VALUE_STORE_WRITES","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.KEY_VALUE_STORE_WRITES.amountAfterVolumeDiscountUsd }}"},{"id":"b579cb9e-d18f-4877-b808-a177195a364a","name":"PAID_ACTORS_PER_DATASET_ITEM","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.PAID_ACTORS_PER_DATASET_ITEM.amountAfterVolumeDiscountUsd }}"},{"id":"5c69831c-3c62-421d-afff-bd8cfb68fb29","name":"REQUEST_QUEUE_READS","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.REQUEST_QUEUE_READS.amountAfterVolumeDiscountUsd }}"},{"id":"21d54d4d-515b-4fa7-b099-c8b193fc4436","name":"=REQUEST_QUEUE_TIMED_STORAGE_GBYTE_HOURS","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.REQUEST_QUEUE_TIMED_STORAGE_GBYTE_HOURS.amountAfterVolumeDiscountUsd }}"},{"id":"68168fc6-0052-4fa6-b631-942d972af340","name":"REQUEST_QUEUE_WRITES","type":"number","value":"={{ $('Get Usage Metrics').item.json.data.monthlyServiceUsage.REQUEST_QUEUE_WRITES.amountAfterVolumeDiscountUsd }}"}]},"options":{}},"id":"8ba124c0-c731-4fd3-b27c-a138f1ef950b","name":"Simplify Usage Metrics","type":"n8n-nodes-base.set","position":[2280,820],"typeVersion":3.4},{"parameters":{"url":"https://api.apify.com/v2/users/me/limits","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"6e540aaf-8541-4584-8b10-39a7cb3cb3cc","name":"Get Usage Limits","type":"n8n-nodes-base.httpRequest","position":[2080,820],"typeVersion":4.2},{"parameters":{"name":"Apfiy_Usage_Metrics","description":"Returns current month's usage metrics.","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{"urls":"null","query":"null","operation":"=usage_report"},"schema":[{"id":"operation","type":"string","display":true,"removed":false,"required":false,"displayName":"operation","defaultMatch":false,"canBeUsedToMatch":true},{"id":"query","type":"string","display":true,"removed":false,"required":false,"displayName":"query","defaultMatch":false,"canBeUsedToMatch":true},{"id":"urls","type":"string","display":true,"removed":false,"required":false,"displayName":"urls","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"2fd2302c-9e73-4198-871e-010efffa4713","name":"Usage Report","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[880,720],"typeVersion":2.1},{"parameters":{"url":"https://api.apify.com/v2/users/me/usage/monthly","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"1db88243-dc24-4ee2-a156-79b5d2d7de4e","name":"Get Usage Metrics","type":"n8n-nodes-base.httpRequest","position":[1880,820],"typeVersion":4.2},{"parameters":{"path":"b975bb25-be7c-49fb-8cd2-8e135d91ed4e"},"id":"4fb3b2d2-10bd-4b15-867f-ca263ff0cd11","name":"Apify Youtube MCP Server","type":"@n8n/n8n-nodes-langchain.mcpTrigger","position":[720,380],"webhookId":"b975bb25-be7c-49fb-8cd2-8e135d91ed4e","typeVersion":1},{"parameters":{"content":"## Try It Out!\n### This n8n demonstrates how to build a simple Youtube Search MCP server to look up videos on Youtube and download their transcripts for research purposes.\n\n### How it works\n* A MCP server trigger is used and connected to 3 custom workflow tools: Youtube Search, Youtube Transcripts and Usage Reports.\n* Both Youtube tools use an external scraping service called [APIFY.com](https://www.apify.com?fpr=414q6). This is my preference as it's a much simpler interface and there are no rate limits.  \n* The Youtube Search fetches 10 results based on the user's query.\n* The Youtube Transcripts downloads the subtitles from one or more given urls.\n* The usage reports pulls in your monthly [APIFY.com](https://www.apify.com?fpr=414q6) monthly spending and limits as a way to check your account.\n\n### How to use\n* This Apify Youtube MCP server allows any compatible MCP client to research youtube videos for any desired topic. An Apify account is required however to connect and use the service.\n* Connect your MCP client by following the n8n guidelines here - https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.mcptrigger/#integrating-with-claude-desktop\n* Alternatively, connect any n8n AI agent with the MCP client tool.\n* Try the following queries in your MCP client:\n  * \"what is MCP?\"\n  * \"How can I use MCP in n8n?\"\n  * \"How can I use Apify's official MCP server?\"\n\n### Requirements\n* [APIFY.com](https://www.apify.com?fpr=414q6) for Youtube Scraping. This is a paid service but there is a $5 free tier which is ample for this template.\n* MCP Client or Agent for usage such as Claude Desktop - https://claude.ai/download\n\n### Customising this workflow\n* Add as many [APIFY.com](https://www.apify.com?fpr=414q6) actors as required for your use-case or users. Consider using Apify's official MCP server for 4000+ available tools.\n* Remember to set the MCP server to require credentials before going to production and sharing this MCP server with others!","height":1020,"width":480},"id":"4bcaa948-2fa7-4637-84c7-8b560e2e8640","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[60,-140],"typeVersion":1},{"parameters":{"content":"[![](https://d2gdx5nv84sdx2.cloudfront.net/uploads/35gj8m4w/marketing_asset/banner/13734/Large_rectangle_336x280_Light__1_.png)](https://www.apify.com?fpr=414q6)","height":240,"width":280},"id":"ff172ff7-2770-4638-8d9a-a6c5f0b4c1c7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1280,-40],"typeVersion":1}],"connections":{"Operation":{"main":[[{"node":"Apify Youtube Search","type":"main","index":0}],[{"node":"Apify Youtube Transcripts","type":"main","index":0}],[{"node":"Get Usage Metrics","type":"main","index":0}]]},"Usage Report":{"ai_tool":[[{"node":"Apify Youtube MCP Server","type":"ai_tool","index":0}]]},"Youtube Search":{"ai_tool":[[{"node":"Apify Youtube MCP Server","type":"ai_tool","index":0}]]},"Get Usage Limits":{"main":[[{"node":"Simplify Usage Metrics","type":"main","index":0}]]},"Get Usage Metrics":{"main":[[{"node":"Get Usage Limits","type":"main","index":0}]]},"Youtube Transcripts":{"ai_tool":[[{"node":"Apify Youtube MCP Server","type":"ai_tool","index":0}]]},"Apify Youtube Search":{"main":[[{"node":"Simplify Search Results","type":"main","index":0}]]},"Simplify Search Results":{"main":[[{"node":"Aggregate Search Results","type":"main","index":0}]]},"Apify Youtube Transcripts":{"main":[[{"node":"Simplify Transcript Results","type":"main","index":0}]]},"Simplify Transcript Results":{"main":[[{"node":"Aggregate Transcript Results","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Operation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f6862b01-79b3-4994-a4dd-cac607430f8b","triggerCount":0,"shared":[{"createdAt":"2025-05-05T01:41:22.903Z","updatedAt":"2025-05-05T01:41:22.903Z","role":"workflow:owner","workflowId":"jaRA4YUaFssGYu9J","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}