mensagens-recebidas-whatsapp-H2VLK6uc1UXDbLoy.json
{"createdAt":"2025-09-29T12:14:52.503Z","updatedAt":"2025-10-25T23:05:59.000Z","id":"H2VLK6uc1UXDbLoy","name":"Mensagens Recebidas WhatsApp","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-384,-448],"id":"e863cb4c-c214-4cde-9959-d159635df957","name":"WhatsApp Trigger - ECC","webhookId":"d471c1d9-21e8-47a5-8285-ab8ec9e44eb7","credentials":{"whatsAppTriggerApi":{"id":"hlCrKgEKRoeajyvg","name":"WhatsApp OAuth account"}}},{"parameters":{"method":"POST","url":"https://gerencial.ecconline.com.br/api/WhatsApp/MensagemRecebida","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"instanceId\" :\"{{ $('Convert Json').item.json.instanceId }}\",\n\"messageId\":\"{{ $('Convert Json').item.json.messageId }}\",\n\"phone\":\"{{ $('Convert Json').item.json.phone }}\",\n\"fromMe\":false,\n\"momment\":\"{{ $json.timestamp_milliseconds }}\",\n\"status\":\"{{ $('Convert Json').item.json.status }}\",\n\"chatName\":\"{{ $('Convert Json').item.json.chatName }}\",\n\"senderName\":\"{{ $('Convert Json').item.json.senderName }}\",\n\"type\":\"{{ $('Convert Json').item.json.type }}\",\n\"text\" :{\"message\":\"{{ $('Convert Json').item.json.text.message }}\"},\n\"audio\":{\n  \"mimeType\":\"{{ $('Convert Json').item.json.audio.mime_type }}\",\n  \"audioUrl\":\"{{ $('Convert Json').item.json.audio.sha256 }}\"}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,-688],"id":"a5b0827a-57b1-4b18-b809-2d08021563f7","name":"HTTP Request"},{"parameters":{"jsCode":"// pega o timestamp em segundos do JSON de entrada\nconst tsSegundos = Number($input.first().json.momment); \n\n// converte para milissegundos\nconst tsMilissegundos = tsSegundos * 1000;\n\n// cria o objeto Date\nconst data = new Date(tsMilissegundos);\n\n// formata a data em YYYY-MM-DD HH:mm:ss\nconst data_formatada = data.getFullYear() + '-' +\n  String(data.getMonth() + 1).padStart(2, '0') + '-' +\n  String(data.getDate()).padStart(2, '0') + ' ' +\n  String(data.getHours()).padStart(2, '0') + ':' +\n  String(data.getMinutes()).padStart(2, '0') + ':' +\n  String(data.getSeconds()).padStart(2, '0');\n\n// retorna os dois formatos\nreturn {\n  timestamp_original: tsSegundos,\n  timestamp_milliseconds: tsMilissegundos,\n  data_formatada\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-688],"id":"62c7b50a-fe83-4f9e-afbb-16eda755beb5","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"fd57ae57-a577-49f0-b036-722dc1917120","name":"instanceId","value":"={{ $json.metadata.phone_number_id }}","type":"string"},{"id":"f1bed616-1835-47a5-973e-ee31e0ab3ae9","name":"messageId","value":"={{ $json.messages[0].id }}","type":"string"},{"id":"0de31f4f-b5f3-41f7-8adc-37f772e71f01","name":"phone","value":"={{ $json.contacts[0].wa_id }}","type":"string"},{"id":"6f207bc5-537c-43a1-921f-00c3acd1461f","name":"fromMe","value":false,"type":"boolean"},{"id":"cddeaac4-2ef6-48ea-a6a7-5b72f6211358","name":"momment","value":"={{ $json.messages[0].timestamp }}","type":"string"},{"id":"9c9d1c47-684a-4f6e-bb3e-085c9c58510c","name":"status","value":"RECEIVED","type":"string"},{"id":"6f141cc7-52c6-44f1-9888-6f50a4adf9e9","name":"chatName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"fe2526ac-f2f9-4f5c-8cf1-bd92eb53addc","name":"senderPhoto","value":"","type":"string"},{"id":"ed4678ef-1ad2-42fa-aff2-c9d24b4b0c56","name":"senderName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"a1efda1f-18f4-41ce-83fc-f8fa9950e5c9","name":"text","value":"={\"id\":\"\", \"message\": \"{{ $json.messages[0].text.body }}\"}","type":"object"},{"id":"707725eb-e306-4e2c-ac26-08a19b46b140","name":"type","value":"={{ $json.messages[0].type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-688],"id":"9d5ab679-36f0-4bda-bdcb-940dc601d463","name":"Convert Json"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2fc5c912-629b-4cbe-b5e3-7e3f0651c628","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"26a3d85c-0815-48ff-85ce-713129a1107c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"840b95b8-6559-4fb7-b32c-651451d6d0d2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"3e7a07f9-b785-450c-8c68-f6b276838503","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"document"}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1725766-3ac9-436c-a664-8acdb7fd01dd","leftValue":"={{ $json.messages[0].type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"}]},"options":{}},"id":"60e5b9d9-8061-40f9-8d8c-a21dd46ae216","name":"Route Types","type":"n8n-nodes-base.switch","position":[-160,-480],"typeVersion":3.2},{"parameters":{"jsCode":"// pega o timestamp em segundos do JSON de entrada\nconst tsSegundos = Number($('Convert Json1').first().json.momment); \n\n// converte para milissegundos\nconst tsMilissegundos = tsSegundos * 1000;\n\n// cria o objeto Date\nconst data = new Date(tsMilissegundos);\n\n// formata a data em YYYY-MM-DD HH:mm:ss\nconst data_formatada = data.getFullYear() + '-' +\n  String(data.getMonth() + 1).padStart(2, '0') + '-' +\n  String(data.getDate()).padStart(2, '0') + ' ' +\n  String(data.getHours()).padStart(2, '0') + ':' +\n  String(data.getMinutes()).padStart(2, '0') + ':' +\n  String(data.getSeconds()).padStart(2, '0');\n\n// retorna os dois formatos\nreturn {\n  timestamp_original: tsSegundos,\n  timestamp_milliseconds: tsMilissegundos,\n  data_formatada\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-464],"id":"7fad114b-9594-4e13-8074-7f5a01c0a013","name":"Code1"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.audio.id }}"},"id":"4533a27a-52c2-4cfc-9829-76806ae194c7","name":"Gets WhatsApp Voicemail Source URL","type":"n8n-nodes-base.whatsApp","position":[464,-464],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1,"credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"method":"POST","url":"https://gerencial.ecconline.com.br/api/WhatsApp/MensagemRecebida","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"instanceId\" :\"{{ $('Convert Json1').item.json.instanceId }}\",\n\"messageId\":\"{{ $('Convert Json1').item.json.messageId }}\",\n\"phone\":\"{{ $('Convert Json1').item.json.phone }}\",\n\"fromMe\":false,\n\"momment\":\"{{ $json.timestamp_milliseconds }}\",\n\"status\":\"{{ $('Convert Json1').item.json.status }}\",\n\"chatName\":\"{{ $('Convert Json1').item.json.chatName }}\",\n\"senderName\":\"{{ $('Convert Json1').item.json.senderName }}\",\n\"type\":\"{{ $('Convert Json1').item.json.type }}\",\n\"audio\":{\n  \"mimeType\":\"{{ $('Gets WhatsApp Voicemail Source URL').item.json.mime_type }}\",\n  \"audioUrl\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/whatsapp/{{ $('Gets WhatsApp Voicemail Source URL').item.json.id }}.ogg\"}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,-464],"id":"5badc208-8995-479a-811f-e5aca3e50a9d","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"fd57ae57-a577-49f0-b036-722dc1917120","name":"instanceId","value":"={{ $json.metadata.phone_number_id }}","type":"string"},{"id":"f1bed616-1835-47a5-973e-ee31e0ab3ae9","name":"messageId","value":"={{ $json.messages[0].id }}","type":"string"},{"id":"0de31f4f-b5f3-41f7-8adc-37f772e71f01","name":"phone","value":"={{ $json.contacts[0].wa_id }}","type":"string"},{"id":"6f207bc5-537c-43a1-921f-00c3acd1461f","name":"fromMe","value":false,"type":"boolean"},{"id":"cddeaac4-2ef6-48ea-a6a7-5b72f6211358","name":"momment","value":"={{ $json.messages[0].timestamp }}","type":"string"},{"id":"9c9d1c47-684a-4f6e-bb3e-085c9c58510c","name":"status","value":"RECEIVED","type":"string"},{"id":"6f141cc7-52c6-44f1-9888-6f50a4adf9e9","name":"chatName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"fe2526ac-f2f9-4f5c-8cf1-bd92eb53addc","name":"senderPhoto","value":"","type":"string"},{"id":"ed4678ef-1ad2-42fa-aff2-c9d24b4b0c56","name":"senderName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"a1efda1f-18f4-41ce-83fc-f8fa9950e5c9","name":"text","value":"={\"id\":\"\", \"message\": \"{{ $json.messages[0].text.body }}\"}","type":"object"},{"id":"707725eb-e306-4e2c-ac26-08a19b46b140","name":"type","value":"={{ $json.messages[0].type }}","type":"string"},{"id":"c968c658-aa8a-4b55-a7c5-eb8d7973d576","name":"audio","value":"={\n\"mime_type\":\"{{ $json.messages[0].audio.mime_type }}\",\n\"sha256\":\"{{ $json.messages[0].audio.sha256 }}\",\n\"id\":\"{{ $json.messages[0].audio.id }}\",\n\"voice\":{{ $json.messages[0].audio.voice }}\n} ","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-464],"id":"7b20706d-a23e-441a-85c4-53b1bf5da481","name":"Convert Json1"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"cf07285d-5046-4deb-afba-6f83382cb9cf","name":"Download Voicemail","type":"n8n-nodes-base.httpRequest","position":[688,-464],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"xX5EYametdjtA3Mi","name":"WhatsApp Key"}}},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"anexos-ecc","mode":"list","cachedResultName":"anexos-ecc"},"blobCreate":"=whatsapp/{{ $json.id }}.ogg","options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[912,-464],"id":"be4de680-c0e5-4bba-a850-f5979b5abb41","name":"Create blob","credentials":{"azureStorageSharedKeyApi":{"id":"kmykU0TBhi2DIJYs","name":"Azure Storage account"}}},{"parameters":{"jsCode":"// pega o timestamp em segundos do JSON de entrada\nconst tsSegundos = Number($('Convert Json2').first().json.momment); \n\n// converte para milissegundos\nconst tsMilissegundos = tsSegundos * 1000;\n\n// cria o objeto Date\nconst data = new Date(tsMilissegundos);\n\n// formata a data em YYYY-MM-DD HH:mm:ss\nconst data_formatada = data.getFullYear() + '-' +\n  String(data.getMonth() + 1).padStart(2, '0') + '-' +\n  String(data.getDate()).padStart(2, '0') + ' ' +\n  String(data.getHours()).padStart(2, '0') + ':' +\n  String(data.getMinutes()).padStart(2, '0') + ':' +\n  String(data.getSeconds()).padStart(2, '0');\n\n// retorna os dois formatos\nreturn {\n  timestamp_original: tsSegundos,\n  timestamp_milliseconds: tsMilissegundos,\n  data_formatada\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-256],"id":"633e6002-f540-43d0-824e-aca8a562938d","name":"Code2"},{"parameters":{"method":"POST","url":"https://gerencial.ecconline.com.br/api/WhatsApp/MensagemRecebida","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"instanceId\" :\"{{ $('Convert Json2').item.json.instanceId }}\",\n\"messageId\":\"{{ $('Convert Json2').item.json.messageId }}\",\n\"phone\":\"{{ $('Convert Json2').item.json.phone }}\",\n\"fromMe\":false,\n\"momment\":\"{{ $json.timestamp_milliseconds }}\",\n\"status\":\"{{ $('Convert Json2').item.json.status }}\",\n\"chatName\":\"{{ $('Convert Json2').item.json.chatName }}\",\n\"senderName\":\"{{ $('Convert Json2').item.json.senderName }}\",\n\"type\":\"{{ $('Convert Json2').item.json.type }}\",\n\"image\":{\n  \"mimeType\":\"{{ $('Download Image').item.json.mime_type }}\",\n  \"imageUrl\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/whatsapp/{{ $('Download Image').item.json.id }}.{{ $('Download Image').item.json.mime_type.split(\"/\")[1] }}\",\n  \"thumbnailUrl\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/whatsapp/{{ $('Download Image').item.json.id }}.{{ $('Download Image').item.json.mime_type.split(\"/\")[1] }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,-256],"id":"a8d4649c-2dd4-47fd-b6fd-8f384c866895","name":"HTTP Request2"},{"parameters":{"assignments":{"assignments":[{"id":"fd57ae57-a577-49f0-b036-722dc1917120","name":"instanceId","value":"={{ $json.metadata.phone_number_id }}","type":"string"},{"id":"f1bed616-1835-47a5-973e-ee31e0ab3ae9","name":"messageId","value":"={{ $json.messages[0].id }}","type":"string"},{"id":"0de31f4f-b5f3-41f7-8adc-37f772e71f01","name":"phone","value":"={{ $json.contacts[0].wa_id }}","type":"string"},{"id":"6f207bc5-537c-43a1-921f-00c3acd1461f","name":"fromMe","value":false,"type":"boolean"},{"id":"cddeaac4-2ef6-48ea-a6a7-5b72f6211358","name":"momment","value":"={{ $json.messages[0].timestamp }}","type":"string"},{"id":"9c9d1c47-684a-4f6e-bb3e-085c9c58510c","name":"status","value":"RECEIVED","type":"string"},{"id":"6f141cc7-52c6-44f1-9888-6f50a4adf9e9","name":"chatName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"fe2526ac-f2f9-4f5c-8cf1-bd92eb53addc","name":"senderPhoto","value":"","type":"string"},{"id":"ed4678ef-1ad2-42fa-aff2-c9d24b4b0c56","name":"senderName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"707725eb-e306-4e2c-ac26-08a19b46b140","name":"type","value":"={{ $json.messages[0].type }}","type":"string"},{"id":"c968c658-aa8a-4b55-a7c5-eb8d7973d576","name":"image","value":"={\n\"mime_type\":\"{{ $json.messages[0].image.mime_type }}\",\n\"sha256\":\"{{ $json.messages[0].image.sha256 }}\",\n\"id\":\"{{ $json.messages[0].image.id }}\"\n} ","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-256],"id":"475d0d3f-02d6-47d2-997c-b40c6fcaafa2","name":"Convert Json2"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.image.id }}"},"id":"a1310411-7141-4606-b0ac-e5a156ccea19","name":"Gets WhatsApp Image Source URL","type":"n8n-nodes-base.whatsApp","position":[464,-256],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1,"credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"anexos-ecc","mode":"list","cachedResultName":"anexos-ecc"},"blobCreate":"=whatsapp/{{ $json.id }}.{{ $json.mime_type.split(\"/\")[1] }}","binaryPropertyName":"image","options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[912,-256],"id":"4bbbc8ea-93cd-45c2-9882-0942347060cf","name":"Create Image","credentials":{"azureStorageSharedKeyApi":{"id":"kmykU0TBhi2DIJYs","name":"Azure Storage account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"image"}}}},"id":"24f30206-7e1a-4c7a-8b82-0d34d51554bf","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[688,-256],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"xX5EYametdjtA3Mi","name":"WhatsApp Key"}}},{"parameters":{"jsCode":"// pega o timestamp em segundos do JSON de entrada\nconst tsSegundos = Number($('Convert Json3').first().json.momment); \n\n// converte para milissegundos\nconst tsMilissegundos = tsSegundos * 1000;\n\n// cria o objeto Date\nconst data = new Date(tsMilissegundos);\n\n// formata a data em YYYY-MM-DD HH:mm:ss\nconst data_formatada = data.getFullYear() + '-' +\n  String(data.getMonth() + 1).padStart(2, '0') + '-' +\n  String(data.getDate()).padStart(2, '0') + ' ' +\n  String(data.getHours()).padStart(2, '0') + ':' +\n  String(data.getMinutes()).padStart(2, '0') + ':' +\n  String(data.getSeconds()).padStart(2, '0');\n\n// retorna os dois formatos\nreturn {\n  timestamp_original: tsSegundos,\n  timestamp_milliseconds: tsMilissegundos,\n  data_formatada\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,-48],"id":"3d755d5d-8c15-4937-8649-99f29ea9f40b","name":"Code3"},{"parameters":{"method":"POST","url":"https://gerencial.ecconline.com.br/api/WhatsApp/MensagemRecebida","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"instanceId\" :\"{{ $('Convert Json3').item.json.instanceId }}\",\n\"messageId\":\"{{ $('Convert Json3').item.json.messageId }}\",\n\"phone\":\"{{ $('Convert Json3').item.json.phone }}\",\n\"fromMe\":false,\n\"momment\":\"{{ $json.timestamp_milliseconds }}\",\n\"status\":\"{{ $('Convert Json3').item.json.status }}\",\n\"chatName\":\"{{ $('Convert Json3').item.json.chatName }}\",\n\"senderName\":\"{{ $('Convert Json3').item.json.senderName }}\",\n\"type\":\"{{ $('Convert Json3').item.json.type }}\",\n\"document\":{\n  \"mimeType\":\"{{ $('Download Document').item.json.mime_type }}\",\n  \"documentUrl\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/whatsapp/{{ $('Ajustar_Nome').item.json.nome_arquivo }}\",\n  \"thumbnailUrl\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/whatsapp/{{ $('Ajustar_Nome').item.json.nome_arquivo }}\",\n\"fileName\":\"{{ $('Ajustar_Nome').item.json.nome_arquivo }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,-48],"id":"e02ab476-655c-4cb5-b750-489c3a6b73ef","name":"HTTP Request3"},{"parameters":{"assignments":{"assignments":[{"id":"fd57ae57-a577-49f0-b036-722dc1917120","name":"instanceId","value":"={{ $json.metadata.phone_number_id }}","type":"string"},{"id":"f1bed616-1835-47a5-973e-ee31e0ab3ae9","name":"messageId","value":"={{ $json.messages[0].id }}","type":"string"},{"id":"0de31f4f-b5f3-41f7-8adc-37f772e71f01","name":"phone","value":"={{ $json.contacts[0].wa_id }}","type":"string"},{"id":"6f207bc5-537c-43a1-921f-00c3acd1461f","name":"fromMe","value":false,"type":"boolean"},{"id":"cddeaac4-2ef6-48ea-a6a7-5b72f6211358","name":"momment","value":"={{ $json.messages[0].timestamp }}","type":"string"},{"id":"9c9d1c47-684a-4f6e-bb3e-085c9c58510c","name":"status","value":"RECEIVED","type":"string"},{"id":"6f141cc7-52c6-44f1-9888-6f50a4adf9e9","name":"chatName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"fe2526ac-f2f9-4f5c-8cf1-bd92eb53addc","name":"senderPhoto","value":"","type":"string"},{"id":"ed4678ef-1ad2-42fa-aff2-c9d24b4b0c56","name":"senderName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"707725eb-e306-4e2c-ac26-08a19b46b140","name":"type","value":"={{ $json.messages[0].type }}","type":"string"},{"id":"c968c658-aa8a-4b55-a7c5-eb8d7973d576","name":"document","value":"={\n\"mime_type\":\"{{ $json.messages[0].document.mime_type }}\",\n\"sha256\":\"{{ $json.messages[0].document.sha256 }}\",\n\"id\":\"{{ $json.messages[0].document.id }}\"\n} ","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-48],"id":"e6ab5de9-75ca-4a3e-83b8-6866315e8e73","name":"Convert Json3"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.document.id }}"},"id":"651b3621-eb2d-42a6-9461-8f1367086b6e","name":"Gets WhatsApp Document Source URL","type":"n8n-nodes-base.whatsApp","position":[464,-48],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1,"credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"document"}}}},"id":"dade89c9-455c-4137-adaf-3b0fda63bf9c","name":"Download Document","type":"n8n-nodes-base.httpRequest","position":[688,-48],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"xX5EYametdjtA3Mi","name":"WhatsApp Key"}}},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"anexos-ecc","mode":"list","cachedResultName":"anexos-ecc"},"blobCreate":"=whatsapp/{{ $json.id }}.{{ $binary.document.fileExtension }}","binaryPropertyName":"document","options":{"filename":"={{ $json.id }}.{{ $binary.document.fileExtension }}"},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[1136,-48],"id":"53b11433-e6f9-44d5-a65b-63e120a96b0f","name":"Create Document","alwaysOutputData":false,"notesInFlow":false,"credentials":{"azureStorageSharedKeyApi":{"id":"kmykU0TBhi2DIJYs","name":"Azure Storage account"}}},{"parameters":{"jsCode":"// n8n v1.x Code node\nconst items = $input.all();\n\nfunction sanitizeHeaderFilename(name) {\n  return name\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '') // tira acentos\n    .replace(/[^\\x20-\\x7E]/g, '')                    // só ASCII visível\n    .replace(/[\\\\\"]/g, '')                           // remove \\ e \"\n    .replace(/[;\\r\\n]/g, '')                         // remove ; e quebras\n    .replace(/[^A-Za-z0-9._-]/g, '_');               // demais -> _\n}\n\nreturn items.map(item => {\n  item.binary = item.binary || {};\n  // ajuste 'document' se seu Binary Property tiver outro nome\n  const bin = item.binary.document || item.binary.data;\n  if (!bin) return item;\n\n  const id  = item.json.id || Date.now();\n  const ext = bin.fileExtension || (bin.mimeType && bin.mimeType.split('/')[1]) || 'bin';\n  const safeName = sanitizeHeaderFilename(`${id}.${ext}`);\n\n  bin.fileName = safeName; // força nome seguro p/ header x-ms-blob-content-disposition\n  if (!bin.mimeType) bin.mimeType = 'application/octet-stream';\n  item.json.nome_arquivo = safeName;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-48],"id":"cdeaf1ae-9003-41f8-a03d-ee06dcc33feb","name":"Ajustar_Nome"},{"parameters":{"jsCode":"// pega o timestamp em segundos do JSON de entrada\nconst tsSegundos = Number($('Convert Json4').first().json.momment); \n\n// converte para milissegundos\nconst tsMilissegundos = tsSegundos * 1000;\n\n// cria o objeto Date\nconst data = new Date(tsMilissegundos);\n\n// formata a data em YYYY-MM-DD HH:mm:ss\nconst data_formatada = data.getFullYear() + '-' +\n  String(data.getMonth() + 1).padStart(2, '0') + '-' +\n  String(data.getDate()).padStart(2, '0') + ' ' +\n  String(data.getHours()).padStart(2, '0') + ':' +\n  String(data.getMinutes()).padStart(2, '0') + ':' +\n  String(data.getSeconds()).padStart(2, '0');\n\n// retorna os dois formatos\nreturn {\n  timestamp_original: tsSegundos,\n  timestamp_milliseconds: tsMilissegundos,\n  data_formatada\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,144],"id":"ef02b6f7-e82d-4d83-863e-4b1c303aaf5a","name":"Code4"},{"parameters":{"method":"POST","url":"https://gerencial.ecconline.com.br/api/WhatsApp/MensagemRecebida","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"instanceId\" :\"{{ $('Convert Json4').item.json.instanceId }}\",\n\"messageId\":\"{{ $('Convert Json4').item.json.messageId }}\",\n\"phone\":\"{{ $('Convert Json4').item.json.phone }}\",\n\"fromMe\":false,\n\"momment\":\"{{ $json.timestamp_milliseconds }}\",\n\"status\":\"{{ $('Convert Json4').item.json.status }}\",\n\"chatName\":\"{{ $('Convert Json4').item.json.chatName }}\",\n\"senderName\":\"{{ $('Convert Json4').item.json.senderName }}\",\n\"type\":\"{{ $('Convert Json4').item.json.type }}\",\n\"document\":{\n  \"mimeType\":\"{{ $('Download Document1').item.json.mime_type }}\",\n  \"documentUrl\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/whatsapp/{{ $('Ajustar_Nome1').item.json.nome_arquivo }}\",\n  \"thumbnailUrl\":\"https://eccstoragesistema.blob.core.windows.net/anexos-ecc/whatsapp/{{ $('Ajustar_Nome1').item.json.nome_arquivo }}\",\n\"fileName\":\"{{ $('Ajustar_Nome1').item.json.nome_arquivo }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,144],"id":"749fa9a5-e6ab-44b0-bcb0-5a928ce0f6e6","name":"HTTP Request4"},{"parameters":{"assignments":{"assignments":[{"id":"fd57ae57-a577-49f0-b036-722dc1917120","name":"instanceId","value":"={{ $json.metadata.phone_number_id }}","type":"string"},{"id":"f1bed616-1835-47a5-973e-ee31e0ab3ae9","name":"messageId","value":"={{ $json.messages[0].id }}","type":"string"},{"id":"0de31f4f-b5f3-41f7-8adc-37f772e71f01","name":"phone","value":"={{ $json.contacts[0].wa_id }}","type":"string"},{"id":"6f207bc5-537c-43a1-921f-00c3acd1461f","name":"fromMe","value":false,"type":"boolean"},{"id":"cddeaac4-2ef6-48ea-a6a7-5b72f6211358","name":"momment","value":"={{ $json.messages[0].timestamp }}","type":"string"},{"id":"9c9d1c47-684a-4f6e-bb3e-085c9c58510c","name":"status","value":"RECEIVED","type":"string"},{"id":"6f141cc7-52c6-44f1-9888-6f50a4adf9e9","name":"chatName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"fe2526ac-f2f9-4f5c-8cf1-bd92eb53addc","name":"senderPhoto","value":"","type":"string"},{"id":"ed4678ef-1ad2-42fa-aff2-c9d24b4b0c56","name":"senderName","value":"={{ $json.contacts[0].profile.name }}","type":"string"},{"id":"707725eb-e306-4e2c-ac26-08a19b46b140","name":"type","value":"={{ $json.messages[0].type }}","type":"string"},{"id":"9be8262a-439e-4783-bd57-da4c487254b8","name":"video","value":"={\n\"mime_type\":\"{{ $json.messages[0].video.mime_type }}\",\n\"sha256\":\"{{ $json.messages[0].video.sha256 }}\",\n\"id\":\"{{ $json.messages[0].video.id }}\"\n} ","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,144],"id":"6bd05c4e-8fad-49dc-9897-29b17afac989","name":"Convert Json4"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"document"}}}},"id":"5ed7adc8-6514-4443-99bc-8738e7bb3d3d","name":"Download Document1","type":"n8n-nodes-base.httpRequest","position":[672,144],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"xX5EYametdjtA3Mi","name":"WhatsApp Key"}}},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"anexos-ecc","mode":"list","cachedResultName":"anexos-ecc"},"blobCreate":"=whatsapp/{{ $json.id }}.{{ $binary.document.fileExtension }}","binaryPropertyName":"document","options":{"filename":"={{ $json.id }}.{{ $binary.document.fileExtension }}"},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[1152,144],"id":"12368aae-b84b-469f-9c7e-b5442b14fa7b","name":"Create Document1","alwaysOutputData":false,"notesInFlow":false,"credentials":{"azureStorageSharedKeyApi":{"id":"kmykU0TBhi2DIJYs","name":"Azure Storage account"}}},{"parameters":{"jsCode":"// n8n v1.x Code node\nconst items = $input.all();\n\nfunction sanitizeHeaderFilename(name) {\n  return name\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '') // tira acentos\n    .replace(/[^\\x20-\\x7E]/g, '')                    // só ASCII visível\n    .replace(/[\\\\\"]/g, '')                           // remove \\ e \"\n    .replace(/[;\\r\\n]/g, '')                         // remove ; e quebras\n    .replace(/[^A-Za-z0-9._-]/g, '_');               // demais -> _\n}\n\nreturn items.map(item => {\n  item.binary = item.binary || {};\n  // ajuste 'document' se seu Binary Property tiver outro nome\n  const bin = item.binary.document || item.binary.data;\n  if (!bin) return item;\n\n  const id  = item.json.id || Date.now();\n  const ext = bin.fileExtension || (bin.mimeType && bin.mimeType.split('/')[1]) || 'bin';\n  const safeName = sanitizeHeaderFilename(`${id}.${ext}`);\n\n  bin.fileName = safeName; // força nome seguro p/ header x-ms-blob-content-disposition\n  if (!bin.mimeType) bin.mimeType = 'application/octet-stream';\n  item.json.nome_arquivo = safeName;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,144],"id":"262555c7-2860-4938-94d5-9fa5a9858bb0","name":"Ajustar_Nome1"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.video.id }}"},"id":"0af90fb0-63e2-4149-91c6-038968bee533","name":"Gets WhatsApp Video Source URL","type":"n8n-nodes-base.whatsApp","position":[464,144],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1,"credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}}],"connections":{"WhatsApp Trigger - ECC":{"main":[[{"node":"Route Types","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Convert Json":{"main":[[{"node":"Code","type":"main","index":0}]]},"Route Types":{"main":[[{"node":"Convert Json","type":"main","index":0}],[{"node":"Convert Json1","type":"main","index":0}],[{"node":"Convert Json2","type":"main","index":0}],[{"node":"Convert Json3","type":"main","index":0}],[{"node":"Convert Json4","type":"main","index":0}]]},"Gets WhatsApp Voicemail Source URL":{"main":[[{"node":"Download Voicemail","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Convert Json1":{"main":[[{"node":"Gets WhatsApp Voicemail Source URL","type":"main","index":0}]]},"Download Voicemail":{"main":[[{"node":"Create blob","type":"main","index":0}]]},"Create blob":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Convert Json2":{"main":[[{"node":"Gets WhatsApp Image Source URL","type":"main","index":0}]]},"Gets WhatsApp Image Source URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Create Image":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Create Image","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Convert Json3":{"main":[[{"node":"Gets WhatsApp Document Source URL","type":"main","index":0}]]},"Gets WhatsApp Document Source URL":{"main":[[{"node":"Download Document","type":"main","index":0}]]},"Download Document":{"main":[[{"node":"Ajustar_Nome","type":"main","index":0}]]},"Create Document":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Ajustar_Nome":{"main":[[{"node":"Create Document","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Convert Json4":{"main":[[{"node":"Gets WhatsApp Video Source URL","type":"main","index":0}]]},"Download Document1":{"main":[[{"node":"Ajustar_Nome1","type":"main","index":0}]]},"Create Document1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Ajustar_Nome1":{"main":[[{"node":"Create Document1","type":"main","index":0}]]},"Gets WhatsApp Video Source URL":{"main":[[{"node":"Download Document1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"WhatsApp Trigger - ECC":[{"json":{"messaging_product":"whatsapp","metadata":{"display_phone_number":"551140637950","phone_number_id":"804952052707181"},"contacts":[{"profile":{"name":"Thiago Redigulo"},"wa_id":"5511998590806"}],"messages":[{"from":"5511998590806","id":"wamid.HBgNNTUxMTk5ODU5MDgwNhUCABIYFDNBODI2OUY3RUY2ODMwQjcyMkU3AA==","timestamp":"1761432533","type":"video","video":{"mime_type":"video/mp4","sha256":"s4NCptE8+EMNGu5T3gy/M+M7jOVHiS6RzNVlJ0BOs1g=","id":"792284210267708"}}],"field":"messages"}}]},"versionId":"6246e2fa-3abc-4e2d-b6cd-e08dc33ba64c","triggerCount":1,"shared":[{"createdAt":"2025-09-29T12:14:52.515Z","updatedAt":"2025-09-29T12:14:52.515Z","role":"workflow:owner","workflowId":"H2VLK6uc1UXDbLoy","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}