mensagens-enviadas-whatsapp-9uoMK1QHaIS5MnBA.json
{"updatedAt":"2025-10-25T20:47:48.000Z","createdAt":"2025-10-24T23:58:27.450Z","id":"9uoMK1QHaIS5MnBA","name":"Mensagens Enviadas WhatsApp","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"message/send","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,-32],"id":"7f67cfb2-c2c9-418f-a33d-886f0c4e8c44","name":"Webhook","webhookId":"75905614-f9d8-4abe-b67c-e4ddf84caf2e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"Texto","operator":{"type":"string","operation":"equals"},"id":"431f551f-0ae8-447e-8817-1d36c3c5c7b7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8700f8a5-6e5f-420d-b09d-133129db4bc5","leftValue":"={{ $json.body.type }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eddf9bd1-2734-4fb1-8e5c-c5818e3b4a20","leftValue":"={{ $json.body.type }}","rightValue":"Imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13a19d75-623b-4c3c-b337-eaf47166780e","leftValue":"={{ $json.body.type }}","rightValue":"Documento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14be7478-1a4b-4412-8556-07139941b23b","leftValue":"={{ $json.body.type }}","rightValue":"Video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-176,-80],"id":"be019694-8001-49b2-9933-6698f0c26279","name":"Switch"},{"parameters":{"operation":"send","phoneNumberId":"804952052707181","recipientPhoneNumber":"={{ $json.body.phone }}","textBody":"={{ $json.body.message }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[208,-256],"id":"9a23ac76-1eff-470f-8f7e-bd9fe72cebef","name":"Send message Txt","webhookId":"5f317a3e-4a15-49e6-a89c-d2d529135e72","credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"operation":"send","phoneNumberId":"804952052707181","recipientPhoneNumber":"={{ $json.body.phone }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[736,-64],"id":"be7fe7da-d912-41e2-af2f-f7f26e0362bd","name":"Send message Audio","webhookId":"5f317a3e-4a15-49e6-a89c-d2d529135e72","credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"url":"={{ $json.body.file }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,-64],"id":"2a8b4585-aba6-48c6-b3f4-7eaee43bcd81","name":"HTTP Request"},{"parameters":{"jsCode":"// n8n v1.x \"Code\" node\nconst items = $input.all();\n\nfunction sanitizeFileName(name) {\n  return (name || 'audio.mp3')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '') // remove acentos\n    .replace(/[^\\x20-\\x7E]/g, '')                    // apenas ASCII visível\n    .replace(/[\\\\\"]/g, '')                           // tira \\ e \"\n    .replace(/[;\\r\\n]/g, '')                         // tira ; e quebras\n    .replace(/[^A-Za-z0-9._-]/g, '_');               // demais → _\n}\n\nreturn items.map(item => {\n  // O HTTP Request (responseFormat=file) gera binary \"data\" por padrão\n  item.binary = item.binary || {};\n  const bin = item.binary.data || item.binary.document || item.binary.image;\n  if (!bin) return item;\n\n  // Deriva nome a partir da URL recebida no Webhook\n  const url = item.json?.body?.file || '';\n  let fileName = url.split('/').pop() || 'audio.mp3';\n\n  // Garante extensão .mp3\n  if (!/\\.mp3$/i.test(fileName)) fileName += '.mp3';\n  fileName = sanitizeFileName(fileName);\n\n  // Força metadados corretos para envio como \"audio\"\n  bin.fileName = fileName;\n  bin.fileExtension = 'mp3';\n  bin.mimeType = 'audio/mpeg';\n\n  // Mantém só esse binário na chave \"data\" (o WhatsApp node lê o primeiro/“data”)\n  item.binary = { data: bin };\n\n  // (Opcional) expõe o nome no JSON para uso depois\n  item.json.nome_arquivo = fileName;\n\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-64],"id":"116145cc-b80e-4fff-bf57-524362dacad0","name":"Code"},{"parameters":{"operation":"send","phoneNumberId":"804952052707181","recipientPhoneNumber":"={{ $json.body.phone }}","messageType":"video","mediaLink":"={{ $json.body.file }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[208,496],"id":"b626a7a5-dfb4-4e69-9e7f-7117c57056f0","name":"Send message Video","webhookId":"6106055a-63de-44b4-baf4-03d7fc4a7436","credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"operation":"send","phoneNumberId":"804952052707181","recipientPhoneNumber":"={{ $json.body.phone }}","messageType":"image","mediaLink":"={{ $json.body.file }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[208,112],"id":"cdbf4cb5-30c4-4a80-8f29-58600942871a","name":"Send message Image","webhookId":"6106055a-63de-44b4-baf4-03d7fc4a7436","credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"operation":"send","phoneNumberId":"804952052707181","recipientPhoneNumber":"={{ $json.body.phone }}","messageType":"document","mediaLink":"={{ $json.body.file }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[208,288],"id":"91c863b8-61ef-4ad0-b242-45815e708124","name":"Send message Documento","webhookId":"6106055a-63de-44b4-baf4-03d7fc4a7436","credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1312,-64],"id":"9fd3dbbb-4270-43f2-846a-413d150587b4","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send message Txt","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Send message Image","type":"main","index":0}],[{"node":"Send message Documento","type":"main","index":0}],[{"node":"Send message Video","type":"main","index":0}]]},"Send message Txt":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send message Audio","type":"main","index":0}]]},"Send message Audio":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Send message Image":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Send message Documento":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Send message Video":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.rasystem.com.br","user-agent":"PostmanRuntime/7.49.0","content-length":"169","accept":"*/*","accept-encoding":"gzip, deflate, br","cache-control":"no-cache","content-type":"application/json","postman-token":"0998bf92-7f10-41ab-9196-7b5331dcc077","x-forwarded-for":"177.16.191.113","x-forwarded-host":"n8n.rasystem.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"550769188db1","x-real-ip":"177.16.191.113"},"params":{},"query":{},"body":{"phone":"5511998590806","file":"https://eccstoragesistema.blob.core.windows.net/uploads/20251025T132206231.png","message":"","type":"image"},"webhookUrl":"https://n8n.rasystem.com.br/webhook-test/message/send","executionMode":"test"}}]},"versionId":"49c34421-8f67-43d4-8704-974bf77e1ed3","triggerCount":1,"shared":[{"updatedAt":"2025-10-24T23:58:27.459Z","createdAt":"2025-10-24T23:58:27.459Z","role":"workflow:owner","workflowId":"9uoMK1QHaIS5MnBA","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}