mobilevet-JSnv7aWns6biQx3y.json
{"createdAt":"2025-05-27T01:57:00.679Z","updatedAt":"2025-07-08T17:07:51.000Z","id":"JSnv7aWns6biQx3y","name":"Mobilevet","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ff392999-d538-4fdf-83d6-932872f9f938","name":"base64","value":"={{ $('Edit Fields').item.json.base64 }}","type":"string"}]},"options":{}},"id":"5e9e0cd8-8550-4290-b57f-14ab2e5ac9a7","name":"Variaveis JPG2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,320]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":"image/jpeg"}},"id":"b948e3de-626e-4e95-9a08-0c0ca55570c4","name":"Convert to JPG","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[160,320]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mpeg"}},"id":"897ff1df-1f2e-495f-9f4e-f885d9332ec5","name":"Convert to MP1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[160,160]},{"parameters":{"assignments":{"assignments":[{"id":"98cb7ff6-269e-40f0-9ca3-779b426b5dab","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"2a9dbe4e-92e9-4d7d-9d5e-277b34c5736e","name":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"6fe4dbab-a336-4972-81a6-b0c31ceff5cc","name":"Edit Fields12","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"b2c30787-f6e4-4f1a-87da-13b42a132342","name":"base64","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"base64\"] }}","type":"string"}]},"options":{}},"id":"75356578-ff8b-434b-8510-bcd35207ab33","name":"Edit Fields13","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,160]},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Switch').item.json.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $item(\"0\").$node[\"Transcreve Áudio\"].json[\"text\"] }}","type":"string"}]},"options":{}},"id":"fdb22944-6f0a-4287-b11e-5cf894b9906b","name":"Edit Fields14","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,160]},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Edit Fields').item.json.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $item(\"0\").$node[\"Analisa Imagem\"].json[\"choices\"][\"0\"][\"message\"][\"content\"] }}","type":"string"}]},"options":{}},"id":"89d54a6f-e2d1-4861-a578-7971349e3492","name":"Edit Fields16","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,320]},{"parameters":{"operation":"push","list":"={{ $json.remoteJid }}","messageData":"={{ $json.mensagem }}","tail":true},"id":"03d37e09-9536-4b99-a0a3-491a823301a6","name":"Listar Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1080,40]},{"parameters":{"operation":"get","propertyName":"mensagem","key":"={{ $json.remoteJid }}","options":{}},"id":"5e82ee78-99e0-471b-9666-cd0fdbc1dad8","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1520,40]},{"parameters":{"amount":0.5},"id":"0bb08cc7-7d61-4ade-8d26-f6c47fb09c8b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,40],"webhookId":"63dc8415-d5b3-442c-b720-94ceb280001a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bb80936-87dc-4fcf-9784-83b69bf74de3","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Merge1').item.json.mensagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"c9293556-b308-4aa7-8def-4f6789474314","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,40]},{"parameters":{"assignments":{"assignments":[{"id":"8a9e3cf8-ed81-432f-97ed-3e313dda6117","name":"remoteJid","value":"={{ \n  $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]\n    .toString() // Converte para string, caso seja necessário\n    .replace(/@s\\.whatsapp\\.net$/, '') // Remove \"@s.whatsapp.net\"\n    .replace(/^55(\\d{2})(\\d{5})(\\d{4})$/, '$1 $2$3') // Formata como \"66 984135986\"\n}}\n","type":"string"},{"id":"c462d894-872e-4dfa-93f8-f5473ba0a874","name":"pushName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"8f1dd78d-2cdf-4ccd-93de-f1f9fcf05242","name":"conversation","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"52a755db-c4a7-40ed-adb8-db8783fac6ca","name":"messageType","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"messageType\"] }}","type":"string"},{"id":"2bc74008-8683-46cc-af56-74f3f17a8109","name":"fromMe","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}","type":"string"},{"id":"b45af9ee-b316-4a90-ac1c-2eb9c1c23e1f","name":"base64","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"base64\"] }}","type":"string"}]},"options":{}},"id":"bbc82bd7-a056-4038-a8c2-2861dd2cca26","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,280]},{"parameters":{},"id":"ba32954e-5d36-4ea5-8fb8-91bb592a7996","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[920,720]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","contextWindowLength":1},"id":"7ac225cb-7877-4772-bb25-040315d94bc2","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[800,720]},{"parameters":{"model":"gpt-4","options":{"temperature":0.2,"topP":1}},"id":"085da5ef-a525-490d-994a-7d8cae812d2d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[660,720]},{"parameters":{"operation":"set","key":"={{ $json.remoteJid }}_block","value":"true","keyType":"string","expire":true,"ttl":180},"id":"9d42bd1d-37ba-4fc3-abe7-6c4d68d30ba9","name":"Block IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1060,140],"credentials":{"redis":{"id":"gG8VhT5nokZGqEH8","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Block","key":"={{ $json.remoteJid }}_block","options":{}},"id":"a96d83eb-ff48-4d12-98a5-bccc606709c0","name":"Receber Block Chat","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1060,420],"credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}}},{"parameters":{"model":"gpt-4o-mini-2024-07-18","options":{}},"id":"7f1f4c42-baf1-490e-8db1-93affa5c1444","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1420,740]},{"parameters":{"name":"base_conhecimento","description":"use essa tool para buscar no vector_store informações sobre especialista médicos, especialidade, valor da consulta, exames, tipo de exames, valor de exames, e outras informações no banco de dados","topK":10},"id":"6071b49c-e411-4177-98d1-6db547156e72","name":"base_conhecimento","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1220,580]},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instance\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"},{"name":"text","value":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"messages\"] }}"}]},"options":{}},"id":"52a8c4d7-807f-48d2-a94d-b54238d6a059","name":"Resposta Texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2300,420]},{"parameters":{"assignments":{"assignments":[{"id":"68c8742a-8cc1-4aff-9313-71390277bf4f","name":"messages","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"160f6f35-bba4-4fe5-b0c3-68a1cbe108b4","name":"Edit Fragmenta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,320]},{"parameters":{"assignments":{"assignments":[{"id":"e0768b84-d95d-47a0-843e-82b2b74130cf","name":"messages","value":"={{ $json.messages.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"91ce5135-aa3d-498b-a681-eb921d018cbd","name":"Split \\n","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,320]},{"parameters":{"amount":3},"id":"23f3f50d-713d-4d3b-8dfd-e7576a486612","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2540,480],"webhookId":"90bf0bfe-c3cd-4a4f-844b-2f0e7502bbc6"},{"parameters":{"options":{"reset":false}},"id":"09f1f0e0-5eb4-47b2-80fa-48765c46694e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2060,320]},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"a06825c8-c000-4fee-9d74-fafeb8efcf31","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1860,320]},{"parameters":{"assignments":{"assignments":[{"id":"a8f9df49-3137-42d2-9ac3-dae8a8ea7a26","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"22d5a625-8475-4115-9982-2b4911663125","name":"chat_id","value":"={{ $('Merge1').item.json.remoteJid }}","type":"string"}]},"options":{}},"id":"2223348d-7dc8-4c7d-a7d7-8ca9c4317ddd","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2020,20]},{"parameters":{"operation":"delete","key":"={{ $json.chat_id }}"},"id":"bd756668-da7a-4ca3-be74-b405f0b818fd","name":"Deleta Mesagem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2280,20]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fd12788-3c02-4a42-8f3a-e0f34b40b76a","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"id":"a718c787-e70f-49da-8fab-4654c99bae6a","name":"bloqueia_grupo","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1740,300]},{"parameters":{"options":{}},"id":"073113d2-af1c-4e77-bc2d-2dc83a4151de","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1080,880]},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"0ebb2318-9de8-4d29-96a3-7136dbfb4dae","name":"Transcreve Áudio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[340,160]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"transcrever a imagem, atentando-se apenas para o conteúdo legível e claro referente às informações sobre exames, consultas e outras informações, para que o agente possa responder com base nas informações do sistema. atentar para exames, radiografias, Raio X, Tomografia Computadorizada, ressonância magnética, Exames Laboratoriais, Exames Clínicos. Quando a Imagem não conter nada relacionando, responder da seguinte forma.","inputType":"=data","simplify":false,"options":{}},"id":"e36ada2c-da9b-4e0d-b63a-1e41350d4e14","name":"Analisa Imagem","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[340,320]},{"parameters":{"tableName":"astraonlinepdf","options":{}},"id":"a8b25ef8-0527-4838-b279-fc12d1882f35","name":"Postgres PGVector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1100,740]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"4765207e-26a9-478c-94a8-2db13b31ef65"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eff21590-3f98-44e7-a61c-69b58659b264","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70387fe0-1775-4220-8d33-31a51169cd39","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"6149dd56-d93f-43f3-9023-0c42be607c4a","name":"Switch Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-540,260]},{"parameters":{"numberInputs":5},"id":"3abf04e4-1273-4b5b-aaac-3c4ed331f2f2","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[760,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b556bba-decb-4c52-af5b-8a2b019915b6","leftValue":"={{ $json.Block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"913cacc5-d1dd-4a6a-a209-7e8337481011","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"fromMe\"] }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47adcb9e-74a9-487c-9aa5-ef65dec84847","leftValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"fromMe\"] }}","rightValue":"=false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"306fe61d-e799-494d-a6cf-c4fc1e2aa3d1","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1300,280]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Para efetuar caulículos matemáticos utilize a ferramenta Calculator, a data de hoje é {{$today}} e o horário de hoje é {{$now}}\n\nData de hoje: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n### Transferindo para um atendente\nQuando identificar que o usuario ou cliente precisar falar com um atendente, ou se ele solicitar o atendimento por um ser humano ou agente de atendimento diga a seguinte frase exatamente conforme informado \"Ok transferindo\" mão pode ser diferente disso\n\n#### Sobre preços dos produtos ou serviços\nCaso alguem pergunte sobre os preços do serviços que oferecmos, busque na base de conhecimento\n\n### **Persona**\nLIA é a assistente virtual da Astra Online Web Technology LTDA. Ela é cordial, técnica, objetiva e muito atenciosa. Sua principal função é entender as necessidades dos clientes, apresentar as soluções de automação oferecidas pela empresa, além de auxiliar na triagem de suporte técnico, agendamentos de reuniões e explicações sobre integrações com WhatsApp, ERPs, CRMs e outros sistemas.\n\n---\n\n### **Contexto**\nA Astra Online é uma empresa especializada em desenvolver automações personalizadas para atendimento via WhatsApp, integração com sistemas ERP, CRMs, ferramentas de marketing e plataformas de inteligência artificial. LIA é responsável por coletar as informações dos clientes interessados em soluções, responder dúvidas frequentes e encaminhar casos específicos para o setor técnico ou comercial.\n\n---\n\n### **Objetivo**\nGarantir um atendimento técnico, rápido e eficiente para potenciais clientes e usuários da Astra Online, esclarecendo dúvidas e direcionando os atendimentos para os setores adequados da empresa. O foco é otimizar a captação de leads, reduzir o tempo de resposta e garantir clareza no processo de atendimento.\n\n---\n\n### **Diretrizes**\nTécnica COT (Chain-of-Thought): LIA deve pensar em etapas lógicas e estruturadas para organizar sua fala e processos.\n\nTom Profissional e Amigável: Equilibrar o tom técnico com simpatia, buscando sempre simplificar a linguagem para quem não é da área.\n\nInteratividade Direta: Fazer perguntas específicas e diretas para entender a necessidade do cliente e oferecer a melhor solução.\n\nUtilização da ferramenta base_conhecimento:\n\nSempre que solicitada uma funcionalidade técnica, integração ou valor, LIA deverá consultar a base_conhecimento antes de responder.\n\nEm casos de dúvida ou especificações fora do comum, LIA encaminhará para um especialista humano com uma pré-triagem.\n\n---\n\nDiretriz para Início de Conversa da LIA\nObjetivo de Conversação da LIA\nIniciar todas as conversas com uma saudação padronizada, educada e técnica, confirmando o nome do cliente capturado automaticamente e direcionando a conversa com base no contexto recebido.\n\nMensagem Padrão de Início de Conversa\nOlá, tudo bem? 👋 Eu sou a LIA, assistente virtual da Astra Online, empresa especialista em automações com WhatsApp, ERPs e CRMs!\n\nIdentifiquei que seu nome é {{ $('Webhook').item.json.body.data.pushName }}. Poderia confirmar, por gentileza?\n\nEstilo de Resposta\nLIA deve utilizar formatação Markdown para entregar respostas mais claras e visuais.\n\nNegrito (*) para informações relevantes.\n\nItálico (_) para dicas e orientações.\n\nListas para organizar tópicos técnicos ou etapas de projeto.\n\nCabeçalhos # para separar blocos de informação.\n\nLinks sempre que necessário.\n\nEmojis em contextos amigáveis e técnicos:\n\n🤖 para automações\n\n📈 para integrações\n\n📅 para agendamentos\n\n🛠️ para suporte técnico\n\nRoteiro de Triagem Técnica ou Comercial\nObjetivo\nLevantar todas as informações básicas antes de transferir o cliente para o setor técnico ou comercial, dependendo do caso.\n\nFluxo de Perguntas\nConfirmação de Nome\n\n\"Poderia confirmar seu nome? Ou deseja utilizar este: {{ $('Webhook').item.json.body.data.pushName }}?\"\n\nConfirmação de WhatsApp\n\n\"Podemos seguir com este número de WhatsApp para contato?\"\n\nTipo de Interesse\n\n\"Você está buscando por:\"\n\nIntegração com WhatsApp\n\nAutomatizar atendimentos (Chatbot/IA)\n\nIntegração com ERP ou CRM\n\nSuporte técnico\n\nOutro (especifique)\n\nSistema ou Plataforma em Uso\n\n\"Você já utiliza alguma plataforma específica como ERP, CRM ou WhatsApp Business API? Se sim, qual?\"\n\nObjetivo com a Automação\n\n\"Qual o seu principal objetivo com a automação? Ex: disparos em massa, chatbot de atendimento, relatórios automáticos etc.\"\n\nPúblico-Alvo e Volume\n\n\"Seu atendimento é voltado para clientes, leads ou equipes internas? Qual o volume médio de mensagens por dia?\"\n\nDeseja Agendar um Atendimento?\n\n\"Deseja agendar um atendimento com nosso time técnico ou comercial para entender melhor o seu projeto?\"\n\nResumo da Coleta de Informações\nApós coletar tudo, LIA deve enviar um resumo para validação:\n\n📋 Resumo da Solicitação:\n\nNome do Cliente:\n\nNúmero de WhatsApp:\n\nTipo de Interesse:\n\nPlataforma ou Sistema Utilizado:\n\nObjetivo com a Automação:\n\nPúblico-alvo / Volume de mensagens:\n\nDeseja Agendamento: ✅ ou ❌\n\nEncerramento com Transferência\nSe o cliente desejar atendimento:\n\nÓtimo! Já coletei todas as informações importantes. Vou te transferir agora para um de nossos especialistas da Astra Online! Aguarde um instante, por favor...\n\n➡️ Palavra-chave para n8n: ok_transferindo\n\nFuncionalidade da LIA\n🚫 Assuntos aleatórios ou que não estejam relacionados a soluções em automação, ERPs, CRMs ou suporte técnico, devem ser gentilmente redirecionados ou encerrados."}},"id":"17a90344-2dde-409e-97db-15af14feb4b9","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1100,320]},{"parameters":{"httpMethod":"POST","path":"856faf61-b63e-4acb-a537-fdb3fc0e20c2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1960,300],"id":"f9431dec-6ac2-4e9a-9a95-2f1935173446","name":"Webhook","webhookId":"856faf61-b63e-4acb-a537-fdb3fc0e20c2"}],"connections":{"Variaveis JPG2":{"main":[[{"node":"Convert to JPG","type":"main","index":0}]]},"Convert to JPG":{"main":[[{"node":"Analisa Imagem","type":"main","index":0}]]},"Convert to MP1":{"main":[[{"node":"Transcreve Áudio","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Edit Fields13":{"main":[[{"node":"Convert to MP1","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Edit Fields16":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Listar Mensagens":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Receber Block Chat":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"base_conhecimento","type":"ai_languageModel","index":0}]]},"base_conhecimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Resposta Texto":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Edit Fragmenta":{"main":[[{"node":"Split \\n","type":"main","index":0}]]},"Split \\n":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Resposta Texto","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Deleta Mesagem","type":"main","index":0}]]},"Deleta Mesagem":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"bloqueia_grupo":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Transcreve Áudio":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"Analisa Imagem":{"main":[[{"node":"Edit Fields16","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_vectorStore":[[{"node":"base_conhecimento","type":"ai_vectorStore","index":0}]]},"Switch Type":{"main":[[{"node":"Edit Fields12","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}],[{"node":"Variaveis JPG2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Listar Mensagens","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Switch Type","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Block IA","type":"main","index":0}],[{"node":"Receber Block Chat","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fragmenta","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"bloqueia_grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ce027976-721c-4417-ac8b-84dc72252ce3","triggerCount":0,"tags":[]}