mobilevet-principal-EmtFdDs6oSypCHIs.json
{"createdAt":"2025-07-08T17:08:06.072Z","updatedAt":"2025-07-11T02:38:53.000Z","id":"EmtFdDs6oSypCHIs","name":"Mobilevet Principal","active":false,"nodes":[{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Erro ao confirmar agendamento! Favor entre em contato com o atendimento.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-60,160],"id":"db5d75f7-83f7-465f-9768-9184977d1049","name":"MSG Confirmação Erro","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"https://mobilevet-homolog.azurewebsites.net/api/chatwoot/ConfirmarExame","sendBody":true,"bodyParameters":{"parameters":[{"name":"AtendimentoId","value":"={{ $json.respostaLista[1] }}"},{"name":"Resposta","value":"={{ $json.respostaLista[0] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,0],"id":"6bfb88f3-e75d-4234-a90f-fced24bfab44","name":"Confirma Agendamento"},{"parameters":{"method":"POST","url":"https://mobilevet-homolog.azurewebsites.net/api/chatwoot/ConfirmarExame","sendBody":true,"bodyParameters":{"parameters":[{"name":"AtendimentoId","value":"={{ $json.respostaLista[1] }}"},{"name":"Resposta","value":"={{ $json.respostaLista[0] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,420],"id":"c57b1137-16b9-4778-afe3-73bc1cb9afd5","name":"Cancela Agendamento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3092970b-081f-43f5-b726-4548ae0570a9","leftValue":"={{ $json.data }}","rightValue":"Confirmação tratada com sucesso!","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,60],"id":"b0d37c5a-76eb-457f-89dd-3e46c26cbaaa","name":"Confirmado com Sucesso?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3092970b-081f-43f5-b726-4548ae0570a9","leftValue":"={{ $json.data }}","rightValue":"Confirmação tratada com sucesso!","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,480],"id":"40c3dba2-ba7d-4816-a931-37b62d14149e","name":"Cancelado com sucesso?"},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Agendamento confirmado com sucesso! ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-60,-40],"id":"c506a317-ee13-413e-8807-c64aba19f7a7","name":"MSG Confimação Sucesso","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-list","options_message":{},"instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","title":"Agendamento cancelado com sucesso!","description":"Deseja Reagendar o exame","footerText":" ","sections":{"sectionValues":[{"title":" ","rows":{"rowValues":[{"title":"Reagendar","rowId":"OP7_Reagendar"},{"title":"Cancelar","rowId":"OP8_Cancelar"}]}}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-60,380],"id":"cdc47100-d802-489b-aa77-bdbdc9a01b20","name":"MSG Cancelamento sucesso","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Tranferindo para Agendar Exame","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1100,980],"id":"a4d276d4-880d-4798-9698-04fb99c35678","name":"MSG Reagendamento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Agendamento cancelado. Atendimento encerrado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-280,700],"id":"21526dc0-638b-45d6-8f52-c274abf1017e","name":"MSG Cancelamento Definitivo","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8a9e3cf8-ed81-432f-97ed-3e313dda6117","name":"remoteJid","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.toString().replace(/@s\\.whatsapp\\.net$/, '') }}","type":"string"},{"id":"c462d894-872e-4dfa-93f8-f5473ba0a874","name":"pushName","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"8f1dd78d-2cdf-4ccd-93de-f1f9fcf05242","name":"conversation","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"52a755db-c4a7-40ed-adb8-db8783fac6ca","name":"messageType","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"data\"][\"messageType\"] }}","type":"string"},{"id":"2bc74008-8683-46cc-af56-74f3f17a8109","name":"fromMe","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}","type":"string"},{"id":"b45af9ee-b316-4a90-ac1c-2eb9c1c23e1f","name":"base64","value":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"data\"][\"message\"][\"base64\"] }}","type":"string"},{"id":"093bad27-8059-4ead-b7b8-5d8e2aee5c45","name":"respostaLista","value":"={{ $('Webhook1').item.json.body.data.message.listResponseMessage.singleSelectReply.selectedRowId.split(\"_\") }}","type":"array"},{"id":"8045432d-507c-4717-9e17-8bc3bacaab99","name":"dataMsg","value":"={{ $('Webhook1').item.json.body.date_time }}","type":"string"},{"id":"2a506c76-9e11-413b-8f2d-dd4ac5f25b1c","name":"Message","value":"={{ $('Webhook1').item.json.body.data.message }}","type":"object"}]},"options":{}},"id":"34a60761-03c1-4713-9961-a97f84acf394","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3620,1120]},{"parameters":{"operation":"set","key":"={{ $json.remoteJid }}_block","value":"true","keyType":"string","expire":true,"ttl":180},"id":"37759797-4d61-4759-bcdd-6d17b32f9052","name":"Block IA1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3220,940],"credentials":{"redis":{"id":"gG8VhT5nokZGqEH8","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fd12788-3c02-4a42-8f3a-e0f34b40b76a","leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"id":"15bd02ed-5497-4ada-bc3b-84a22d996907","name":"bloqueia_grupo1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3900,1140]},{"parameters":{"httpMethod":"POST","path":"856faf61-b63e-4acb-a537-fdb3fc0e20c2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4160,1140],"id":"c5f273da-5a4b-4d86-a18c-c85528c7ed97","name":"Webhook1","webhookId":"856faf61-b63e-4acb-a537-fdb3fc0e20c2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"fromMe\"] }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MinhaMensagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47adcb9e-74a9-487c-9aa5-ef65dec84847","leftValue":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"fromMe\"] }}","rightValue":"=false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MensagemCliente"}]},"options":{}},"id":"503897f0-83d5-4638-bbb1-75f0ca859708","name":"Tipo Mensagem1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3400,1120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP5","operator":{"type":"string","operation":"equals"},"id":"5dc4e63e-1c9d-452d-b341-1cb8b93feccf"}],"combinator":"and"},"renameOutput":true,"outputKey":"Confirmacao SIM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7622d2e8-85e3-49ad-a83c-2119b073f26f","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP6","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Confirmacao NAO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de4ae42b-73ac-4af7-9868-15775e525dee","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reagendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eae8bdee-3158-43c4-81f6-2f00c61791ce","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP8","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bba60af-831b-4038-9dcb-ac22611ec296","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Solicitar Laudo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3723dd6f-fb15-45d6-96fa-79820025d2e2","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1b48e5f-2a04-4e3d-8cdd-70c681edb257","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atendimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4098ac84-3c41-4869-b070-b8226b9fab53","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP0","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Financeiro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb6a317f-9aea-4ab5-9896-22c7529f5f78","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"LaudoId","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Laudo ID"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2680,980],"id":"db457b1a-5598-431e-a511-135301bbd648","name":"Confirmação Exame1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1cb964df-d722-46e3-8cfd-3aae1e64ea41","leftValue":"={{ $json.dataMaisDeDezMinutos }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1460,2660],"id":"b325e28a-d175-45bb-8eae-caded4c8a06a","name":"If Nova Mensagem1"},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=😃 Olá! Que bom ter você aqui na Mobilevet. Eu sou o seu assistente virtual e estou disponível para te ajudar a qualquer momento! Se preferir cancelar, digite: CANCELAR.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-920,2440],"id":"d5d2478c-3114-4069-819a-d3cd823bb564","name":"MSG Saudacao1","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-list","options_message":{},"instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","title":" ","description":"=Olá! Para continuarmos, selecione uma das opções abaixo 👇. Pode ficar tranquilo(a): além do suporte virtual, há sempre uma pessoa da equipe Mobilevet pronta para te atender se precisar.","footerText":" ","sections":{"sectionValues":[{"title":"Opções de atendimento","rows":{"rowValues":[{"title":"✉️ Solicitação de Laudo","description":" ","rowId":"OP1_SolicitarLaudo"},{"title":"👨‍⚕️🩺 Agendar Exame","description":" ","rowId":"OP2_AgendarExame"},{"title":"👩‍💻 Falar com Atendente","description":" ","rowId":"OP3_Atendente"},{"title":"💵 Falar com Financeiro","description":" ","rowId":"OP0_Financeiro"}]}}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-700,2440],"id":"fc178300-3787-439b-8ea4-93c9197ff7f7","name":"MSG Lista Inicial1","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"jsCode":"// Acessa o último item do array dataMsg\n// Certifique-se de que este valor seja uma string de data válida (ex: ISO 8601).\nif ($json.dataMsg == null)\n{\n  return [\n    {\n      json: {\n        dataMaisDeDezMinutos: true,\n        diferencaMinutos: 0, // Opcional: Para debugar ou usar em outro lugar\n      },\n    },\n  ];\n}\nconst dataRedisString = $json.dataMsg[0]; \n\n// Verifica se dataRedisString é válida antes de tentar criar um objeto Date\nif (!dataRedisString) {\n  // Se não houver data, você pode decidir o que fazer:\n  // - Retornar um erro\n  // - Retornar um valor padrão (ex: dataMaisDeDezMinutos: false)\n  // - Registrar um aviso\n  console.error(\"Não foi possível encontrar uma data válida em $json.dataMsg.\");\n  return [\n    {\n      json: {\n        dataMaisDeDezMinutos: false, // Ou true, dependendo da sua lógica de erro\n        erro: \"Data Redis não encontrada ou inválida.\",\n      },\n    },\n  ];\n}\n\n// Converte a string da data do Redis para um objeto Date\nconst dataRedis = new Date(dataRedisString);\n\n// Cria um objeto Date com o tempo atual\nconst dataSP =  new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(',', '') ;\nconst dataAtual = new Date(dataSP);\n\n// Calcula a diferença em milissegundos\nconst diferencaMs = dataAtual.getTime() - dataRedis.getTime();\n\n// Converte a diferença de milissegundos para minutos\nconst diferencaMinutos = diferencaMs / (1000 * 60);\n\n// Define o limite de 10 minutos\nconst limiteMinutos = 10;\n\n// Adiciona o resultado para ser acessado no próximo nó (If)\nif (diferencaMinutos > limiteMinutos) {\n  return [\n    {\n      json: {\n        dataMaisDeDezMinutos: true,\n        diferencaMinutos: diferencaMinutos, // Opcional: Para debugar ou usar em outro lugar\n      },\n    },\n  ];\n} else {\n  return [\n    {\n      json: {\n        dataMaisDeDezMinutos: false,\n        diferencaMinutos: diferencaMinutos, // Opcional\n      },\n    },\n  ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1700,2660],"id":"a3bedafa-1f94-4615-b7cc-435c34612de3","name":"Teste 10 min.1"},{"parameters":{"operation":"push","list":"={{ $('Edit Fields1').item.json.remoteJid }}","messageData":"={{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(',', '') }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-460,2440],"id":"0619ffd8-5303-4274-9fa9-8c0e058e94d7","name":"Redis4","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}}},{"parameters":{"operation":"get","propertyName":"dataMsg","key":"={{ $('Edit Fields1').item.json.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1940,2660],"id":"bc2277ba-f2f1-4d27-90e6-68d20200e3fe","name":"Redis5","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}}},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields1').item.json.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[740,900],"id":"96788ed9-a937-41de-a91d-4faaa3e846e5","name":"Redis","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Erro ao cancelar agendamento! Favor entre em contato com o atendimento.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-60,580],"id":"4f6f1c54-bba6-4b77-86a5-8bbaa77a632c","name":"MSG Erro Cancelamento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"httpMethod":"POST","path":"814557c6-bc85-44d0-ac22-aec2418a1844","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2740,240],"id":"3bdcbdbd-df8b-4630-8aef-19f05f8c46ab","name":"Webhook MSG Atribuida","webhookId":"814557c6-bc85-44d0-ac22-aec2418a1844"},{"parameters":{"assignments":{"assignments":[{"id":"d1478756-e963-4d36-82d5-89bee53f3784","name":"StatusAtendimento","value":"={{ $json.body.status }}","type":"string"},{"id":"7e866b5c-eab0-490e-ae93-6879899d81ad","name":"CelularContato","value":"={{ $json.body.messages[0].sender.identifier.toString() // Converte para string, caso seja necessário\n    .replace(/@s\\.whatsapp\\.net$/, '') // Remove \"@s.whatsapp.net\" }}","type":"string"},{"id":"a9e8f378-d40c-4356-90a5-cabd98e182c4","name":"TimeAtendimento","value":"={{ $json.body.meta.team }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2520,240],"id":"574531a8-329b-4f88-ba84-172a4cd05c67","name":"Info Atribuicao"},{"parameters":{"operation":"push","list":"={{ $json.CelularContato }}","messageData":"={\n\"dataMsg\":\"{{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(',', '') }}\",\n\"statusAtendimento\":\"{{ $json.StatusAtendimento }}\",\n\"timeAtendimento\":\"{{ $json.TimeAtendimento.name }}\"\n}\n"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2280,240],"id":"426a9a38-3332-4ba8-adec-2970194ce2aa","name":"Redis6","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}},"disabled":true},{"parameters":{"operation":"push","list":"={{ $json.CelularContato }}","messageData":"={{ $('Info Atribuicao').item.json.StatusAtendimento }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2040,240],"id":"d2d15a85-207b-49fe-bf0f-0a08f27aa2ab","name":"Redis7","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}},"disabled":true},{"parameters":{"operation":"get","key":"={{ $('Info Atribuicao').item.json.CelularContato }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1820,240],"id":"c7228aca-4a95-4de6-aa98-83b514afebc5","name":"Redis8","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}},"disabled":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,240],"id":"808b6ee7-16d3-4aac-9c83-be37364be721","name":"Code"},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Vamos começar seu agendamento? Para facilitar, basta nos informar:\n\n1º Quais exames deseja agendar\n2º A data que prefere para o atendimento\n3º Se prefere o período da manhã ou da tarde\n\nDessa forma, conseguimos agilizar seu atendimento e cuidar do seu pet com todo carinho! 💚\n\nAssim que recebermos sua resposta, um atendente seguirá com o agendamento. Obrigado por confiar na Mobilevet! 🐾\n\nSe preferir podemos continuar por uma ligação telefônica ☎, basta nos ligar:(11) 4235-5533","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1100,1120],"id":"bdf17a99-5f7c-43e7-96d9-091f159d9151","name":"MSG Agendamento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Transferindo para Agendar Exame","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-800,1120],"id":"f066a9bd-f3d2-478a-8e99-6516b73430fd","name":"MSG Tranf Agendamento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Aguarde só um pouquinho... Um atendente da Mobilevet já vai falar com você! 👩‍💻","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1160,1480],"id":"258ab2b7-6f5c-4f93-8e0c-e6bbf8d96276","name":"MSG Atendimento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Transferindo para Falar com Atendente","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-860,1480],"id":"ce62d34b-2ab3-4087-ba5f-aafa37cbc8b9","name":"MSG Tranf Atendimento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Aguarde só um pouquinho... Um atendente da Mobilevet já vai falar com você! 👩‍💻","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1160,1640],"id":"436582c4-1caf-4ded-83a0-a202476d6076","name":"MSG Financeiro","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Transferindo para Falar com Financeiro","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-860,1640],"id":"9c57ea2a-02bf-45b1-a43b-c5457be79bb0","name":"MSG Tranf Financeiro","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"url":"https://mobilevet-homolog.azurewebsites.net/api/chatwoot/ConsultarClienteCelular","sendQuery":true,"queryParameters":{"parameters":[{"name":"celular","value":"={{ $('Edit Fields1').item.json.remoteJid }}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,2700],"id":"03d29d94-9a46-4e3c-ab6a-1b8f0dccb026","name":"Consulta Cliente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79ed0aac-0dce-4d96-bfb0-73b250d71fd8","leftValue":"={{ $json.data }}","rightValue":"Cliente não encontrado.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-60,2700],"id":"f1918737-6cf0-47e8-a0b5-df8e7284adfe","name":"If1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP1","operator":{"type":"string","operation":"equals"},"id":"76c51969-6159-4c1b-8bdf-5218667791ff"}],"combinator":"and"},"renameOutput":true,"outputKey":"Solicitar Laudo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8917477f-3efa-46f0-afb8-f2eb42264b63","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP9","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cliente Reconhecido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0e0fa43-4ddc-4acd-951a-4e5715b3ce52","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"OP10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Buscar Cliente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f07b64fb-1b0e-4864-8be5-d896f097be64","leftValue":"={{ $('Edit Fields1').item.json.respostaLista[0] }}","rightValue":"ForaDaLista","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Laudo Fora Lista"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-880,2800],"id":"d44415f7-35e3-4740-bdb6-26f486d52174","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Certo. Por favor, informe o CNPJ ou CPF","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-20,3220],"id":"3b941493-1056-4422-9aa9-34f1ee3490d0","name":"Solicitar Documento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"jsCode":"const input = $('Edit Fields1').first().json.conversation?.trim();\n\nfunction isCPF(value) {\n  return /^\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}$/.test(value);\n}\n\nfunction isCNPJ(value) {\n  return /^\\d{2}\\.?\\d{3}\\.?\\d{3}\\/?\\d{4}-?\\d{2}$/.test(value);\n}\n\nfunction isDate(value) {\n  return /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(value) || /^\\d{4}-\\d{2}-\\d{2}$/.test(value);\n}\n\nfunction formatDate(value) {\n  // Se for dd/MM/yyyy, converte para yyyy-MM-dd\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(value)) {\n    const [day, month, year] = value.split('/');\n    return `${year}-${month}-${day}`;\n  }\n  // Se já estiver no formato yyyy-MM-dd, retorna como está\n  return value;\n}\n\nlet tipo = \"Desconhecido\";\nlet valorTratado = input;\n\nif (isCPF(input)) {\n  tipo = \"CPF\";\n} else if (isCNPJ(input)) {\n  tipo = \"CNPJ\";\n} else if (isDate(input)) {\n  tipo = \"Data\";\n  valorTratado = formatDate(input);\n}\n\nreturn [\n  {\n    json: {\n      tipoCampo: tipo,\n      valor: valorTratado,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,3560],"id":"f8e39f32-99be-4f3f-a162-1b6f85914e25","name":"Valida Texto Livre"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipoCampo }}","rightValue":"CNPJ","operator":{"type":"string","operation":"equals"},"id":"055f5766-9627-48b7-a140-81e2a29be4ba"}],"combinator":"and"},"renameOutput":true,"outputKey":"CNPJ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98e79726-f5c7-452b-9b86-961dc2bdca63","leftValue":"={{ $json.tipoCampo }}","rightValue":"CPF","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CPF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6337ddb0-70f0-4354-adb6-ff415fc7da2d","leftValue":"={{ $json.tipoCampo }}","rightValue":"Data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DataLaudo"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[40,3540],"id":"50662fdc-6d5e-491e-a7f1-41204c2307e9","name":"Switch1"},{"parameters":{"url":"https://mobilevet-homolog.azurewebsites.net/api/chatwoot/ConsultarClienteCPFCNPJ","sendQuery":true,"queryParameters":{"parameters":[{"name":"documento","value":"={{ $json.valor }}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,3520],"id":"473d30af-bd04-499f-a08c-660d5965122d","name":"Consulta Cliente1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79ed0aac-0dce-4d96-bfb0-73b250d71fd8","leftValue":"={{ $json.data }}","rightValue":"Cliente não encontrado.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,3520],"id":"011ee245-436c-4d5c-89ed-48b6e6308729","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Cliente não encontrado. Por favor, informe o CNPJ ou CPF","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[940,3500],"id":"97286a01-c7b4-42c0-a95b-0e3b37e53236","name":"Solicitar Documento1","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"af7f0c9d-e97e-472a-af5c-8691a6d0156d","name":"MsgRetorno","value":"={{ $json.data }}","type":"string"},{"id":"1e2be35b-4bb8-4407-97a5-654fa5882d36","name":"listaLaudos","value":"={{ $json.listaLaudos }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,3680],"id":"8e0bff35-dc75-4817-a79d-374bc11c2906","name":"Edit Fields"},{"parameters":{"url":"https://mobilevet-homolog.azurewebsites.net/api/ChatWoot/ConsultarLaudosCliente","sendQuery":true,"queryParameters":{"parameters":[{"name":"clienteId","value":"={{ $('Consulta Cliente1').item.json.id }}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,3680],"id":"65e8e2ae-1722-424e-8273-58bdc1390afe","name":"HTTP Consulta Laudos"},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Obrigado por aguardar. Segue link do laudo.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1120,1920],"id":"11af3c9a-04e0-4a8b-a420-a5e98ca5c072","name":"MSG Linklaudo","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=https://mobilevet-homolog.azurewebsites.net/Laudos/LaudosWeb?Id={{ $('Confirmação Exame1').item.json.respostaLista[1] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-800,1920],"id":"ee695a17-39a6-443d-a6d3-a47f57ff310e","name":"Enviar Link","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"=Atendimento Encerrado.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-540,1920],"id":"2cbf8641-dccd-44aa-8e03-0b8c146bf38f","name":"Encerrando Atendimento","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-list","options_message":{},"instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","title":"Laudos","description":"Segue lista dos ultimos 5 laudos","footerText":" ","sections":{"sectionValues":[{"title":" ","rows":{"rowValues":[{"title":"=Laudo de {{ $('HTTP Consulta Laudos').item.json.listaLaudos[0].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos').item.json.listaLaudos[0].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos').item.json.listaLaudos[0].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos').item.json.listaLaudos[1].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos').item.json.listaLaudos[1].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos').item.json.listaLaudos[1].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos').item.json.listaLaudos[2].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos').item.json.listaLaudos[2].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos').item.json.listaLaudos[2].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos').item.json.listaLaudos[3].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos').item.json.listaLaudos[3].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos').item.json.listaLaudos[3].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos').item.json.listaLaudos[4].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos').item.json.listaLaudos[4].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos').item.json.listaLaudos[4].id }}"},{"title":"O Laudo não esta na lista","description":" ","rowId":"ForaDaLista_0"}]}}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1380,3680],"id":"68826e30-ffba-4f81-adc8-113e14010fbd","name":"Lista de Laudos","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"af7f0c9d-e97e-472a-af5c-8691a6d0156d","name":"MsgRetorno","value":"={{ $json.data }}","type":"string"},{"id":"1e2be35b-4bb8-4407-97a5-654fa5882d36","name":"listaLaudos","value":"={{ $json.listaLaudos }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,3020],"id":"a5fcb942-7585-45ea-8e38-8af4e7478b0e","name":"Edit Fields2","disabled":true},{"parameters":{"url":"https://mobilevet-homolog.azurewebsites.net/api/ChatWoot/ConsultarLaudosCliente","sendQuery":true,"queryParameters":{"parameters":[{"name":"clienteId","value":"={{ $('Edit Fields1').item.json.respostaLista[1] }}"},{"name":"celular","value":"={{ $('Edit Fields1').item.json.remoteJid }}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,3020],"id":"e2fb7d89-9bc8-4258-bdfe-82d224f13bb5","name":"HTTP Consulta Laudos1"},{"parameters":{"resource":"messages-api","operation":"send-list","options_message":{},"instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","title":"Laudos","description":"Segue lista dos ultimos 5 laudos","footerText":" ","sections":{"sectionValues":[{"title":" ","rows":{"rowValues":[{"title":"=Laudo de {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[0].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[0].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos1').item.json.listaLaudos[0].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[1].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[1].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos1').item.json.listaLaudos[1].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[2].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[2].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos1').item.json.listaLaudos[2].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[3].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[3].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos1').item.json.listaLaudos[3].id }}"},{"title":"=Laudo de {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[4].dataLaudo }}","description":"=Pet: {{ $('HTTP Consulta Laudos1').item.json.listaLaudos[4].pet }}","rowId":"=LaudoId_{{ $('HTTP Consulta Laudos1').item.json.listaLaudos[4].id }}"},{"title":"O Laudo não esta na lista","description":" ","rowId":"ForaDaLista_0"}]}}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,3020],"id":"8e9d99f9-3a73-4bc9-a42d-2510b3cb0581","name":"Lista de Laudos1","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"messages-api","operation":"send-list","options_message":{},"instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","title":" ","description":"=O Laudo que você deseja é da clínica: {{ $('Consulta Cliente').item.json.nomeFantasia }}?\nPor favor, selecione uma das opções abaixo 👇","footerText":" ","sections":{"sectionValues":[{"title":"Opções de atendimento","rows":{"rowValues":[{"title":"Sim","description":" ","rowId":"=OP9_{{ $('Consulta Cliente').item.json.id }}"},{"title":"Não","description":" ","rowId":"OP10_ConsultaCliente"}]}}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[160,2800],"id":"13d4bdf9-8755-411f-85b5-0f37f174666c","name":"MSG Confirgma Cliente","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"content":"## Confirma Agendamento","height":380,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1200,-60],"typeVersion":1,"id":"97f4da99-ba0b-4470-8c7e-a72d7801c1bf","name":"Sticky Note"},{"parameters":{"content":"## Cancela Agendamento","height":520,"width":1380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1200,360],"typeVersion":1,"id":"d55138df-68ae-43e0-a3f3-99ccd1b0c884","name":"Sticky Note1"},{"parameters":{"content":"## Agendamento - Transferência","height":480,"width":880},"type":"n8n-nodes-base.stickyNote","position":[-1200,900],"typeVersion":1,"id":"feac1539-9e1d-4eaf-8309-24f6fc083eeb","name":"Sticky Note2"},{"parameters":{"content":"## Falar com Atendimento/Financeiro","height":380,"width":900},"type":"n8n-nodes-base.stickyNote","position":[-1200,1420],"typeVersion":1,"id":"e3a36ea7-ab4d-4f88-81dc-ab7fde9c6655","name":"Sticky Note3"},{"parameters":{"content":"## Link Laudo","height":240,"width":920,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1200,1840],"typeVersion":1,"id":"e8fbdc22-3f0a-4fd3-8fc4-66f2f5bcdc58","name":"Sticky Note4"},{"parameters":{"content":"## Solicitar Laudo","height":1780,"width":3800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2120,2400],"typeVersion":1,"id":"e39d86b2-74df-4fe7-8669-f44a10ca2d7e","name":"Sticky Note5"},{"parameters":{"resource":"messages-api","instanceName":"Chip5","remoteJid":"={{ $('Edit Fields1').item.json.remoteJid }}","messageText":"Favor informar a data do exame desejado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-20,3380],"id":"53e122fd-04e4-4243-8b08-96a43d7e4bab","name":"Solicitar Data Laudo","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"url":"https://mobilevet-homolog.azurewebsites.net/api/ChatWoot/ConsultarLaudosClienteData","sendQuery":true,"queryParameters":{"parameters":[{"name":"clienteId","value":"={{ $json.ClienteId }}"},{"name":"data","value":"={{ $('Switch1').item.json.valor }}"},{"name":"Celular","value":"={{ $('Edit Fields1').item.json.remoteJid }}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,3880],"id":"18b34d38-0976-44a8-b0d4-d8dd4b0164da","name":"Consulta Laudo Data"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1240,2760],"id":"636ee07a-b66c-43fd-8fe1-9f28fc09caa1","name":"Edit Fields3"},{"parameters":{"operation":"set","key":"={{ $('Edit Fields1').item.json.remoteJid }}_Id","value":"={{ $('Edit Fields1').item.json.respostaLista[1] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-400,2900],"id":"0fb85cb8-1f24-4846-874b-2e5ca4f1569f","name":"Salva IdCliente","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}}},{"parameters":{"operation":"set","key":"={{ $('Edit Fields1').item.json.remoteJid }}_Id","value":"={{ $('Consulta Cliente1').item.json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[760,3680],"id":"7eae315c-c622-4d12-9493-2ec5923c03bc","name":"Salva IdCliente1","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}}},{"parameters":{"operation":"get","propertyName":"ClienteId","key":"={{ $('Edit Fields1').item.json.remoteJid }}_Id","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[260,3880],"id":"b52b54c0-506a-4953-995e-18e6ecd4645c","name":"Salva IdCliente2","credentials":{"redis":{"id":"QGqIVKbiyQHm3x0E","name":"Redis account 2"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,440],"id":"1143513a-a9e4-4feb-bf69-ae69df52eac4","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-640,540],"id":"f98e20a3-2c48-4f9c-abd5-b7808e8dd979"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-940,0],"id":"d11d07b8-2881-4c1f-80d0-655bb80778f2","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[-700,120],"id":"34d6f110-b0e7-4160-903b-17413288c0ac"}],"connections":{"MSG Confirmação Erro":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Confirma Agendamento":{"main":[[{"node":"Confirmado com Sucesso?","type":"main","index":0}]]},"Cancela Agendamento":{"main":[[{"node":"Cancelado com sucesso?","type":"main","index":0}]]},"Confirmado com Sucesso?":{"main":[[{"node":"MSG Confimação Sucesso","type":"main","index":0}],[{"node":"MSG Confirmação Erro","type":"main","index":0}]]},"Cancelado com sucesso?":{"main":[[{"node":"MSG Cancelamento sucesso","type":"main","index":0}],[{"node":"MSG Erro Cancelamento","type":"main","index":0}]]},"MSG Confimação Sucesso":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Tipo Mensagem1","type":"main","index":0}]]},"bloqueia_grupo1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"bloqueia_grupo1","type":"main","index":0}]]},"Tipo Mensagem1":{"main":[[{"node":"Block IA1","type":"main","index":0}],[{"node":"Confirmação Exame1","type":"main","index":0}]]},"Confirmação Exame1":{"main":[[{"node":"Confirma Agendamento","type":"main","index":0}],[{"node":"Cancela Agendamento","type":"main","index":0}],[{"node":"MSG Reagendamento","type":"main","index":0}],[{"node":"MSG Cancelamento Definitivo","type":"main","index":0}],[{"node":"Redis5","type":"main","index":0}],[{"node":"MSG Agendamento","type":"main","index":0}],[{"node":"MSG Atendimento","type":"main","index":0}],[{"node":"MSG Financeiro","type":"main","index":0}],[{"node":"MSG Linklaudo","type":"main","index":0}],[{"node":"Redis5","type":"main","index":0}]]},"If Nova Mensagem1":{"main":[[{"node":"MSG Saudacao1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"MSG Saudacao1":{"main":[[{"node":"MSG Lista Inicial1","type":"main","index":0}]]},"MSG Lista Inicial1":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Teste 10 min.1":{"main":[[{"node":"If Nova Mensagem1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Teste 10 min.1","type":"main","index":0}]]},"MSG Cancelamento sucesso":{"main":[[{"node":"Redis","type":"main","index":0}]]},"MSG Erro Cancelamento":{"main":[[{"node":"Redis","type":"main","index":0}]]},"MSG Reagendamento":{"main":[[{"node":"Redis","type":"main","index":0}]]},"MSG Cancelamento Definitivo":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Webhook MSG Atribuida":{"main":[[{"node":"Info Atribuicao","type":"main","index":0}]]},"Info Atribuicao":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Redis6":{"main":[[{"node":"Redis7","type":"main","index":0}]]},"Redis7":{"main":[[{"node":"Redis8","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Code","type":"main","index":0}]]},"MSG Agendamento":{"main":[[{"node":"MSG Tranf Agendamento","type":"main","index":0}]]},"MSG Atendimento":{"main":[[{"node":"MSG Tranf Atendimento","type":"main","index":0}]]},"MSG Financeiro":{"main":[[{"node":"MSG Tranf Financeiro","type":"main","index":0}]]},"Consulta Cliente":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"MSG Confirgma Cliente","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Consulta Cliente","type":"main","index":0}],[{"node":"Salva IdCliente","type":"main","index":0}],[{"node":"Solicitar Documento","type":"main","index":0}],[{"node":"Solicitar Data Laudo","type":"main","index":0}],[{"node":"Valida Texto Livre","type":"main","index":0}]]},"Solicitar Documento":{"main":[[]]},"Valida Texto Livre":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Consulta Cliente1","type":"main","index":0}],[{"node":"Consulta Cliente1","type":"main","index":0}],[{"node":"Salva IdCliente2","type":"main","index":0}]]},"Consulta Cliente1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Solicitar Documento1","type":"main","index":0}],[{"node":"Salva IdCliente1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Lista de Laudos","type":"main","index":0}]]},"HTTP Consulta Laudos":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"MSG Linklaudo":{"main":[[{"node":"Enviar Link","type":"main","index":0}]]},"Enviar Link":{"main":[[{"node":"Encerrando Atendimento","type":"main","index":0}]]},"Encerrando Atendimento":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Lista de Laudos1","type":"main","index":0}]]},"HTTP Consulta Laudos1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Salva IdCliente":{"main":[[{"node":"HTTP Consulta Laudos1","type":"main","index":0}]]},"Salva IdCliente1":{"main":[[{"node":"HTTP Consulta Laudos","type":"main","index":0}]]},"Salva IdCliente2":{"main":[[{"node":"Consulta Laudo Data","type":"main","index":0}]]},"Consulta Laudo Data":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Replace Me1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.rasystem.com.br","user-agent":"axios/1.7.9","content-length":"987","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.rasystem.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d86866f6c973","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Chip5","data":{"key":{"remoteJid":"5511998590806@s.whatsapp.net","fromMe":false,"id":"3A347CB9D6E1ADE1DC79"},"pushName":"Thiago Redigulo","status":"DELIVERY_ACK","message":{"conversation":"09/07/2025","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"3fr4Kc1YAZJnUA==","senderTimestamp":"1752068274","recipientKeyHash":"aJJrWq512R1y8g==","recipientTimestamp":"1751984887"},"deviceListMetadataVersion":2,"messageSecret":"hlS9VMHHkPgu0nTplLXBNPKzQHqm/Fn4MYwWjeolJFo="}},"messageType":"conversation","messageTimestamp":1752115137,"instanceId":"5a133485-a5fa-480e-8934-8ea3c5c33fc1","source":"ios","chatwootMessageId":159,"chatwootInboxId":1,"chatwootConversationId":5},"destination":"https://n8n.rasystem.com.br/webhook-test/856faf61-b63e-4acb-a537-fdb3fc0e20c2","date_time":"2025-07-09T23:38:58.430Z","sender":"551148637750@s.whatsapp.net","server_url":"https://evolutionapi.rasystem.com.br","apikey":"4D0D63EFC6A6-4483-9E12-0B4805BEA25D"},"webhookUrl":"https://n8n.rasystem.com.br/webhook-test/856faf61-b63e-4acb-a537-fdb3fc0e20c2","executionMode":"test"}}]},"versionId":"09a16752-660a-4443-9bcf-9dbce23003fa","triggerCount":0,"tags":[]}