my-workflow-2-EQENLJDUVhVHgr7H.json
{"createdAt":"2025-09-19T00:06:45.302Z","updatedAt":"2025-09-19T10:32:33.000Z","id":"EQENLJDUVhVHgr7H","name":"My workflow 2","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"a6605811-bc2c-41e4-a8e6-6914de12d6b2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,432]},{"parameters":{"resource":"messages-api","instanceName":"Chip3","remoteJid":"=55{{ $json.phone }}@s.whatsapp.net","messageText":"={{ $json.message }}","options_message":{}},"id":"f1469be9-e5a8-4282-9c98-28480bc75939","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-224,432],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"httpMethod":"POST","path":"caiado-checklist","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,256],"id":"944a7baa-2d4b-47ee-8467-a966d4a726c5","name":"Webhook","webhookId":"2ad0b0d7-5be0-421a-b62c-16f2eebeb2b3"},{"parameters":{"values":{"string":[{"name":"message","value":"={{(() => {\n  const data = $json.body;\n  const items = data.badItems;\n  const formatted = items.map(i => `• ${i.itemName} (${i.category}): ${i.observations}`).join('\\n');\n  return `A Caido Pneus agradece a sua visita!\\nSegue abaixo o relatório da inspeção realizada em seu veículo:\\n\\n${formatted}`;\n})()}}"},{"name":"phone","value":"={{$json.body.customerPhone}}"}]},"options":{}},"id":"27933ac1-0840-4f54-b3e6-1938662ee3a5","name":"Set Mensagem e Telefone","type":"n8n-nodes-base.set","typeVersion":2,"position":[-448,256]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[]]},"Webhook":{"main":[[{"node":"Set Mensagem e Telefone","type":"main","index":0}]]},"Set Mensagem e Telefone":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.rasystem.com.br","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","content-length":"400","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","origin":"http://localhost:5173","priority":"u=1, i","referer":"http://localhost:5173/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"201.13.61.74","x-forwarded-host":"n8n.rasystem.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d86866f6c973","x-real-ip":"201.13.61.74"},"params":{},"query":{},"body":{"customerPhone":"11992385778","badItems":[{"itemName":"Pneu Dianteiro Esquerdo","category":"pneus","observations":"Pneu apresenta bolhas"},{"itemName":"Amortecedores Dianteiros","category":"suspensao","observations":"Problemas no coxim"}],"checklistId":"706d2ae9-0e4b-4a69-be4b-6c0856f5b4f0","vehicleInfo":{"brand":"Nissan","model":"Sentra","plate":"TKO2B04"},"timestamp":"2025-09-19T10:10:27.512Z"},"webhookUrl":"https://n8n.rasystem.com.br/webhook-test/caiado-checklist","executionMode":"test"}}]},"versionId":"3f8ce317-9dc4-4d9b-abf6-6644653370eb","triggerCount":1,"shared":[{"createdAt":"2025-09-19T00:06:45.313Z","updatedAt":"2025-09-19T00:06:45.313Z","role":"workflow:owner","workflowId":"EQENLJDUVhVHgr7H","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}