my-workflow-2-ZDHuszIA6hNGLJF5.json
{"updatedAt":"2025-10-22T23:22:05.000Z","createdAt":"2025-10-22T23:22:05.829Z","id":"ZDHuszIA6hNGLJF5","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":""}},"id":"f0bef388-f2a9-4490-80a8-16b91d2db539","name":"Knowledge Base Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2400,864],"typeVersion":1.9},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"2d76e2be-47e0-4acc-a7ad-8885deda2788","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2400,1056],"typeVersion":1.2},{"parameters":{"options":{}},"id":"c1bbcf90-ae48-496a-b233-a901ed65fb4f","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2752,1216],"typeVersion":1.2},{"parameters":{},"id":"703799ee-14d6-46b9-8f3c-ee12bd2a5a55","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[64,-96],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory_{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"},"id":"b7613e0e-82ec-475e-9603-8a57e86fcb8f","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2512,1056],"typeVersion":1.3},{"parameters":{"mode":"retrieve-as-tool","toolName":"productDocs","toolDescription":"retreive documentation","mongoCollection":{"__rl":true,"mode":"list","value":"n8n-template","cachedResultName":"n8n-template"},"vectorIndexName":"data_index","options":{}},"id":"1daa5404-8552-4cab-8550-49c52f0c52bd","name":"MongoDB Vector Search","type":"@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas","position":[2624,1056],"typeVersion":1.1},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.content }}","options":{"metadata":{"metadataValues":[{"name":"doc_id","value":"={{ $json.documentId }}"}]}}},"id":"7c21850e-3d86-4a8e-b653-f43ca5d86f0d","name":"Document Section Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[608,64],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{"splitCode":"markdown"}},"id":"603fa902-bd76-46e0-ad5e-b51871806952","name":"Document Chunker","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[608,208],"typeVersion":1},{"parameters":{"mode":"insert","mongoCollection":{"__rl":true,"mode":"list","value":"n8n-template","cachedResultName":"n8n-template"},"vectorIndexName":"data_index","options":{}},"id":"f07bc22c-edfd-43ed-87ac-fb67a409f95b","name":"MongoDB Vector Store Inserter","type":"@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas","position":[512,-96],"typeVersion":1.1},{"parameters":{"options":{}},"id":"d8bc69c4-ca4c-4ddc-9abe-53220091dae5","name":"OpenAI Embeddings Generator","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[512,64],"typeVersion":1.2},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1gvgp71e9edob8WLqFIYCdzC7kUq3pLO37VKb-a-vVW4/edit?tab=t.0"},"id":"ffdb2163-45e7-4c04-94c1-47f4c40e3679","name":"Google Docs Importer","type":"n8n-nodes-base.googleDocs","position":[288,-96],"typeVersion":2},{"parameters":{"content":"Run this workflow manually to import and index Google Docs product documentation into MongoDB with vector embeddings for fast search.","color":5},"id":"8b7fe5c8-1c7c-4d3f-8017-507c690a1656","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-320,-112],"typeVersion":1},{"parameters":{"content":"This workflow listens for WhatsApp messages (text, audio, image, documents), converts them into embeddings, searches MongoDB, and uses GPT-4o-mini to provide context-aware answers with conversation memory.","height":280,"color":4},"id":"a8190b54-180b-4f79-8680-8fe2aea4de1d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-320,832],"typeVersion":1},{"parameters":{"content":"Search Index Example \n\n{\n  \"mappings\": {\n    \"dynamic\": false,\n    \"fields\": {\n      \"_id\": {\n        \"type\": \"string\"\n      },\n      \"text\": {\n        \"type\": \"string\"\n      },\n      \"embedding\": {\n        \"type\": \"knnVector\",\n        \"dimensions\": 1536,\n        \"similarity\": \"cosine\"\n      },\n      \"source\": {\n        \"type\": \"string\"\n      },\n      \"doc_id\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}\n","height":540},"id":"ae1e734b-a97a-4a6f-8264-da1ce47c2ac3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[912,-112],"typeVersion":1},{"parameters":{"updates":["messages"],"options":{}},"id":"0ac40533-42f4-409d-a800-b6016d5fe254","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[64,864],"webhookId":"ab09ca3e-53b2-4079-9ddc-bccb2f69551b","typeVersion":1},{"parameters":{"resource":"audio","operation":"translate","options":{}},"id":"d9edb67d-be56-4f98-9e35-5649c9896af2","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[1152,624],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"m7t3yIBHCVnxKGED","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"inputType":"base64","options":{"detail":"auto"}},"id":"fb42e341-0a41-45c9-822d-b6e7e0492589","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","position":[1152,864],"typeVersion":1.8},{"parameters":{"operation":"pdf","options":{}},"id":"1a4f45e9-b5cc-4f34-ac5b-427807ae3165","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[1744,1328],"typeVersion":1},{"parameters":{"operation":"xls","options":{}},"id":"292be61b-6245-4373-9c84-b1ef100bbeb4","name":"Extract from XLS","type":"n8n-nodes-base.extractFromFile","position":[1648,1536],"typeVersion":1},{"parameters":{"operation":"xlsx","binaryPropertyName":"=data","options":{}},"id":"db07d710-5e81-46e2-8ca2-c72935993b30","name":"Extract from XLSX","type":"n8n-nodes-base.extractFromFile","position":[1648,1696],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"72ae0d20-616a-4a65-9b14-53bf53656091","name":"data","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"4021f4dd-f2d3-4ec6-a81b-15d583a4a93d","name":"Map JSON","type":"n8n-nodes-base.set","position":[1888,1456],"typeVersion":3.4},{"parameters":{"jsCode":"let requests = $(\"Download Document\").all()\n\nrequests.forEach((request) => {\n  let mime_type = request.json.mime_type\n\n  if (\n    mime_type === \"text/calendar\" || \n    mime_type === \"application/ics\" || \n    mime_type === \"text/x-calendar\"\n  ) {\n    request.json.mime_type = \"mapped/calendar\"\n  }\n\n  if (\n    mime_type === \"application/xml\" || \n    mime_type === \"text/xml\") {\n    request.json.mime_type = \"mapped/xml\"\n  }\n\n  if (!mime_type) {\n    request.json.mime_type = $('Gets WhatsApp Document Source URL').first().json.mime_type\n  }\n})\n\nreturn requests;"},"id":"7a2235bf-b699-4232-9ec5-45704e911c3a","name":"Map file extensions","type":"n8n-nodes-base.code","position":[1104,1216],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"da68bcca-a2a6-4676-8649-6fb1b664e44c","name":"text","type":"string","value":"=Parsed text: {{ $json.text || $json.data || $json }}\n\nCaption text: {{ $('Route Types').item.json.messages[0].document.caption }}\n\nMimeType: {{ $('Gets WhatsApp Document Source URL').item.json.mime_type }}"}]},"options":{}},"id":"bb055b7e-8bc2-411b-9da7-9e3dd9d77748","name":"Map document prompt","type":"n8n-nodes-base.set","position":[2128,1264],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"48af2dcc-4ce9-45fc-abfc-54f803930092","name":"text","type":"string","value":"=User image description: {{ $json.content }}\n\nUser image caption: {{ $('Route Types').item.json.messages[0].image.caption }}"}]},"options":{}},"id":"95acfd5e-5c6e-47e0-9b21-c585ef941ec2","name":"Map image prompt","type":"n8n-nodes-base.set","position":[1360,864],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"38aec976-a32c-4b0e-85f4-c90adc16abc9","name":"text","type":"string","value":"={{ $json.messages[0].text.body }}"}]},"options":{}},"id":"989b4ec4-6dfc-4807-8066-1172006fe267","name":"Map text prompt","type":"n8n-nodes-base.set","position":[704,416],"typeVersion":3.4},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id}}"},"id":"c4dfceac-f451-4099-b59e-304c60701185","name":"Gets WhatsApp Voicemail Source URL","type":"n8n-nodes-base.whatsApp","position":[704,624],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1,"credentials":{"whatsAppApi":{"id":"O4KPds99LtlNbFl3","name":"WhatsApp account - ECC"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"id":"95fd6aaf-8488-44c8-b20c-9e3329f2934a","name":"Gets WhatsApp Image Source URL","type":"n8n-nodes-base.whatsApp","position":[704,864],"webhookId":"c2982df4-1d8d-4669-a724-44ae17d11e6c","typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].document.id }}"},"id":"2ff373f7-c096-462a-bf9f-27260496e237","name":"Gets WhatsApp Document Source URL","type":"n8n-nodes-base.whatsApp","position":[704,1216],"webhookId":"c2982df4-1d8d-4669-a724-44ae17d11e6c","typeVersion":1},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"e9bdf116-6ce1-42a4-b4a2-ebe1f49de0f3","name":"Download Voicemail","type":"n8n-nodes-base.httpRequest","position":[928,624],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"99e42656-6779-4528-bce4-ec1d25a652a9","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[928,864],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{}}}},"id":"26d017ff-a3b1-4ca3-886d-a8157a6deb42","name":"Download Document","type":"n8n-nodes-base.httpRequest","position":[928,1216],"typeVersion":4.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2fc5c912-629b-4cbe-b5e3-7e3f0651c628","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"26a3d85c-0815-48ff-85ce-713129a1107c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"840b95b8-6559-4fb7-b32c-651451d6d0d2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"3e7a07f9-b785-450c-8c68-f6b276838503","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"document"}]},"renameOutput":true,"outputKey":"Document"}]},"options":{}},"id":"e67d32df-736e-4f12-a648-bd7b5ee7be01","name":"Route Types","type":"n8n-nodes-base.switch","position":[288,848],"typeVersion":3.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"14e23243-cd44-4cb1-99bd-9e6905d511ad","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"text/csv"}]},"renameOutput":true,"outputKey":"CSV"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6d7616c5-6bdd-47b7-923e-639491d15a4e","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"text/html"}]},"renameOutput":true,"outputKey":"HTML"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a2174e02-378a-41ff-b269-61f4fc3f1de9","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"=mapped/calendar"}]},"renameOutput":true,"outputKey":"Calendar"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f3b406d7-362d-473e-8edd-c3e5f2d9c44c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"text/rtf"}]},"renameOutput":true,"outputKey":"RTF"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"64dd4658-54e7-4453-adbc-7067dffcd555","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"text/plain"}]},"renameOutput":true,"outputKey":"TXT"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7540a3ab-b48e-4bec-94e9-a5dfc3d65a4c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"mapped/xml"}]},"renameOutput":true,"outputKey":"XML"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"88b618fd-9a88-491e-91dd-c5fc9efa36e3","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"application/pdf"}]},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9c4d90aa-b4ea-4a63-b15e-666899c8360e","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"application/json"}]},"renameOutput":true,"outputKey":"JSON"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9baa7c88-3950-4099-8498-99a4640b95e7","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"application/vnd.ms-excel"}]},"renameOutput":true,"outputKey":"XLS"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b83e540c-ba1e-42d0-ac83-f675e25e6aea","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mime_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}]},"renameOutput":true,"outputKey":"XLSX"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ea3be820-2ead-4ec2-b292-42d3c7804b55","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.mime_type }}","rightValue":""}]},"renameOutput":true,"outputKey":"ELSE"}]},"options":{}},"id":"49cb5dc9-0822-4792-b4f9-5e6366fb29de","name":"Route Document Types","type":"n8n-nodes-base.switch","position":[1360,1056],"typeVersion":3.2},{"parameters":{"operation":"send","phoneNumberId":"677680658761861","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=The File type you provided is unsupported.","additionalFields":{}},"id":"0a97aa48-c8f6-4b8c-a0cc-f17e00e0969c","name":"Send Unsupported Response","type":"n8n-nodes-base.whatsApp","position":[1648,1856],"webhookId":"017d267f-4897-4726-bf03-304ef10352bf","typeVersion":1},{"parameters":{"operation":"send","phoneNumberId":"677680658761861","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"id":"aee7c8a5-5f8f-4b56-bf5c-00030834e41c","name":"Send Response","type":"n8n-nodes-base.whatsApp","position":[2768,864],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1}],"connections":{"Knowledge Base Agent":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Knowledge Base Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"MongoDB Vector Search","type":"ai_embedding","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Google Docs Importer","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Knowledge Base Agent","type":"ai_memory","index":0}]]},"MongoDB Vector Search":{"ai_tool":[[{"node":"Knowledge Base Agent","type":"ai_tool","index":0}]]},"Document Section Loader":{"ai_document":[[{"node":"MongoDB Vector Store Inserter","type":"ai_document","index":0}]]},"Document Chunker":{"ai_textSplitter":[[{"node":"Document Section Loader","type":"ai_textSplitter","index":0}]]},"OpenAI Embeddings Generator":{"ai_embedding":[[{"node":"MongoDB Vector Store Inserter","type":"ai_embedding","index":0}]]},"Google Docs Importer":{"main":[[{"node":"MongoDB Vector Store Inserter","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Route Types","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Knowledge Base Agent","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Map image prompt","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Map document prompt","type":"main","index":0}]]},"Extract from XLS":{"main":[[{"node":"Map JSON","type":"main","index":0}]]},"Extract from XLSX":{"main":[[{"node":"Map JSON","type":"main","index":0}]]},"Map JSON":{"main":[[{"node":"Map document prompt","type":"main","index":0}]]},"Map file extensions":{"main":[[{"node":"Route Document Types","type":"main","index":0}]]},"Map document prompt":{"main":[[{"node":"Knowledge Base Agent","type":"main","index":0}]]},"Map image prompt":{"main":[[{"node":"Knowledge Base Agent","type":"main","index":0}]]},"Map text prompt":{"main":[[{"node":"Knowledge Base Agent","type":"main","index":0}]]},"Gets WhatsApp Voicemail Source URL":{"main":[[{"node":"Download Voicemail","type":"main","index":0}]]},"Gets WhatsApp Image Source URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Gets WhatsApp Document Source URL":{"main":[[{"node":"Download Document","type":"main","index":0}]]},"Download Voicemail":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Download Document":{"main":[[{"node":"Map file extensions","type":"main","index":0}]]},"Route Types":{"main":[[{"node":"Map text prompt","type":"main","index":0}],[{"node":"Gets WhatsApp Voicemail Source URL","type":"main","index":0}],[{"node":"Gets WhatsApp Image Source URL","type":"main","index":0}],[{"node":"Gets WhatsApp Document Source URL","type":"main","index":0}]]},"Route Document Types":{"main":[[{"node":"Map document prompt","type":"main","index":0}],[{"node":"Map document prompt","type":"main","index":0}],[{"node":"Map document prompt","type":"main","index":0}],[{"node":"Map document prompt","type":"main","index":0}],[{"node":"Map document prompt","type":"main","index":0}],[{"node":"Map document prompt","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Map JSON","type":"main","index":0}],[{"node":"Extract from XLS","type":"main","index":0}],[{"node":"Extract from XLSX","type":"main","index":0}],[{"node":"Send Unsupported Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0e74e10d-1696-41d7-866b-42a7267c5a90","triggerCount":0,"shared":[{"updatedAt":"2025-10-22T23:22:05.835Z","createdAt":"2025-10-22T23:22:05.835Z","role":"workflow:owner","workflowId":"ZDHuszIA6hNGLJF5","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}