noticias-ia-QkhNqOEJiEQfIEgr.json
{"createdAt":"2025-03-06T20:50:39.732Z","updatedAt":"2025-05-01T21:34:05.000Z","id":"QkhNqOEJiEQfIEgr","name":"Noticias IA","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"raw","filters":{"custom":"receivedDateTime gt 2025-03-01","readStatus":"unread","sender":"news@daily.therundown.ai"},"options":{}},"id":"c68ec6b8-3817-431e-a2d3-660a57066d74","name":"Microsoft Outlook Trigger","type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[720,340],"credentials":{"microsoftOutlookOAuth2Api":{"id":"Fe7yeds2iKsIop1c","name":"Microsoft Outlook account"}}},{"parameters":{"assignments":{"assignments":[{"id":"99875bdc-56c4-4990-83f6-763ff73add7d","name":"conteudo","value":"={{ $json.body.content }}","type":"string"},{"id":"33b22504-10a9-408c-932d-3b1669fee4ef","name":"assunto","value":"={{ $json.subject }}","type":"string"}]},"options":{}},"id":"5aea9b72-f325-4b99-bb7b-604f74954326","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,340]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O conteúdo está no formato html, extrair o texto para realizar a operação.\nAbaixo esta o conteúdo html onde será extraído o texto:\n{{ $json.conteudo }}\nO resultado deverá ser traduzido para o português. "}]},"options":{}},"id":"60dfba33-a686-47cf-afd4-34b8e5b65930","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1160,340],"credentials":{"openAiApi":{"id":"m7t3yIBHCVnxKGED","name":"OpenAi account"}}},{"parameters":{"toRecipients":"wilson@rasystem.com.br","subject":"=Info - {{ $('Edit Fields').item.json.assunto }}","bodyContent":"={{ $json.message.content }}","additionalFields":{}},"id":"3d94c521-9f83-4ae3-88c1-7cf4a54a1cc6","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1540,340],"credentials":{"microsoftOutlookOAuth2Api":{"id":"Fe7yeds2iKsIop1c","name":"Microsoft Outlook account"}}}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Microsoft Outlook Trigger":{"lastTimeChecked":"2025-09-19T07:06:41.005-03:00"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2c26a0c-6db5-40db-9d0b-2fb94297dc6e","triggerCount":1,"shared":[{"createdAt":"2025-03-06T20:50:39.735Z","updatedAt":"2025-03-06T20:50:39.735Z","role":"workflow:owner","workflowId":"QkhNqOEJiEQfIEgr","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}