ping-ctk3JXCPNi6iuV8H.json
{"createdAt":"2025-02-28T00:00:36.955Z","updatedAt":"2025-02-28T00:09:58.000Z","id":"ctk3JXCPNi6iuV8H","name":"Ping","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"a678fa33-dadc-494a-82b8-ce91f59c7ed4","options":{}},"id":"11fbfdfd-a37f-4dcc-946e-5d6ebd3503ed","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[720,380],"webhookId":"a678fa33-dadc-494a-82b8-ce91f59c7ed4"},{"parameters":{"assignments":{"assignments":[{"id":"1d561c4a-009f-491e-9e74-c082a23208ea","name":"From","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"3c911f33-b970-4970-b434-9d6c3735062a","name":"Instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"2f06b18a-1834-4e04-9a90-1337c178a7ec","name":"Message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"98217f69-847f-460b-8ef2-5e9d2b6a4d51","name":"MessageID","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"id":"c50f81a3-a9b8-4122-827b-84671ef374a1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,380]},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $json.Instance }}","remoteJid":"={{ $json.From }}","messageId":"={{ $json.MessageID }}"},"id":"c71fdc39-07f9-4b97-ac59-075be5f7609b","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1160,380],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instance }}","remoteJid":"={{ $('Edit Fields').item.json.From }}","messageText":"=Você digitou:  {{ $('Edit Fields').item.json.Message }}","options_message":{"delay":1200}},"id":"9a2d3e02-b8d6-460f-a354-f15c90c666a5","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1380,380],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e95fccb-d1e2-4a63-9f86-906023e2eee0","triggerCount":0,"tags":[]}