ping-tC5vN3mZJEPV3SiK.json
{"updatedAt":"2025-05-28T12:05:18.000Z","createdAt":"2025-05-04T02:27:38.468Z","id":"tC5vN3mZJEPV3SiK","name":"Ping","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"recebimentomensagenswhatsapp","options":{}},"id":"438dd7a3-9554-4e06-be0e-172aa484b85b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,-240],"webhookId":"a678fa33-dadc-494a-82b8-ce91f59c7ed4"},{"parameters":{"assignments":{"assignments":[{"id":"1d561c4a-009f-491e-9e74-c082a23208ea","name":"From","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"3c911f33-b970-4970-b434-9d6c3735062a","name":"Instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"2f06b18a-1834-4e04-9a90-1337c178a7ec","name":"Message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"98217f69-847f-460b-8ef2-5e9d2b6a4d51","name":"MessageID","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"id":"9317d6a0-ac89-4c23-b652-1e7ba295ec08","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,-240]},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $json.Instance }}","remoteJid":"={{ $json.From }}","messageId":"={{ $json.MessageID }}"},"id":"4a30a260-ee48-44b9-9e95-8197e0ac4594","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,-240],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instance }}","remoteJid":"={{ $('Edit Fields').item.json.From }}","messageText":"=Você digitou:  {{ $('Edit Fields').item.json.Message }}","options_message":{"delay":1200}},"id":"4935704f-efa8-433d-bf8f-4bdeb9649956","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,-240],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2961955a-6ba7-4fdd-af1e-5df9ebc3507b","triggerCount":0,"shared":[{"updatedAt":"2025-05-04T02:27:38.476Z","createdAt":"2025-05-04T02:27:38.476Z","role":"workflow:owner","workflowId":"tC5vN3mZJEPV3SiK","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}