processos-talent---hd-copy-7VeCd3aFXCA6hCX7.json
{"createdAt":"2025-05-23T18:31:17.733Z","updatedAt":"2025-05-28T12:02:57.000Z","id":"7VeCd3aFXCA6hCX7","name":"Processos Talent - HD copy","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"12bb441e-24ea-4459-bc1c-b0002523efac","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"e702bc01-bb28-45c2-8b00-88837d16abfe","name":"Webhook","webhookId":"12bb441e-24ea-4459-bc1c-b0002523efac"},{"parameters":{"assignments":{"assignments":[{"id":"bc99c256-fb87-4c9f-b957-37f5116f9e34","name":"query.action","value":"={{ $json.query.action }}","type":"string"},{"id":"4766eb56-cd01-4e08-ac11-80da2978be32","name":"query.celphone","value":"={{ $json.query.celphone }}","type":"string"},{"id":"20e5dbed-d266-4920-aea6-348ad8b12acf","name":"query.name","value":"={{ $json.query.name }}","type":"string"},{"id":"62da0e6b-1309-4952-a863-9ac90dfaa865","name":"query.link","value":"={{ $json.query.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"efdd20c1-91c6-4e94-a968-ab3e0bae99ec","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.action }}","rightValue":"boasvindas","operator":{"type":"string","operation":"equals"},"id":"672bf1ec-6c55-4428-a9a4-49c0e038f85e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f8ed0ab-0d96-40cf-89ec-2da104a00d9a","leftValue":"={{ $json.query.action }}","rightValue":"pontos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15a7cc4b-4125-4e46-a37c-7c4d2ea70de4","leftValue":"={{ $json.query.action }}","rightValue":"EsqueciMinhaSenha","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,0],"id":"277e3e46-8f72-4cba-8afb-05dee706ac93","name":"Switch"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte Talent","remoteJid":"=55{{ $('Edit Fields').item.json.query.celphone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/boas-vindas-talent.png","caption":"=Olá, {{ $json.query.name }}! Seja muito bem-vindo ao Talent 2025. A partir de agora, cada projeto pode te levar ainda mais longe. Acumule pontos e acesse viagens e experiências exclusivas com a Hunter Douglas.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[680,-160],"id":"08e8c20c-a65f-448d-9d97-f919343ac931","name":"Evolution API","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"url":"={{ $json.query.link }}","additionalFields":{"title":"Altere a sua senha"}},"name":"Yourls","type":"n8n-nodes-base.yourls","position":[680,160],"typeVersion":1,"id":"ec00e500-f976-4729-aa33-acaa93bf644b","credentials":{"yourlsApi":{"id":"15DDrI7HPkvCtwRN","name":"Yourls account"}}},{"parameters":{"resource":"messages-api","instanceName":"Suporte Talent","remoteJid":"=55{{ $('Edit Fields').item.json.query.celphone }}","messageText":"Olá! Clique no link abaixo e atualize a sua senha.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[860,160],"id":"3edb96f3-0be7-4831-adb7-98f15d0a9526","name":"Evolution API1","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Suporte Talent","remoteJid":"=55{{ $('Edit Fields').item.json.query.celphone }}","messageText":"={{ $('Yourls').item.json.shorturl }}","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1040,160],"id":"9446fd4e-36af-4f5c-b52c-e0e722b35acf","name":"Evolution API2","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-buttons","instanceName":"Chip3","remoteJid":"=55{{ $('Edit Fields').item.json.query.celphone }}","title":"Esqueci minha Senha","description":"Atualize a sua senha","buttons":{"buttonValues":[{"type":"url","displayText":"Clique aqui","url":"={{ $('Yourls').item.json.shorturl }}"}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1220,160],"id":"d17d626e-4ed2-4ca8-a8d5-d9621e732ddb","name":"Evolution API3","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Evolution API","type":"main","index":0}],[],[{"node":"Yourls","type":"main","index":0}]]},"Yourls":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ac046e0-b04f-4ff9-8a51-1a0b5fc21ac8","triggerCount":1,"shared":[{"createdAt":"2025-05-23T18:31:17.748Z","updatedAt":"2025-05-23T18:31:17.748Z","role":"workflow:owner","workflowId":"7VeCd3aFXCA6hCX7","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}