processos-talent---hd-jdsf3slVADQhXDHv.json
{"createdAt":"2025-05-01T21:52:18.899Z","updatedAt":"2025-05-26T12:41:54.000Z","id":"jdsf3slVADQhXDHv","name":"Processos Talent - HD","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"9cd920a9-9aa0-4323-94d5-fa63c486bcdb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"a5245dc2-390e-47e6-b292-d554eab227ed","name":"Webhook","webhookId":"9cd920a9-9aa0-4323-94d5-fa63c486bcdb"},{"parameters":{"assignments":{"assignments":[{"id":"bc99c256-fb87-4c9f-b957-37f5116f9e34","name":"query.action","value":"={{ $json.query.action }}","type":"string"},{"id":"4766eb56-cd01-4e08-ac11-80da2978be32","name":"query.celphone","value":"={{ $json.query.celphone }}","type":"string"},{"id":"20e5dbed-d266-4920-aea6-348ad8b12acf","name":"query.name","value":"={{ $json.query.name }}","type":"string"},{"id":"95500fbe-37b2-4615-93db-0f8c9b172899","name":"query.link","value":"={{ $json.query.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"ef2abef3-fd1a-4acf-a3c3-9080869d08d8","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.action }}","rightValue":"boasvindas","operator":{"type":"string","operation":"equals"},"id":"672bf1ec-6c55-4428-a9a4-49c0e038f85e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f8ed0ab-0d96-40cf-89ec-2da104a00d9a","leftValue":"={{ $json.query.action }}","rightValue":"pontos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"938324a2-3c82-4517-b988-4cf22f453895","leftValue":"={{ $json.query.action }}","rightValue":"EsqueciMinhaSenha","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,0],"id":"a1b1a143-5833-49ae-abcd-6f0f7a9c009d","name":"Switch"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte Talent","remoteJid":"=55{{ $('Edit Fields').item.json.query.celphone }}","media":"https://mobilevet.blob.core.windows.net/arquivos/boas-vindas-talent.png","caption":"=Olá, {{ $json.query.name }}! Seja muito bem-vindo ao Talent 2025. A partir de agora, cada projeto pode te levar ainda mais longe. Acumule pontos e acesse viagens e experiências exclusivas com a Hunter Douglas.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[660,-100],"id":"fcd89aeb-bd82-4c90-9c5c-2477259d388d","name":"Evolution API","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"url":"={{ $json.query.link }}","additionalFields":{"title":"Altere a sua senha"}},"name":"Yourls","type":"n8n-nodes-base.yourls","position":[660,140],"typeVersion":1,"id":"f806dc78-faca-4089-ad4b-bdf67d9871fb","credentials":{"yourlsApi":{"id":"15DDrI7HPkvCtwRN","name":"Yourls account"}}},{"parameters":{"resource":"messages-api","instanceName":"Suporte Talent","remoteJid":"=55{{ $('Edit Fields').item.json.query.celphone }}","messageText":"Olá! Clique no link abaixo e atualize a sua senha.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[840,140],"id":"6f5853ea-3514-487e-b402-d859782e3360","name":"Evolution API1","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Suporte Talent","remoteJid":"=55{{ $('Edit Fields').item.json.query.celphone }}","messageText":"={{ $('Yourls').item.json.shorturl }}","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,140],"id":"ba438950-3fbe-49aa-9dbb-fa025c7f120c","name":"Evolution API2","credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Evolution API","type":"main","index":0}],[],[{"node":"Yourls","type":"main","index":0}]]},"Yourls":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4825f297-73cc-4f76-80fc-a0480cd63ce9","triggerCount":1,"shared":[{"createdAt":"2025-05-01T21:52:18.910Z","updatedAt":"2025-05-01T21:52:18.910Z","role":"workflow:owner","workflowId":"jdsf3slVADQhXDHv","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}