régua-relacionamento-7-dias-TV58cBcc75E35gdj.json
{"createdAt":"2025-05-09T18:57:52.071Z","updatedAt":"2025-05-09T21:11:52.000Z","id":"TV58cBcc75E35gdj","name":"Régua Relacionamento 7 dias","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"48525ee3-b731-42ab-a516-84841ebafa2a","name":"Schedule Trigger"},{"parameters":{"url":"https://programapontos-homolog.azurewebsites.net/api/Perfil/GetPerfisByCadastroDias?dias=21","sendQuery":true,"queryParameters":{"parameters":[{"name":"dias","value":"21"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"300e25f1-17d3-4214-862a-8e153d3256fe","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://programapontos-homolog.azurewebsites.net/api/Account/Login","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"wilson@rasystem.com.br"},{"name":"password","value":"Suporte@1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"4c22e93f-c1aa-4bf9-a28f-ace60cdd3966","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"2dea638b-8ee4-4631-98e9-c45ef55c655e","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"1bd27811-3955-481c-bb87-34909bf4e4a7","name":"celular","value":"={{ $json.celular }}","type":"string"},{"id":"f8da5832-c7a0-48d2-b189-80489eb924eb","name":"tamanhoCel","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,0],"id":"5509b6a7-fe79-4a2c-b05f-45d83fe19b97","name":"Edit Fields"},{"parameters":{"jsCode":"function limparString(str) {  \n  if (str === null || typeof str === 'undefined') {\n    return ''; \n  }\n  \n  if (typeof str !== 'string') {\n    return ''; \n  }\n\n  return str.replace(/[\\s()\\-]/g, '');\n}\n\n\nfunction formatarPrimeiroNome(nomeCompleto) {\n  // 1. Verifica se a entrada é válida e é uma string\n  if (nomeCompleto === null || typeof nomeCompleto === 'undefined' || typeof nomeCompleto !== 'string') {\n    return ''; // Retorna string vazia para entradas inválidas\n  }\n\n  // 2. Remove espaços extras no início e no fim da string\n  const nomeTrimmed = nomeCompleto.trim();\n\n  // 3. Se a string estiver vazia após o trim, retorna string vazia\n  if (nomeTrimmed === '') {\n    return '';\n  }\n\n  // 4. Divide o nome em partes usando o espaço como delimitador\n  const partesNome = nomeTrimmed.split(' ');\n\n  // 5. Pega a primeira parte (o primeiro nome)\n  // Filtra para remover possíveis strings vazias resultantes de múltiplos espaços\n  const primeiroNome = partesNome.find(parte => parte !== '');\n\n  // 6. Se nenhum primeiro nome válido for encontrado (ex: string era só espaços)\n  if (!primeiroNome) {\n    return '';\n  }\n\n  // 7. Formata o primeiro nome:\n  // Pega a primeira letra e a converte para maiúscula\n  const primeiraLetra = primeiroNome.charAt(0).toUpperCase();\n  // Pega o restante do nome (a partir do segundo caractere) e converte para minúscula\n  const restanteDoNome = primeiroNome.slice(1).toLowerCase();\n\n  // 8. Retorna o primeiro nome formatado\n  return primeiraLetra + restanteDoNome;\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  //item.json.myNewField = 1;\n  item.json.nome = formatarPrimeiroNome(item.json.nome);\n  item.json.celular = limparString(item.json.celular);\n  item.json.tamanhoCel = item.json.celular.length;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"67d5f7d5-a790-4792-9b8e-f7e080541e70","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1100,0],"id":"fbd8b1ff-711e-43ec-9af6-8ad136591399","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2040,0],"id":"788fade5-55b1-427f-8070-7a30c5161605"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7072e9a7-c621-477d-8872-219fd3d6a20b","leftValue":"={{ $json.tamanhoCel }}","rightValue":10,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,20],"id":"4d3b460a-7419-4139-9963-3a0efa5e4e87","name":"If"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte Talent","remoteJid":"=5511992385778","media":"https://mobilevet.blob.core.windows.net/arquivos/regua-7dias.jpg","caption":"={{ $json.nome }}, já deu uma olhada em tudo o que você pode aproveitar no Talent 2025?  Explore a plataforma e descubra inúmeras recompensas exclusivas para reconhecer talentos como o seu.","options_message":{}},"id":"c6837a6b-850c-4121-99c9-c66396bfd46a","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1600,0],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1820,0],"id":"3d569a66-c8c0-4adc-82db-620d1eca5dad","name":"Wait","webhookId":"2c5d5e41-7e57-43c5-a188-7ebe8aafd286"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"54e26dad-18f5-4ba2-9eae-d6dfb5b71de0","triggerCount":0,"shared":[{"createdAt":"2025-05-09T18:57:52.092Z","updatedAt":"2025-05-09T18:57:52.092Z","role":"workflow:owner","workflowId":"TV58cBcc75E35gdj","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}