start-functions-vektn8jDTjJ9S1OR.json
{"createdAt":"2025-10-23T14:34:10.671Z","updatedAt":"2025-11-06T19:30:40.000Z","id":"vektn8jDTjJ9S1OR","name":"Start Functions","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Account/login","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"username\":\"rasystem@rasystem.com.br\", \n  \"password\" :\"P}Yz5u;&_}%t^:lT\" \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,-320],"id":"5f8c4899-9522-4c4d-9a62-4a20b6ee28c3","name":"Get Token"},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/perfil/AtualizarClienteID","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-320],"id":"bb6deb7c-452f-4c15-b81a-931909e19830","name":"Atualiza ClienteID","credentials":{"httpBearerAuth":{"id":"MzDZcv1XpQTwpAGf","name":"Get Token"}}},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Account/login","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"username\":\"rasystem@rasystem.com.br\", \n  \"password\" :\"P}Yz5u;&_}%t^:lT\" \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,-96],"id":"363338bc-b7be-44fa-bdbe-2d8f442956d1","name":"Get Token1"},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Pontos/ImportarPontos","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"DataInicial","value":"={{ $now.minus(1,'days') }}"},{"name":"DataFinal","value":"={{ $now.minus(1,'days') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-96],"id":"fdd845c9-b011-48a6-90fd-49fc241502fd","name":"Importa Pontos","credentials":{"httpBearerAuth":{"id":"u8YTAwWtpOsVyKF2","name":"Get Token1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"459dc090-1238-42a0-af52-6a17a9d103e9","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-96],"id":"f21a876a-d401-4f07-beb7-354116a10063","name":"If"},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Pontos/ProcessarPontosImportado","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,-192],"id":"5b2d5ec3-609a-4201-a03b-66a3f3a64f1b","name":"Pocessar Pontos Importados","credentials":{"httpBearerAuth":{"id":"u8YTAwWtpOsVyKF2","name":"Get Token1"}}},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Pontos/ProcessarPontosPendentes","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-192],"id":"7c6b1b30-b272-4bf5-bf1f-4cedbe3cf5db","name":"Pocessar Pontos Pendentes","credentials":{"httpBearerAuth":{"id":"u8YTAwWtpOsVyKF2","name":"Get Token1"}}},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Account/login","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"username\":\"rasystem@rasystem.com.br\", \n  \"password\" :\"P}Yz5u;&_}%t^:lT\" \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,80],"id":"70c43098-f65e-4958-a048-9b2940804040","name":"Get Token2"},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Apuracao/GerarApuracao","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataInicio","value":"2025-01-01"},{"name":"dataFim","value":"2025-12-31"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,80],"id":"3b5efacf-08ab-4f61-a7ee-50f76a2b70f9","name":"Processar Apuração","credentials":{"httpBearerAuth":{"id":"EKxGKX2wWuY1T1vs","name":"Get Token2"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Apuracao/GerarApuracaoPendente","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataInicio","value":"2025-01-01"},{"name":"dataFim","value":"2025-12-31"}]},"options":{"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,80],"id":"e7b40e37-fc41-4d7a-99b0-d4c2b05ef17e","name":"Processar Apuração Pendentes","credentials":{"httpBearerAuth":{"id":"EKxGKX2wWuY1T1vs","name":"Get Token2"}}},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/Account/login","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"username\":\"rasystem@rasystem.com.br\", \n  \"password\" :\"P}Yz5u;&_}%t^:lT\" \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,256],"id":"c6a02951-e71c-4750-a7dc-26851b0cdd41","name":"Get Token3"},{"parameters":{"method":"POST","url":"https://programaprontos.azurewebsites.net/api/apuracao/AtualizarClassificacao","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,256],"id":"bc00310e-2ba0-4709-ba02-68e47c76c8b1","name":"Atualiza Classificação","credentials":{"httpBearerAuth":{"id":"E196YwHbugA24kr0","name":"Get Token3"}}},{"parameters":{"method":"POST","url":"https://api.sendgrid.com/v3/mail/send","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"personalizations\": [\n    {\n      \"to\": [\n        {\n          \"email\": \"rasystem@rasystem.com.br\"\n        }\n      ]\n    }\n  ],\n  \"from\": {\n    \"email\": \"thiago@rasystem.com.br\"\n  },\n  \"subject\": \"Erro Rotinas Hunter Douglas\",\n  \"content\": [\n    {\n      \"type\": \"text/plain\",\n      \"value\": \"Erro na importação dos pontos\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,160],"id":"60e3673f-3a57-4782-857b-173376284849","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"YXCGgXBI61LP325w","name":"APIKey SendGrid"}},"disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-320],"id":"e1cd35fa-1aa9-4b43-8c3f-bb27e511f9ce","name":"Schedule Trigger 7am"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-96],"id":"5468a996-ab22-4370-97ed-9dde141145ce","name":"Schedule Trigger 7:30am"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,80],"id":"06d5991b-7c1f-4c1c-9582-7a6422deeba6","name":"Schedule Trigger 8am"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,256],"id":"f8abb75a-b762-405f-aef0-b7557370bb5a","name":"Schedule Trigger 8:30am"}],"connections":{"Get Token":{"main":[[{"node":"Atualiza ClienteID","type":"main","index":0}]]},"Get Token1":{"main":[[{"node":"Importa Pontos","type":"main","index":0}]]},"Importa Pontos":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Pocessar Pontos Importados","type":"main","index":0}],[]]},"Pocessar Pontos Importados":{"main":[[{"node":"Pocessar Pontos Pendentes","type":"main","index":0}]]},"Get Token2":{"main":[[{"node":"Processar Apuração","type":"main","index":0}]]},"Processar Apuração":{"main":[[{"node":"Processar Apuração Pendentes","type":"main","index":0}]]},"Get Token3":{"main":[[{"node":"Atualiza Classificação","type":"main","index":0}]]},"Schedule Trigger 7am":{"main":[[{"node":"Get Token","type":"main","index":0}]]},"Schedule Trigger 7:30am":{"main":[[{"node":"Get Token1","type":"main","index":0}]]},"Schedule Trigger 8am":{"main":[[{"node":"Get Token2","type":"main","index":0}]]},"Schedule Trigger 8:30am":{"main":[[{"node":"Get Token3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger 3am":{"recurrenceRules":[]},"node:Schedule Trigger 4am":{"recurrenceRules":[]},"node:Schedule Trigger 5am":{"recurrenceRules":[]},"node:Schedule Trigger 6am":{"recurrenceRules":[]},"node:Schedule Trigger 7am":{"recurrenceRules":[]},"node:Schedule Trigger 7:30am":{"recurrenceRules":[]},"node:Schedule Trigger 8am":{"recurrenceRules":[]},"node:Schedule Trigger 8:30am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9646be9f-8e8e-44b4-a3dc-892933a393bc","triggerCount":4,"shared":[{"createdAt":"2025-10-23T14:34:10.676Z","updatedAt":"2025-10-23T14:34:10.676Z","role":"workflow:owner","workflowId":"vektn8jDTjJ9S1OR","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}