subfluxo-disparo-whatsapp-nhQGpKE186cx7aN7.json
{"createdAt":"2025-06-16T12:59:06.337Z","updatedAt":"2025-07-19T15:21:09.000Z","id":"nhQGpKE186cx7aN7","name":"SubFluxo Disparo WhatsApp","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"instancia"},{"name":"tipo"},{"name":"telefone"},{"name":"url-video","type":"any"},{"name":"url-imagem","type":"any"},{"name":"mensagem"},{"name":"link"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"d6edfa7d-08ed-4afe-96d1-32af95b05bd5","name":"When Executed by Another Workflow"},{"parameters":{"amount":"={{ Math.floor(Math.random() * (4) + 4) }}"},"id":"31e6ee51-fa11-473d-b532-14af62657b29","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[780,160],"webhookId":"564914a7-865b-431f-89ef-6c866013b6c4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo }}","rightValue":"video","operator":{"type":"string","operation":"equals"},"id":"2519074c-6845-4c9e-83f3-b64981646cc1"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e82a8d19-f25e-4fab-a1e3-c93959138bba","leftValue":"={{ $json.tipo }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b6b13c-94a2-426a-a827-0512bf11eb20","leftValue":"={{ $json.tipo }}","rightValue":"texto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,0],"id":"94eed2e5-eff4-46a9-9b50-3500ad0089c3","name":"Switch"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $json.instancia }}","remoteJid":"=55{{ $json.telefone }}","media":"={{ $json['url-imagem'] }}","caption":"={{ $json.mensagem }}","options_message":{}},"id":"241a375d-5080-4cd3-962c-6a087e8443b2","name":"Enviar Imagem","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[520,160],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"={{ $json.instancia }}","remoteJid":"=55{{ $json.telefone }}","media":"={{ $json['url-video'] }}","caption":"={{ $json.mensagem }}","options_message":{"delay":1200}},"id":"68fb1088-d5b3-4ca7-baca-4cee9aa1714a","name":"Enviar Video","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[520,-20],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.instancia }}","remoteJid":"=55{{ $json.telefone }}","messageText":"={{ $json.mensagem }}","options_message":{}},"id":"d152f210-b31c-4ae3-9e28-37d7f793ebf2","name":"Enviar Texto","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[520,340],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdb6e15a-27a2-494e-98d3-7d12733d78c7","leftValue":"={{ $('When Executed by Another Workflow').item.json.link }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1000,160],"id":"d82f187b-c349-4dbb-b06d-e404a209443f","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Switch').item.json.instancia }}","remoteJid":"=55{{ $('Switch').item.json.telefone }}@s.whatsapp.net","messageText":"={{ $('Switch').item.json.link }}","options_message":{}},"id":"3ffaa6cb-2cbf-45ea-99a1-5d87fc8fa2d9","name":"Enviar Link","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1240,140],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ab64ae34-7f86-466a-99f7-779432857c0b","name":"response","value":"Mensagem Enviada com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,320],"id":"0a7bc49c-7410-414a-a850-15d5fb036338","name":"Edit Fields"}],"connections":{"Wait1":{"main":[[{"node":"If","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar Video","type":"main","index":0}],[{"node":"Enviar Imagem","type":"main","index":0}],[{"node":"Enviar Texto","type":"main","index":0}]]},"Enviar Video":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Enviar Imagem":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Enviar Texto":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar Link","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Enviar Link":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0d953a5-a9d7-4468-868a-1a6dabdc4fd9","triggerCount":0,"shared":[{"createdAt":"2025-06-16T12:59:06.346Z","updatedAt":"2025-06-16T12:59:06.346Z","role":"workflow:owner","workflowId":"nhQGpKE186cx7aN7","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}