verificar-se-whatsapp-existe-NWyJMJTkrlPM3uv2.json
{"createdAt":"2025-02-28T01:25:33.531Z","updatedAt":"2025-05-01T21:33:38.000Z","id":"NWyJMJTkrlPM3uv2","name":"Verificar Se Whatsapp Existe","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"b2c44135-c057-4490-ab42-31f365fbeccf","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[880,380]},{"parameters":{"documentId":{"__rl":true,"value":"1Q2BPCDVuBKzJf45UUuw3IizJDM2JlpbVDUkKJhWoGis","mode":"list","cachedResultName":"Planilha HD - Grupo 3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2BPCDVuBKzJf45UUuw3IizJDM2JlpbVDUkKJhWoGis/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2BPCDVuBKzJf45UUuw3IizJDM2JlpbVDUkKJhWoGis/edit#gid=0"},"options":{}},"id":"1e83a794-f605-4f18-b035-47bf572de771","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,380],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"3168ceb5-8f3e-4436-aaf6-f54cf5959680","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1380,380]},{"parameters":{},"id":"bf500372-7702-41b3-bac6-120602a56f13","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2580,400]},{"parameters":{"resource":"chat-api","instanceName":"Chip3","numbers":"=55{{ $json.Telefone }}"},"id":"6cb85cd1-188a-4e91-8483-34df1c73c551","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1900,400],"credentials":{"evolutionApi":{"id":"AM7TR8XRMXSro6aN","name":"Evolution account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Q2BPCDVuBKzJf45UUuw3IizJDM2JlpbVDUkKJhWoGis","mode":"list","cachedResultName":"Planilha HD - Grupo 3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2BPCDVuBKzJf45UUuw3IizJDM2JlpbVDUkKJhWoGis/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pg1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz00cT5pgpPmep9wWbYZYPHiNtssgmza0pk2RZNt-5I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Loop Over Items').item.json.Telefone }}","Existe":"={{ $json.data[0].exists === true ? \"SIM\" : \"NÃO\" }}","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Existe","displayName":"Existe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"b2fba2cf-7c3d-46f0-8c2c-28dce3da20e6","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,400],"credentials":{"googleSheetsOAuth2Api":{"id":"W50qARSfHJAKIrXR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00fe3841-bebd-4679-91b3-f37d994eba91","leftValue":"={{ $json.Existe }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8c780ecc-7078-47f7-a8c9-45da20171dd6","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1620,400]},{"parameters":{"amount":1.1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2380,400],"id":"2157e8ce-0cb9-4fbb-90f7-4298e48645b5","name":"Wait","webhookId":"80f8a72f-91e1-469c-8ae4-fa561b38a2e9"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"66c4057a-17a2-45fc-ac32-7dbcf9f932e7","triggerCount":0,"shared":[{"createdAt":"2025-02-28T01:25:33.535Z","updatedAt":"2025-02-28T01:25:33.535Z","role":"workflow:owner","workflowId":"NWyJMJTkrlPM3uv2","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}