woof-instagram-2HWQo6BLGTzLpeFC.json
{"createdAt":"2025-10-16T17:19:08.471Z","updatedAt":"2025-10-18T21:55:01.000Z","id":"2HWQo6BLGTzLpeFC","name":"woof-instagram","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-464,-64],"id":"65410a52-80f9-4912-aaf9-96302045fa81","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"98cfc295-004d-4ee8-9a23-157ec4d50074","name":"image_url","value":"={{ $json.body.image_url }}","type":"string"},{"id":"feb12e40-3362-47ac-89dc-03cf0ba9b76a","name":"caption","value":"={{ $json.body.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-64],"id":"07051f04-2223-448b-8812-edbc32f14012","name":"Inputs"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"17841477511880008","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url }}"},{"name":"caption","value":"={{ $json.caption }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[160,-64],"id":"fb5cd580-dcc6-4fec-b0eb-ae60863c2e09","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"xVzJvPkP78leGrPY","name":"Facebook Graph account"}},"disabled":true},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[368,-64],"id":"f405c7c8-511b-43db-9b97-7dfc760c80af","name":"Container","webhookId":"44928fc9-653c-4780-afec-a4ef92968508","disabled":true},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"17841477511880008","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"},{"name":"image_url","value":"={{ $('Inputs').item.json.image_url }}"},{"name":"caption","value":"={{ $('Inputs').item.json.caption }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[576,-64],"id":"8ace47e6-45b1-4091-9df7-d5c2f12bb12b","name":"Facebook Graph API1","credentials":{"facebookGraphApi":{"id":"xVzJvPkP78leGrPY","name":"Facebook Graph account"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"instagram-woof","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,-224],"id":"44e6b4f7-c378-4ec4-8e8a-e08874638c04","name":"Webhook","webhookId":"2a793383-ee67-4bc4-a73a-e59361d66e3c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"fcc28662-f97d-48f5-bcb8-cf819f401433"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-48,-64],"id":"1c1f79ee-32c3-42fe-bb4e-de9b06468439","name":"Switch"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Inputs","type":"main","index":0}]]},"Inputs":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"Container","type":"main","index":0}]]},"Container":{"main":[[{"node":"Facebook Graph API1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Inputs","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1ba9217-f273-4d2c-9baf-e4e224654699","triggerCount":1,"shared":[{"createdAt":"2025-10-16T17:19:08.490Z","updatedAt":"2025-10-16T17:19:08.490Z","role":"workflow:owner","workflowId":"2HWQo6BLGTzLpeFC","projectId":"5dTxE8vBWJ6kQMrp"}],"tags":[]}